{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="courts-list">
        {% if courts %}
            {% for court in courts %}
                <a href="{{ path('where_to_play_show', { 'id': court.id }) }}">
                 {{ court.user.commercialName }}
                </a>
                <br>
            {% endfor %}
        {% else %}
        Pas de terrains
        {% endif %}
    </div>
{% endblock %}