{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="court-details">
        {% if court %}
            Page détail du court : {{ court.user.commercialName }}
        {% endif %}
    </div>
{% endblock %}