{% extends 'base.html.twig' %}

{% block body %}

    {% block fos_user_content %}
        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
    {% endblock fos_user_content %}

{% endblock %}