{% trans_default_domain 'FOSUserBundle' %}

<div class="container container-content-change-password">

    <div class="bloc-change-password">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

        <div class="bloc-current-password">
                {{ form_label(form.current_password) }}
                {{ form_widget(form.current_password, {'attr': {'class': 'bloc-input-text'} }) }}
            </div>
            <div class="bloc-new-password">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'bloc-input-text'} }) }}
            </div>
            <div class="bloc-confirmation-new-password">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'bloc-input-text'} }) }}
            </div>
            <div class="container-input-extra-large">
                <button type="submit" id='submit-change-password' class="btn-small--blue">
                <span class="word">
                    Modifier mon mot de passe{% include "svg/arrow-circle-right.svg.twig" %}
                </span>
                </button>
            </div>
        {{ form_end(form) }}
    </div>
</div>

{% if form.current_password.vars['errors']|length > 0 or form.plainPassword.first.vars['errors']|length > 0 or form.plainPassword.second.vars['errors']|length > 0 %}
    <div class="bloc-error-message">
        {% include "bundles/FOSUserBundle/ChangePassword/template_error_change_password.html.twig" with {'errors': form.current_password.vars['errors'] } %}
        {% include "bundles/FOSUserBundle/ChangePassword/template_error_change_password.html.twig" with {'errors': form.plainPassword.first.vars['errors'] } %}
        {% include "bundles/FOSUserBundle/ChangePassword/template_error_change_password.html.twig" with {'errors': form.plainPassword.second.vars['errors'] } %}
    </div>
{% endif %}

