{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger alert-dismissible fade show js-alert-to-deplace" role="alert">
        {{ error.messageKey|trans(error.messageData, 'security') }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
    <div class="container-input-small mb-4">
        <div class="icone-label">
            <div class="input-icone">
                {% include "svg/user-square.svg.twig" %}
            </div>
            <div class="input-label">
                <label for="username">Adresse e-mail ou nom d'utilisateur</label>
            </div>
        </div>
        <div class="input-text">
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
        </div>
    </div>

    <div class="container-input-small mb-3">
        <div class="icone-label">
            <div class="input-icone">
                {% include "svg/padlock.svg.twig" %}
            </div>
            <div class="input-label">
                <label for="password">Mot de passe</label>
            </div>
        </div>
        <div class="input-text">
            <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
        </div>
        <div class="location">
            <div class="location-word">
                <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
            </div>
        </div>
    </div>

    <div class="container-input-large mb-3">
        <div class="input-check">
            <div class="container-choice-checkbox">
                <div class="choice">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">Rester connecté</label>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" id="_submit" name="_submit" class="btn-small--blue">
        <span class="word">Se connecter {% include "svg/arrow-circle-right.svg.twig" %}</span>
    </button>
</form>
