{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="container-fluid pl-0 pr-0">
    <div class="newsletter-section">
        <div class="container-newsletter">
            <div class="container-picture-newsletter">
                <img src="{{asset('images/png/newsletter-image.jpg')}}" title="newsletter-picture" alt="newsletter-picture" class="picture-newsletter">
                <div class="container-content-text-newsletter">
                    <div class="join-us">
                        Rejoignez nous pour rester au courant du monde de la raquette
                    </div>
                    <div class="input-mail-newsletter">
                        <div class="input-text">
                            <input type="text" id="input-newsletter-id" name="input-newsletter" placeholder="Votre addresse e-mail">
                        </div>
                    </div>
                    <div class="btn-subscribe-newsletter">
                        {# TODO ADD HREF #}
                        <a href="" class="btn-large--blue">
                    <span class="word">
                        S'abonner
                    </span>
                            {% include "svg/envelope-check.svg.twig" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '/partials/footer.html.twig' %}
{% endblock %}
