// =============================================================================
// FONTS
//
// Ce fichier importe les différentes polices,
// et défini les tailles de texte par défaut
// =============================================================================

@import 'variables';


// Font faces
// ===================================================================

@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/Overpass-Regular.eot');
  src: url('../../fonts/Overpass-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Overpass-Regular.woff2') format('woff2'),
  url('../../fonts/Overpass-Regular.woff') format('woff'),
  url('../../fonts/Overpass-Regular.ttf') format('truetype'),
  url('../../fonts/Overpass-Regular.svg#Overpass-Regular') format('svg');
}

@font-face {
  font-family: "Overpass-SemiBold";
  font-style: normal;
  font-weight: bold;
  src: url('../../fonts/Overpass-SemiBold.eot');
  src: url('../../fonts/Overpass-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Overpass-SemiBold.woff2') format('woff2'),
  url('../../fonts/Overpass-SemiBold.woff') format('woff'),
  url('../../fonts/Overpass-SemiBold.ttf') format('truetype'),
  url('../../fonts/Overpass-SemiBold.svg#Overpass-SemiBold') format('svg');
}

@font-face {
  font-family: "Overpass-Bold";
  font-style: normal;
  font-weight: bold;
  src: url('../../fonts/Overpass-Bold.eot');
  src: url('../../fonts/Overpass-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Overpass-Bold.woff2') format('woff2'),
  url('../../fonts/Overpass-Bold.woff') format('woff'),
  url('../../fonts/Overpass-Bold.ttf') format('truetype'),
  url('../../fonts/Overpass-Bold.svg#Overpass-Bold') format('svg');

}

@font-face {
  font-family: "Overpass-ExtraBold";
  font-style: normal;
  font-weight: bold;
  src: url('../../fonts/Overpass-ExtraBold.eot');
  src: url('../../fonts/Overpass-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Overpass-ExtraBold.woff2') format('woff2'),
  url('../../fonts/Overpass-ExtraBold.woff') format('woff'),
  url('../../fonts/Overpass-ExtraBold.ttf') format('truetype'),
  url('../../fonts/Overpass-ExtraBold.svg#Overpass-ExtraBold') format('svg');
}

@font-face {
  font-family: "Overpass-Black";
  font-style: normal;
  font-weight: bold;
  src: url('../../fonts/Overpass-Black.eot');
  src: url('../../fonts/Overpass-Black.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Overpass-Black.woff2') format('woff2'),
  url('../../fonts/Overpass-Black.woff') format('woff'),
  url('../../fonts/Overpass-Black.ttf') format('truetype'),
  url('../../fonts/Overpass-Black.svg#Overpass-Black') format('svg');
}

@font-face {
  font-family: "Overpass-Light";
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/Overpass-Light.eot');
  src: url('../../fonts/Overpass-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Overpass-Light.woff2') format('woff2'),
  url('../../fonts/Overpass-Light.woff') format('woff'),
  url('../../fonts/Overpass-Light.ttf') format('truetype'),
  url('../../fonts/Overpass-Light.svg#Overpass-Light') format('svg');
}

@font-face {
  font-family: "Overpass-Italic";
  font-style: italic;
  font-weight: normal;
  src: url('../../fonts/Overpass-Italic.eot');
  src: url('../../fonts/Overpass-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Overpass-Italic.woff2') format('woff2'),
  url('../../fonts/Overpass-Italic.woff') format('woff'),
  url('../../fonts/Overpass-Italic.ttf') format('truetype'),
  url('../../fonts/Overpass-Italic.svg#Overpass-Italic') format('svg');
}


// Fonts sizes
// ===================================================================

body {
    font-size: 15px;
    font-family: "Overpass", sans-serif;


    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    @media (min-width: $min-md-bkpt) {
      h1 {
        font-size: 2.3em;
      }

      h2 {
        font-size: 1.98571em;
      }
      
      h3 {
        font-size: 1.62857em;
      }
      
      h4 {
        font-size: 1.38571em;
      }
      
      h5 {
        font-size: 1.24286em;
      }
      
      h6 {
        font-size: 1.17143em;
      }

      span {
        font-size: 1em;
      }

      p {
          font-size: 1em;
      }
    }

    @media (max-width: $max-sm-bkpt) {
      h1 {
        font-size: 1.9em;
      }

      h2 {
        font-size: 1.68571em;
      }
      
      h3 {
        font-size: 1.42857em;
      }
      
      h4 {
        font-size: 1.28571em;
      }
      
      h5 {
        font-size: 1.14286em;
      }
      
      h6 {
        font-size: 1.12143em;
      }

      span {
        font-size: 1em;
      }

      p {
          font-size: 1em;
      }
    }
}
