// =============================================================================
// INIT
//
// Ce fichier regroupe les imports vers les librairies externes
// et les règles de normalization / initialisation de styles sur les éléments html directement
// =============================================================================


// Import librairies
// ===================================================================

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~normalize.css/normalize";
@import "~select2/dist/css/select2";
@import "~jquery-ui-bundle/jquery-ui.css";
//@import "~jquery-steps/demo/css/jquery.steps.css";


// Initialization
// Default style on html elements
// ===================================================================

html {
  height: 100%;
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px; // For header fixed

    * {
      box-sizing: border-box;
    }

    p {
      margin: 0 0 15px;
    }

    a:before, a:after {
      display: inline-block;
      text-decoration: none;
    }

    ul {
      padding: 0;
      margin: 0 0 0 15px;
    }

    button {
      border: none;
    }

    label {
        margin: 0;
    }
  }
}