// =============================================================================
// MIXINS
// =============================================================================

@import 'variables';
// Mixins cards
// ===================================================================

@mixin container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 8%;
  padding-right: 8%;
}

@mixin container-single-card {
  width: 28%;
  background-color: inherit;
  margin: 40px 0;
  border-radius: 10px;

  &:nth-of-type(3n-1){
    margin-left: 8%;
    margin-right: 8%;
  }

  @media (max-width: 992px) {
    width: 45%;

    &:nth-of-type(3n-1){
      margin-left: 0;
      margin-right: 0;
    }
    &:nth-of-type(even){
      margin-left: 5%;
    }
    &:nth-of-type(odd){
      margin-right: 5%;
    }
  }

  @media (max-width: 768px) {
    width: 100%;

    &:nth-of-type(3n-1){
      margin-left: 0;
      margin-right: 0;
    }
    &:nth-of-type(even){
      margin-left: 0;
    }
    &:nth-of-type(odd){
      margin-right: 0;
    }
  }

}

@mixin container-picture {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 260px;
}

@mixin picture {
  position: absolute;
  height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

@mixin bloc-text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: $cyan-blue;
  svg {
    height: 24px;
    width: auto;
    path {
      fill: $cyan-blue;
    }
  }
}

@mixin pastille-partner-month {
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60px;
  height: 60px;
  color: $celeste-blue;
  border-radius: 50px;
  border: 1px solid $celeste-blue;
  background-color: $white;
  padding: 2px 10px 2px 10px;
  align-self: center;
  position: absolute;
  svg {
    height: 26px;
    width: auto;
    path {
      fill: $safran-yellow;
    }
  }
}

@mixin pastille-top {
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 130px;
  height: 35px;
  color: $celeste-blue;
  border-radius: 50px;
  background-color: $white;
  margin: 10px 10px 0 0;
  padding: 2px 10px 2px 10px;
  position: absolute;
  top: 0;
  right: 0;
  svg {
    height: 20px;
    width: auto;
    path {
      fill: $celeste-blue;
    }
  }
}

@mixin pastille-bottom {
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 160px;
  height: 35px;
  color: $white;
  border-radius: 50px;
  border: 1px solid $white;
  background-color: $cyan-blue;
  margin: 0 10px 10px 0;
  padding: 2px 10px 2px 10px;
  svg {
    height: 20px;
    width: auto;
    path {
      fill: $white;
    }
  }
}

// Mixins inputs
// ===================================================================

@mixin icone-label {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 0 10px 0;


  .input-icone {
    display: flex;
    align-items: center;

    svg {
      @include svg;
    }
  }

  .input-label {
    margin: 0 0 0 10px;
    font-family: Overpass-SemiBold;
    font-size: 13px;

    label {
      margin-bottom: inherit;
    }
  }
}

@mixin input-newsletter {
  width: 100%;
  height: 35px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid $white;
  color: $white;
  font-size: 13px;
  font-family: Overpass;
  padding: 2px 0 0 15px;
  background-color: $dark-grey;
  opacity: 0.7;

  &::placeholder {
    color: $white;
  }
}

.input-newsletter {
  @include input-newsletter;
}

@mixin input {
  width: 100%;
  height: 35px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid $celeste-blue;
  color: $black;
  font-size: 13px;
  font-family: Overpass;
  padding: 2px 10px 0 15px;
}

@mixin input-text {
  @include input;
}

@mixin input-number {
  @include input;
}

@mixin svg {
  height: 24px;
  padding: 2px 2px;
  width: auto;
  path {
    fill: $celeste-blue;
  }
}

@mixin small-svg {
  path {
    fill: $celeste-blue;
  }
}

@mixin input-range-bar {
  input[type="range"].input-range {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: $celeste-blue;
  }

  /* la zone de déplacement firefox */
  input[type="range"].input-range::-moz-range-track {
    height: 100%;
    border: none;
    border-radius: 0;
    background-color: transparent;
  }
  /* le curseur firefox */
  input[type="range"].input-range::-moz-range-thumb {
    background: $white;
    border: 1px solid $celeste-blue;
  }

  /* la zone de déplacement chrome */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 2px;
    background: $celeste-blue;
  }
  /* le curseur chrome */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid $celeste-blue;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -10px;
  }
}

@mixin input-checkbox {
  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    display: none;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    margin-bottom: 4px;
    display: inline-block;
    font-size: 13px;
    font-family: Overpass;
  }
  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid $celeste-blue;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 1px;
    left: 2px;
    font-size: 13px;
    line-height: 1.2;
    color: $celeste-blue;
    transition: all .2s;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
}

@mixin input-radio {
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    display: none;
  }

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: $black;
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $celeste-blue;
    border-radius: 100%;
    background: $white;
  }

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $celeste-blue;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  label {
    font-size: 13px;
    font-family: Overpass;
  }
}
  