// =============================================================================
// TARTEAUCITRON
//
// =============================================================================

@import "variables";

// Colors
// ===================================================================
@mixin citrontarte-background() {
    background: $celeste-blue !important;
}
@mixin citrontarte-border() {
    border-color: $celeste-blue;
}
@mixin citrontarte-color() {
    color: $celeste-blue;
}
@mixin citrontarte-colorneutral() {
    color: $celeste-blue;
}

// Application on elements
// ===================================================================
body {
    #tarteaucitronAlertBig {
        @include citrontarte-colorneutral() ;
        #tarteaucitronPersonalize {
            @include citrontarte-background() ;
        }
        #tarteaucitronDisclaimerAlert {
            @include citrontarte-colorneutral() ;
            strong  {
                @include citrontarte-colorneutral() ;
            }
        }
    }
    #tarteaucitronPercentage {
        @include citrontarte-background() ;

    }
    #tarteaucitronAlertSmall {
        right: unset;
        left: 0;
        background: rgba($black, 0.6);
        &:hover {
            background: rgba($black, 0.85);
        }
        #tarteaucitronCookiesListContainer {
            #tarteaucitronCookiesList {
                .tarteaucitronTitle {
                    @include citrontarte-background() ;

                }
            }
        }
        #tarteaucitronManager {
            @include citrontarte-color() ;
            #tarteaucitronDot {
                display: none;
            }

        }
        #tarteaucitronCookiesNumber {
            display: none;
        }

    }

    #tarteaucitron {
        #tarteaucitronClosePanel {
            @include citrontarte-background() ;
        }
        #tarteaucitronInfo {
            @include citrontarte-background() ;
        }
        #tarteaucitronServices {
            .tarteaucitronTitle {
                button {
                    @include citrontarte-background() ;
                }
            }
            .tarteaucitronDetails {
                @include citrontarte-background() ;

            }
            .tarteaucitronMainLine {
                @include citrontarte-border() ;
                &:hover {
                    @include citrontarte-background() ;
                }
            }
            #tarteaucitronMainLineOffset.tarteaucitronLine {
                @include citrontarte-background() ;
            }
            .tarteaucitronBorder {
                @include citrontarte-border();
            }

        }

    }

}