// =============================================================================
// VARIABLES
// =============================================================================


// Breakpoints
// ===================================================================

// from 320px : zone col-
$max-xxs-bkpt: 399px;
$min-xs-bkpt: 400px;

// Start Bootstrap 4 breaktpoints
// zone col- suite
$max-xs-bkpt: 575px;
$min-sm-bkpt: 576px;
// zone col-sm-
$max-sm-bkpt: 767px;
$min-md-bkpt: 768px;
// zone col-md-
$max-md-bkpt: 991px;
$min-lg-bkpt: 992px;
// zone col-lg-
$max-lg-bkpt: 1199px;
$min-xl-bkpt: 1200px;
// zone col-xl-
// End Bootstrap 4 breakpoints

$max-xl-bkpt: 1449px;
$min-xxl-bkpt: 1450px;
// zone col-xl suite
$max-xxl-bkpt: 1799px;
$min-xxxl-bkpt: 1800px;



// Bootstrap container width
// ===================================================================

$container-sm-width: 540px;
$container-md-width: 720px;
$container-lg-width: 960px;
$container-xl-width: 1140px;



// Colors
// ===================================================================

// White
$white: rgb(255,255,255);

// Grey
$x-light-grey: rgb(220,220,220);
$light-grey: rgb(211,211,211);
$grey: rgb(169,169,169);
$dark-grey: rgb(128,128,128);
$x-dark-grey: rgb(105,105,105);

// Black
$black: rgb(9,9,12);


// Couleurs Charte Graphique
$celeste-blue: rgb(6,174,220);
$bleuet-blue: rgb(99,128,191);
$clear-blue: rgba(48, 153, 216, 0.5);
$black: rgb(9,9,12);
$cyan-blue: rgb(20,38,61);
$safran-yellow: rgb(234,204,44);

// Couleurs social
$blue-fb: rgb(59, 89, 152);
$blue-twitter: rgb(0, 172, 238);
$blue-linkedin: rgb(14, 118, 168);

// Other colors
$red: rgb(231, 76, 60);
$green: rgb(54, 208, 41);
$light-green: #29D071BF;



// Others
// ===================================================================

@mixin box-shadow() {
    box-shadow: 9px 0px 15px rgba($black, 0.08);
}


