{% extends 'partner/partner-base.html.twig' %}

{% block partner_body %}
    <div class="partner-edit-stringer-service">
        <div class="row">
            Modification prestation de cordage
        </div>
        {{ form(edit_stringer_presta_form) }}
    </div>
{% endblock %}