{% extends 'partner/partner-base.html.twig' %}

{% block partner_body %}
    <div class="partner-edit-shop-service">
        <div class="row">
            Modification prestation de magasin
        </div>

    </div>
{% endblock %}