{% extends 'partner/partner-base.html.twig' %}

{% block partner_body %}
    <div class="partner-edit-activity-service">
        <div class="row">
            Modification prestation d'activité
        </div>
    </div>
{% endblock %}