{% extends 'partner/partner-base.html.twig' %}

{% block partner_body %}
    <div class="partner-edit-court-service">
        <div class="row">
            Modification prestation de terrain
        </div>

    </div>
{% endblock %}