{% extends 'partner/partner-base.html.twig' %}

{% block partner_body %}
    <div class="partner-list-services">
        <div class="page-header lr-title-1--dark-blue--icon-dark-blue">
            {% include 'svg/ball.svg.twig' %}
            <h1 class="title">Mes Prestations</h1>
        </div>
        <div class="lr-4-tabs">

            <input type="radio" name="tabs" id="tab1" checked>
            <div class="tab-item" id="tab1-content">
                <label class="tab__label" for="tab1">
                    {% include 'svg/field.svg.twig' %}
                    <span class="title-4">Mes Prestations de Terrain</span>
                </label>
                <div class="tab__content">
                    {% include 'partner/services/partials/list-court.html.twig' %}                </div>
            </div>
            <input type="radio" name="tabs" id="tab2">
            <div class="tab-item" id="tab2-content">
                <label class="tab__label" for="tab2">
                    {% include 'svg/ball.svg.twig' %}
                    <span class="title-4">Mes Prestations de Cordage</span>
                </label>
                <div class="tab__content">
                    {# TODO Decommenter pour les taches PrestaList-2 à 4, quand sous-vues créées #}
{#                    {% include 'partner/services/partials/list-stringer.html.twig' %}#}
                </div>
            </div>
            <input type="radio" name="tabs" id="tab3">
            <div class="tab-item" id="tab3-content">
                <label class="tab__label" for="tab3">
                    {% include 'svg/store.svg.twig' %}
                    <span class="title-4">Mes Prestations de Magasin</span>
                </label>
                <div class="tab__content">
                    {# TODO Decommenter pour les taches PrestaList-2 à 4, quand sous-vues créées #}
{#                    {% include 'partner/services/partials/list-shop.html.twig' %}#}
                </div>
            </div>
            <input type="radio" name="tabs" id="tab4">
            <div class="tab-item" id="tab4-content">
                <label class="tab__label" for="tab4">
                    {% include 'svg/game.svg.twig' %}
                    <span class="title-4">Mes Prestations d'Activité</span>
                </label>
                <div class="tab__content">
                    {# TODO Decommenter pour les taches PrestaList-2 à 4, quand sous-vues créées #}
{#                    {% include 'partner/services/partials/list-activity.html.twig' %}#}
                </div>
            </div>
            <div class="tab__dash-active"></div>
            <div class="tabs__btm-line"></div>
        </div>
    </div>
{% endblock %}