{% extends 'partner/partner-base.html.twig' %}

{% block partner_body %}
    <div class="partner-new-stringer-service">
        <div class="row">
            <div class="col-12">
                <p class="lr-title-1 text-center">Nouvelle prestation de cordage</p>
            </div>
        </div>
        {{ form_start(prestaform, {'method':'POST', 'action':path('create_service_stringer')}) }}
        <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="container-input-large">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/trophy.svg.twig" %}
                        </div>
                        <div class="input-label">
                            <label for="search-sport"> {{ form_label(prestaform.sport) }}</label>
                        </div>
                    </div>
                    <div class="input-check mt-13-percent">
                        <div class="container-choice-radio">
                            <div class="choice mr-sport-choice">
                                {{ form_widget(prestaform.sport) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-xs-6">
                <div class="container-input-small">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/pricetag-alt.svg.twig" %}
                        </div>
                        <div class="input-label">
                            <label for="search-sport">{{ form_label(prestaform.price) }}</label>
                        </div>
                    </div>
                    <div class="input-number">
                        <div class="container-choice-radio">
                            <div class="input-number minw-unset mt-10-percent">
                                {{ form_widget(prestaform.price) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 mb-3">
                <div class="container-input-large">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/receipt.svg.twig" %}
                        </div>
                        <div class="input-label">
                            <label for="search-sport">Grille de référence</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="container-input-small">
                    <div class="icone-label">
                        <div class="input-label m-0">
                            <label for="max-price">{{ form_label(prestaform.ropeReferences) }}</label>
                        </div>
                    </div>
                    <div class="input-select">
                        {{ form_widget(prestaform.ropeReferences) }}
                    </div>
                </div>
            </div>
          <div class="col-md-3 col-sm-12">
              <div class="container-input-small">
                  <div class="icone-label w-100">
                      <div class="input-label">
                          <label for="search-sport">{{ form_label(prestaform.ropeReferencesPrice)
                              }}</label>
                      </div>
                  </div>
                  <div class="input-number minw-unset">
                      <div class="container-choice-radio">
                          <div class="input-number minw-unset">
                              {{ form_widget(prestaform.ropeReferencesPrice) }}
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-4 mt-xs-6 align-self-end">
                <div class="container-input-small maxw-unset">
                    <a href="" class="btn-small--blue">
                        <span class="word">
                            Créer
                        </span>
                        {% include "svg/plus-circle.svg.twig" %}
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 mb-3">
                <div class="container-input-large">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/arrow-compress-h.svg.twig" %}
                        </div>
                        <div class="input-label">
                            <label for="search-sport">Tension de cordage</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="container-input-small">
                            <div class="icone-label">
                                <div class="input-label m-0">
                                    <label for="research-area">Tension minimale (en kg)</label>
                                </div>
                            </div>
                            <div class="input-text">
                                <div class="row">
                                    <div class="col-10">
                                        {{ form_widget(prestaform.minTension) }}
                                    </div>
                                    <div class="col-1">
                                        <label class="weight-label" id="min-weigh-ref">1kg</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container-input-small">
                            <div class="icone-label">
                                <div class="input-label m-0">
                                    <label for="research-area">Tension maximale en (kg)
                                    </label>
                                </div>
                            </div>
                            <div class="input-text">
                                <div class="row">
                                    <div class="col-10">
                                        {{ form_widget(prestaform.maxTension) }}
                                    </div>
                                    <div class="col-1">
                                        <label class="weight-label" id="max-weigh-ref">1kg</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 mb-3">
                <div class="container-input-large">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/calendar-alt.svg.twig" %}
                        </div>
                        <div class="input-label">
                            <label for="search-sport">Horaire du magasin</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="container-input-small">
                            <div class="input-select minw-unset w-100">
                                {{ form_widget(prestaform.day) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-1 text-center">
                        <span>de</span>
                    </div>
                    <div class="col-2">
                        <div class="container-input-small minw-unset maxw-unset">
                            <div class="input-text minw-unset maxw-unset text-center">
                                {{ form_widget(prestaform.start_date) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-1 text-center">
                        <span>à</span>
                    </div>
                    <div class="col-2">
                        <div class="container-input-small minw-unset maxw-unset">
                            <div class="input-text minw-unset maxw-unset text-center">
                                {{ form_widget(prestaform.end_date) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-2 d-flex">
                        <a href="#" class="btn-circle--small-blue">
                            {% include "svg/plus.svg.twig" %}
                        </a>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row mt-5">
            {# TODO liste des choix (à faire) #}
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="container-input-extra-large">

                            <div class="icone-label">
                                <div class="input-icone">
                                    {% include "svg/file-alt.svg.twig" %}
                                </div>
                                <div class="input-label">
                                    <label for="date-restitution">{{ form_label(prestaform.description) }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-input-extra-large maxw-unset">
                    <div class="input-textarea w-100">
                        {{ form_widget(prestaform.description) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="container-input-extra-large">
                            <div class="icone-label">
                                <div class="input-icone">
                                    {% include "svg/image-v.svg.twig" %}
                                </div>
                                <div class="input-label">
                                    <label for="date-restitution">{{ form_label(prestaform.image) }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 d-flex">
                        <div class="container-input-small maxw-unset">
                            <a href="" class="btn-small--blue" id="img-file-button">
                                <span class="word">
                                    Choisir une photo
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 mt-1 d-none">
                        {{ form_widget(prestaform.image) }}
                    </div>
                    <div class="col-12 d-flex">
                        <label id="selected-file"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="container-input-small maxw-unset">
                            <div class="icone-label">
                                <div class="input-icone">
                                    {% include "svg/clock.svg.twig" %}
                                </div>
                                <div class="input-label">
                                    <label for="date-restitution">{{ form_label(prestaform.restitutionPeriod) }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <div class="container-input-small minw-unset">
                            <div class="input-text">
                                {{ form_widget(prestaform.restitutionPeriod) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-xs-6">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="container-input-small maxw-unset">
                            <div class="icone-label">
                                <div class="input-icone">
                                    {% include "svg/atm-card.svg.twig" %}
                                </div>
                                <div class="input-label">
                                    <label for="date-restitution">Modes de paiement disponibles<span
                                                class="required-field">*</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex">

                        <div class="container-input-large">
                            <div class="input-check">
                                <div class="container-choice-checkbox">
                                    <div class="two-choice">
                                        <div class="row">
                                            <div class="col choice">
                                                {{ form_widget(prestaform.paymentCard) }}
                                            </div>
                                            <div class="col choice">
                                                {{ form_widget(prestaform.paymentCash) }}
                                            </div>
                                            <div class="col choice">
                                                {{ form_widget(prestaform.paymentCheck) }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-sm-6 col-md-3 d-flex justify-content-center">
                <button type='submit' class="btn-small--blue w-100 justify-content-center">
                <span class="word">
                        Créer
                    </span>
                    {% include "svg/plus-circle.svg.twig" %}
                </button>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-sm-6 col-md-3 d-flex justify-content-center">
                <a href="{{ path('partner_services') }}" class="btn-small--white w-100 justify-content-center">
                <span class="word">
                        Annuler
                    </span>
                </a>
            </div>
        </div>
        {{ form_end(prestaform) }}
    </div>
{% endblock %}