{% extends 'partner/partner-base.html.twig' %}

{% block partner_body %}
    <div class="partner-new-activity-service">
        <div class="row">
            Nouvelle prestation d'activité
        </div>

    </div>
{% endblock %}