{% extends 'partner/partner-base.html.twig' %}

{% block partner_body %}
    <div class="partner-new-shop-service">
        <h1 class="title-1 new-shop-title">Nouveau magasin</h1>

        {{ form_start(form) }}
        <div class="row mb-3">
            <div class="col-xl-4 col-sm-12">
                <div class="big-address-input">
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="container-input-small">
                                <div class="icone-label">
                                    <div class="input-icone">
                                        {% include "svg/building-info.svg.twig" %}
                                    </div>
                                    <div class="input-label">
                                        {{ form_label(form.name, 'Nom du magasin') }}
                                    </div>
                                </div>
                                <div class="input-text">
                                    {{ form_widget(form.name) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-12">
                <div class="row">
                    <div class="col-12">
                        <div class="container-input-small">
                            <div class="icone-label">
                                <div class="input-icone">
                                    {% include "svg/location.svg.twig" %}
                                </div>
                                <div class="input-label">
                                    <label>Adresse du magasin</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-address-input">
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="container-input-small">
                                <div class="icone-label">
                                    <div class="input-label">
                                        {{ form_label(form.address.street, 'Numéro et nom de rue') }}
                                    </div>
                                </div>
                                <div class="input-text">
                                    {{ form_widget(form.address.street, {"attr": {"class": "js-autocomplete-street"}}) }}
                                    {{ form_widget(form.address.latitude, {'attr': {'class': 'js-autocomplete-lat'}}) }}
                                    {{ form_widget(form.address.longitude, {'attr': {'class': 'js-autocomplete-lng'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="container-input-small">
                                <div class="icone-label">
                                    <div class="input-label">
                                        {{ form_label(form.address.region, 'Région') }}
                                    </div>
                                </div>
                                <div class="input-text">
                                    {{ form_widget(form.address.region) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="container-input-small">
                                <div class="icone-label">
                                    <div class="input-label">
                                        {{ form_label(form.address.postalCode, 'Code postal') }}
                                    </div>
                                </div>
                                <div class="input-text">
                                    {{ form_widget(form.address.postalCode, {'attr': {'class': 'js-autocomplete-postalCode'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="container-input-small">
                                <div class="icone-label">
                                    <div class="input-label">
                                        {{ form_label(form.address.city, 'Ville') }}
                                    </div>
                                </div>
                                <div class="input-text">
                                    {{ form_widget(form.address.city, {'attr': {'class': 'js-autocomplete-city'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="big-address-input">
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="container-input-small">
                                <div class="icone-label">
                                    <div class="input-label">
                                        {{ form_label(form.address.country, 'Pays') }}
                                    </div>
                                </div>
                                <div class="input-text">
                                    {{ form_widget(form.address.country, {'attr': {'class': 'js-autocomplete-country'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-12">
                <div class="big-text-area">
                    <div class="container-input-extra-large">
                        <div class="icone-label">
                            <div class="input-icone">
                                {% include "svg/file-alt.svg.twig" %}
                            </div>
                            <div class="input-label">
                                {{ form_label(form.description) }}
                            </div>
                        </div>
                        <div class="input-textarea">
                            {{ form_widget(form.description) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-xl-4 col-sm-12 mb-3">
                <div class="container-input-large">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/trophy.svg.twig" %}
                        </div>
                        <div class="input-label">
                            <label for="search-sport">Sport recherché</label>
                        </div>
                    </div>
                    <div class="input-check">
                        <div class="container-choice-checkbox">
                            <div class="two-choice">
                                {% for sport in form.sports %}
                                {% if sport.vars.name == 3 %}
                            </div>
                            <div class="two-choice">
                                {% endif %}
                                <div class="choice">
                                    {{ form_widget(sport) }}
                                    {{ form_label(sport) }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-12 mb-3">
                <div class="container-input-small">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/image-v.svg.twig" %}
                        </div>
                        <div class="input-label">
                            <label for="image">{{ form_label(form.imageFile, 'Photo du magasin') }}</label>
                        </div>
                    </div>
                    <div class="input-text image-path">
                        {{ form_widget(form.imageFile) }}
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-12 mb-3">
                <div class="container-input-small">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/globe.svg.twig" %}
                        </div>
                        <div class="input-label">
                            <label for="link">{{ form_label(form.link, 'Site internet') }}</label>
                        </div>
                    </div>
                    <div class="input-text">
                        {{ form_widget(form.link) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-xl-4 col-sm-12 mb-3">
                <div class="container-input-small">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/envelope-alt.svg.twig" %}
                        </div>
                        <div class="input-label">
                            <label for="email">{{ form_label(form.email, 'Email') }}</label>
                        </div>
                    </div>
                    <div class="input-text">
                        {{ form_widget(form.email) }}
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-12 mb-3">
                <div class="container-input-small">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/phone.svg.twig" %}
                        </div>
                        <div class="input-label">
                            <label for="phone">{{ form_label(form.phone, 'Téléphone') }}</label>
                        </div>
                    </div>
                    <div class="input-text">
                        {{ form_widget(form.phone) }}
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-12 mb-3">
                <div class="container-input-small">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/badminton.svg.twig" %}
                        </div>
                        <div class="input-label">
                            <label for="max-price">Marques proposées</label>
                        </div>
                    </div>
                    <div class="input-select">
                        {{ form_widget(form.brands) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-button">
            {{ form_widget(form.save) }}
            <a href="{{ path('partner_services') }}" class="btn-small--white cancel-btn mt-2 mb-2">Annuler</a>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}