{% extends 'partner/partner-base.html.twig' %}

{% block partner_body %}
    <div class="partner-new-court-service">
        <div class="row">
            Nouvelle prestation de terrain
        </div>
    </div>
{% endblock %}