{% extends '/user/user-base.html.twig' %}

{% block partner_body %}
    {% block fos_user_content %}
        <div class="user-edit-profile">
            {% include "@FOSUser/Profile/edit_content.html.twig" %}
        </div>
    {% endblock fos_user_content %}
{% endblock partner_body %}
