{% block footer %}
    <footer class="site-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-12 footer-description">
                    <div class="row">
                        <img class="la-raquette-logo" alt="Logo" src="{{ asset('images/png/logo-laraquette-white.png') }}">
                        <p>
                            Vous pourrez ici retrouver l’essentiel pour pratiquer votre sport en toute sérénité, tels
                            que le cordage de votre raquette, avec qui jouer une partie, où la jouer, où progresser, où
                            vous équiper et enfin où parler de votre sport préféré.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 footer-lot-redirection">
                    <div class="row redirection-lot">
                        <div class="offset-lg-0 col-lg-4 offset-3 col-3">
                            <a href="{{ path('home') }}">Accueil</a>
                        </div>
                        <div class="col-lg-4 col-6">
                            <!-- todo route -->
                            <a href="{{ path('where_to_equip_me') }}">Où m'équiper</a>
                        </div>
                        <div class="offset-lg-0 col-lg-4 offset-3 col-3">
                            <a href="{{ path('where_to_talk_forum') }}">Où en parler</a>
                        </div>
                        <div class="col-lg-4 col-6">
                            <a href="{{ path('where_to_play') }}">Où jouer</a>
                        </div>
                        <div class="offset-lg-0 col-lg-4 offset-3 col-3">
                            <a href="{{ path('where_to_string') }}">Où corder</a>
                        </div>
                        <div class="col-lg-4 col-6">
                            <a href="{{ path('contact') }}">Contact</a>
                        </div>
                        <div class="offset-lg-0 col-lg-4 offset-3 col-3">
                            <a href="{{ path('who_to_play_with') }}">Avec qui jouer</a>
                        </div>
                        <div class="col-lg-4 col-6">
                            <a href="{{ path('where_to_progress') }}">Où progresser</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 footer-social-medial">
                    <h1 class="title-3">Suivez-nous</h1>
                    <div class="icon-social">
                        <a href="{{ path('home') }}">
                            {% include "svg/facebook-f.svg.twig" %}
                        </a>
                        <a href="{{ path('home') }}">
                            {% include "svg/instagram.svg.twig" %}
                        </a>
                        <a href="{{ path('home') }}">
                            {% include "svg/twitter.svg.twig" %}
                        </a>
                        <a href="{{ path('home') }}">
                            {% include "svg/linkedin.svg.twig" %}
                        </a>
                        <a href="{{ path('home') }}">
                            {% include "svg/youtube.svg.twig" %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="row legal-mention">
                <div class="col-lg-4 col-12 legal-mention-center">
                   <p>
                       {% include "svg/copyright.svg.twig" %}
                       La raquette - 2019 • Mentions légales
                   </p>
                </div>
                <div class="offset-lg-5 col-lg-3 col-12 legal-mention-center">
                     <p>
                        Designed by novapeal
                        {%  include "svg/copyright.svg.twig" %}
                     </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
