{% block header %}
    <header class="site-header">
        <!-- MENU DE NAVIGATION EN VUE DESKTOP -->
        <div class="container-header" id="container-header">
            <li>
                <a class="menu-mobile" id="open-menu-mobile">
                    {% include "svg/subject.svg.twig" %}
                </a>
            </li>
            <div class="logo-la-raquette">
                <img src="{{asset('images/png/logo-laraquette.png')}}" title="logo-laraquette" alt="logo-laraquette" class="logo">
            </div>
            <div class="navigation-links" id="navigation-links">
                <li>
                    <a class=
                       "link-header {% if controller_name is defined and controller_name == 'HomeController' %}active{% endif %}"
                       href="{{ path('home') }}">Accueil</a>
                    <div class="border-bottom-link-header"></div>
                </li>
                <li>
                    <a class=
                       "link-header {% if controller_name is defined and controller_name == 'CourtController' %}active{% endif %}"
                       href="{{ path('where_to_play') }}">Ou jouer</a>
                    <div class="border-bottom-link-header"></div>
                </li>
                <li>
                    <a class=
                       "link-header {% if controller_name is defined and controller_name == 'MatchmakingController' %}active{% endif %}"
                       href="{{ path('who_to_play_with') }}">Avec qui jouer</a>
                    <div class="border-bottom-link-header"></div>
                </li>
                <li>
                    <a class=
                       "link-header {% if controller_name is defined and controller_name == 'ShopController' %}active{% endif %}"
                       href="{{ path('where_to_equip_me') }}">Ou m'équiper</a>
                    <div class="border-bottom-link-header"></div>
                </li>
                <li>
                    <a class=
                       "link-header {% if controller_name is defined and controller_name == 'WhereToStringController' %}active{% endif %}"
                       href="{{ path('where_to_string') }}">Où corder</a>
                    <div class="border-bottom-link-header"></div>
                </li>
                <li>
                    <a class=
                       "link-header {% if controller_name is defined and controller_name == 'WhereToProgressController' %}active{% endif %}"
                       href="{{ path('where_to_progress') }}">Où progresser</a>
                    <div class="border-bottom-link-header"></div>
                </li>
                <li>
                    <a class=
                       "link-header {% if controller_name is defined and controller_name == 'ForumController' %}active{% endif %}"
                       href="{{ path('where_to_talk_forum') }}">Où en parler</a>
                    <div class="border-bottom-link-header"></div>
                </li>
                <li>
                    <a class=
                       "link-header {% if controller_name is defined and controller_name == 'ContactController' %}active{% endif %}"
                       href="{{ path('contact') }}">Contact</a>
                    <div class="border-bottom-link-header"></div>
                </li>
                {% if app.user == false %}
                    <a href="{{ path('partner_create') }}" class="btn-small--white">
                        <span class="word">
                            Devenir Partenaire
                        </span>
                    </a>
                {% endif %}
            </div>
            <div class="my-account">
                <!-- SI L'UTILISATEUR EST CONNECTE, SUPPRIMER CE BLOC -->
                {% if not app.user %}
                    <div id="navbarSupportedContent">
                        <div class="navbar-nav mr-auto">
                            <div class="nav-item dropdown show user-sidebar-button dropdown-accordion" data-accordion="#accordion">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% include "svg/user.svg.twig" %}
                                </a>
                                <div class="dropdown-menu user-sidebar" aria-labelledby="navbarDropdownMenuLink">
                                    <div class="panel-group" id="accordion">
                                        <div class="triangle"></div>

                                        <div class="user-sidebar-login panel-collapse collapse show" id="collapseTwo">
                                            <p class="user-sidebar-login-title">Se connecter</p>
                                            {{ render(controller('FOSUserBundle:Security:login')) }}

                                            <hr class="user-sidebar-login-hr"/>
                                            <p class="user-sidebar-login-title">M'inscrire</p>
                                            <p class="user-sidebar-login-text">
                                                La création d’un compte la raquette vous
                                                donne accès à toutes les informations
                                                déterminantes pour votre vie de sportif
                                            </p>
                                            <a class="btn-small--blue" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                <span class="word">M'inscrire {% include "svg/arrow-circle-right.svg.twig" %}</span>
                                            </a>
                                        </div>
                                        <div class="user-sidebar-register panel-collapse collapse" id="collapseOne">
                                            <p class="user-sidebar-register-title">M'inscrire</p>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="user-sidebar-register-return">
                                                {% include "svg/arrow-circle-right.svg.twig" %}
                                            </a>
                                            {{ render(controller('App\\Controller\\RegistrationController::registerAction')) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {#TODO ADD HREF#}
                    <a class="connect-or-register" id="connect-or-register">
                        {% include "svg/user.svg.twig" %}
                    </a>
                {% endif %}
            </div>
            <div class="search">
                <a class="search-link" id="search-link">
                    {% include "svg/search.svg.twig" %}
                </a>
            </div>
        </div>

        <!-- CONTAINER DEDIE A LA RECHERCHE -->
        <div class="container-search" id="container-search">
            <div class="close-search">
                <a id="btn-close-search" class="btn-close-search">
                    {% include "svg/multiply.svg.twig" %}
                </a>
            </div>
            <div class="input-search">
                <div class="container-input-small">
                    <div class="input-text">
                        <input type="text" id="input-search" name="input-search" placeholder="Rechercher ..">
                    </div>
                </div>
            </div>
            <div class="launch-search">
                <a href="" class="btn-search">
                    {% include "svg/search.svg.twig" %}
                </a>
            </div>
        </div>

        <!-- MENU DE NAVIGATION EN VUE MOBILE -->
        <div class="container-header-mobile" id="container-header-mobile">
            <div class="container-header-flex">
                <div class="close-btn">
                    <a href="" class="btn-circle--large-white" id="close-menu-mobile">
                        {% include "svg/multiply.svg.twig" %}
                    </a>
                </div>
                <div class="menu-links">
                    <li>
                        {% include "svg/home-alt.svg.twig" %}
                        <a
                            {% if controller_name is defined and controller_name == 'HomeController' %}class="active"{% endif %}
                            href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li>
                        {% include "svg/game.svg.twig" %}
                        <a
                            {% if controller_name is defined and controller_name == 'CourtController' %}class="active"{% endif %}
                            href="{{ path('where_to_play') }}">Ou jouer</a>
                    </li>
                    <li>
                        {% include "svg/user-square.svg.twig" %}
                        <a
                            {% if controller_name is defined and controller_name == 'MatchmakingController' %}class="active"{% endif %}
                            href="{{ path('who_to_play_with') }}">Avec qui jouer</a>
                    </li>
                    <li>
                        {% include "svg/store.svg.twig" %}
                        <a
                            {% if controller_name is defined and controller_name == 'ShopController' %}class="active"{% endif %}
                            href="{{ path('where_to_equip_me') }}">Ou m'équiper</a>
                    </li>
                    <li>
                        {% include "svg/link-broken.svg.twig" %}
                        <a
                            {% if controller_name is defined and controller_name == 'WhereToStringController' %}class="active"{% endif %}
                            href="{{ path('where_to_string') }}">Où corder</a>
                    </li>
                    <li>
                        {% include "svg/arrow-growth.svg.twig" %}
                        <a
                            {% if controller_name is defined and controller_name == 'WhereToProgressController' %}class="active"{% endif %}
                            href="{{ path('where_to_progress') }}">Où progresser</a>
                    </li>
                    <li>
                        {% include "svg/comment-question.svg.twig" %}
                        <a
                            {% if controller_name is defined and controller_name == 'ForumController' %}class="active"{% endif %}
                            href="{{ path('where_to_talk_forum') }}">Où en parler</a>
                    </li>
                    <li>
                        {% include "svg/at.svg.twig" %}
                        <a
                            {% if controller_name is defined and controller_name == 'ContactController' %}class="active"{% endif %}
                            href="{{ path('contact') }}">Contact</a>
                    </li>
                    {% if app.user == false %}
                        <a href="" class="btn-become-partner">
                            <span class="word">
                                Devenir Partenaire
                            </span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
{% endblock %}