{#

Template des réseaux sociaux

A inclure directement dans un .container ou .container-fluid

Inclure de la manière suivante :
2 variantes : circle & large
{% include 'partials/share-social.html.twig' with {'socialShareFormat': 'circle'} %}
{% include 'partials/share-social.html.twig' with {'socialShareFormat': 'large'} %}


Si variantes circle : dans le controller qui rend la vue où l'on inclus le template social
Necessaire d'ajouter 'backlink' : renseigner nom de la route de la vue "précédente"

Exemple :

/**
 * @Route("/", name="home")
 */
public function index()
{
    return $this->render('home/index.html.twig', [
        'controller_name' => 'HomeController',
        'backLink' => $this->generateUrl('who_to_play_with'),
    ]);
}

#}

{% if socialShareFormat == 'circle' %}
<div class="share-social--circle row">
    <div class="share-social-inner col-12">
        <div class="circle__left">
            {% include "svg/share-alt.svg.twig" %}
            <a class="fb-xfbml-parse-ignore btn-social-circle--fb" target="popup" rel="noopener"
               onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}&amp;src=sdkpreparse','popup','width=600,height=600'); return false;"
               href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}&amp;src=sdkpreparse">
                {% include "svg/facebook-f.svg.twig" %}
            </a>
            <a class="btn-social-circle--twitter" target="popup" rel="noopener"
               onclick="window.open('https://twitter.com/intent/tweet?text={{ title|url_encode }}&url={{ app.request.uri }}','popup','width=600,height=600'); return false;"
               href="https://twitter.com/intent/tweet?text={{ title|url_encode }}&url={{ app.request.uri }}">
                {% include "svg/twitter.svg.twig" %}
            </a>
            <a class="btn-social-circle--linkedin" target="popup" rel="noopener"
               onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&title={{ title|url_encode }}&url={{ app.request.uri }}','popup','width=600,height=600'); return false;"
               href="http://www.linkedin.com/shareArticle?mini=true&title={{ title|url_encode }}&url={{ app.request.uri }}">
                {% include "svg/linkedin.svg.twig" %}
            </a>
        </div>
        <div class="circle__right">
            <a href="{{ backLink }}" class="lr-link-icon--blue">
                {% include "svg/arrow-circle-left.svg.twig" %}
                <p class="text">Retour à la liste</p>
            </a>
        </div>
    </div>
</div>
{% endif %}

{% if socialShareFormat == 'large' %}
<div class="share-social--large row">
    <div class="share-social-inner col-12">
        <a class="fb-xfbml-parse-ignore btn-social-large--fb" target="popup" rel="noopener"
           onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}&amp;src=sdkpreparse','popup','width=600,height=600'); return false;"
           href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}&amp;src=sdkpreparse">
             <span class="word">
            Partager sur Facebook
            </span>
            {% include "svg/facebook-f.svg.twig" %}
        </a>
        <a class="btn-social-large--twitter" target="popup" rel="noopener"
           onclick="window.open('https://twitter.com/intent/tweet?text={{ title|url_encode }}&url={{ app.request.uri }}','popup','width=600,height=600'); return false;"
           href="https://twitter.com/intent/tweet?text={{ title|url_encode }}&url={{ app.request.uri }}">
            <span class="word">
            Partager sur Twitter
            </span>
            {% include "svg/twitter.svg.twig" %}
        </a>
        <a class="btn-social-large--linkedin" target="popup" rel="noopener"
           onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&title={{ title|url_encode }}&url={{ app.request.uri }}','popup','width=600,height=600'); return false;"
           href="http://www.linkedin.com/shareArticle?mini=true&title={{ title|url_encode }}&url={{ app.request.uri }}">
            <span class="word">
            Partager sur Linkedin
            </span>
            {% include "svg/linkedin.svg.twig" %}
        </a>
    </div>
</div>
{% endif %}