{% extends 'base.html.twig' %}

{% block title %}Hello StyleguideController!{% endblock %}

{% block body %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="container container-reset-password">
    <div class="bloc-reset-password">
        <div class="content-infos-reset-password">
            <p>
                Un e-mail à été envoyé à l'adresse saisie. Ce mail contient un lien permettant la modification de votre mot de passe.
                Note : Vous pouvez effectuer la demande de renouellement de mot de passe une fois toute les deux heures.
            </p>
            <p>
                Si vous n'avez pas reçu cet e-mail, vérifiez votre boite de spam.
            </p>
        </div>
    </div>
</div>

{% endblock %}
