{% trans_default_domain 'FOSUserBundle' %}
<div class="container container-reset-password">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="bloc-reset-password">
            <div class="container-input-extra-large">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/user-square.svg.twig" %}
                    </div>
                    <div class="input-label">
                        <label for="large-input">Nom d'utilisateur ou adresse e-mail</label>
                    </div>
                </div>
                <div class="input-text">
                    <input type="text" id="username" name="username" required="required">
                </div>
            </div>
            <div class="container-input-extra-large">
                <button type="submit" id='submit-login' class="btn-small--blue">
                    <span class="word">
                        Réinitialiser mon mot de passe {% include "svg/arrow-circle-right.svg.twig" %}
                    </span>
                </button>
            </div>
        </div>

    </form>
</div>
