{% trans_default_domain 'FOSUserBundle' %}

<div class="container container-reset-password">

    <div class="bloc-reset-password-step-2">
        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

        <div class="bloc-new-password">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'bloc-input-text'} }) }}
        </div>
        <div class="bloc-confirmation-new-password">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'bloc-input-text'} }) }}
        </div>

        <div class="container-input-extra-large">
            <button type="submit" id='submit-login' class="btn-small--blue">
                    <span class="word">
                        Changer mon mot de passe{% include "svg/arrow-circle-right.svg.twig" %}
                    </span>
            </button>
        </div>
        {{ form_end(form) }}
    </div>
</div>



{% if form.plainPassword.first.vars['errors']|length > 0 or form.plainPassword.second.vars['errors']|length > 0 %}
    <div class="bloc-error-message">
        {% include "bundles/FOSUserBundle/ChangePassword/template_error_change_password.html.twig" with {'errors': form.plainPassword.first.vars['errors'] } %}
        {% include "bundles/FOSUserBundle/ChangePassword/template_error_change_password.html.twig" with {'errors': form.plainPassword.second.vars['errors'] } %}
    </div>
{% endif %}
