{% extends 'partner/partner-base.html.twig' %}

{% block partner_body %}
    <div class="partner-edit-profile">
        <div class="row">
            Edit profile
        </div>
    </div>
{% endblock %}