{% extends 'partner/partner-base.html.twig' %}

{% block partner_body %}
    <div class="partner-edit-subscriptions">
        <div class="row">
            Edit subscriptions
        </div>
    </div>
{% endblock %}