{% extends 'partner/partner-base.html.twig' %}

{% block partner_body %}
    <div class="partner-edit-company">
        <div class="row">
            Edit company
        </div>
    </div>
{% endblock %}