{% block title %}{% endblock %}

{% block partnermenu %}
    <div class="account-sidebar-menu col-11 col-md-3 col-xl-2" id="account-sidebar-menu">
        <div class="menu__person">
            <div class="account-sidebar-menu-close" id="account-sidebar-menu-close">
                {% include "svg/angle-right.svg.twig" %}
            </div>
            <div class="img-wrapper">

                <a href="#">
                    {% include "svg/edit-alt.svg.twig" %}
                </a>
            </div>
            <p>{{ user.firstName }} {{ user.lastName }}</p>
        </div>
        <nav class="menu__nav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path ('partner_dashboard') }}" class="nav-link{% if active is defined and
                        active == 'dashboard' %} active{% endif %}">
                        {% include "svg/dashboard.svg.twig" %}
                        <span>Dashboard</span>
                        {% include "svg/angle-right.svg.twig" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path ('partner_edit_profile') }}" class="nav-link{% if active is defined and
                        active == 'edit-profile' %} active{% endif %}">
                        {% include "svg/user.svg.twig" %}
                        <span>Mes infos personelles</span>
                        {% include "svg/angle-right.svg.twig" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path ('partner_edit_company') }}" class="nav-link{% if active is defined and
                        active == 'edit-company' %} active{% endif %}">
                        {% include "svg/ball.svg.twig" %}
                        <span>Mes infos entreprises</span>
                        {% include "svg/angle-right.svg.twig" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path ('partner_services') }}" class="nav-link{% if active is defined and
                        active == 'services' %} active{% endif %}">
                        {% include "svg/envelope-alt.svg.twig" %}
                        <span>Mes prestations</span>
                        {% include "svg/angle-right.svg.twig" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path ('partner_edit_subscriptions') }}" class="nav-link{% if active is defined and
                        active == 'subscriptions' %} active{% endif %}">
                        {% include "svg/building-info.svg.twig" %}
                        <span>Mes préférences</span>
                        {% include "svg/angle-right.svg.twig" %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}