{% extends 'partner/partner-base.html.twig' %}

{% block partner_body %}
    <style>
        .btn-small--blue {
            display: inline-block;
        }

        .btn-large--blue {
            display: inline-block;
        }
    </style>
    <div class="partner-dashboard">
        <div class="row">
            <div class="col-12">
                <div class="lr-title-1--dark-blue--icon-dark-blue">
                    {% include "svg/dashboard.svg.twig" %}
                    <h1><p class="title">Dashboard</p></h1>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="lr-title-5--blue--icon-blue">
                {% include "svg/user.svg.twig" %}
                <p class="title">Mes informations personnelles</p>
            </div>
            <p>{{ user.firstName }} {{ user.lastName }}</p> <br>
            <p>{{ user.email }}</p>
            <div class="btn-item">
                <a href="{{ path ('partner_edit_profile') }}"
                   class="btn-small--blue">
                    <span class="word">Modifier</span>{% include "svg/arrow-circle-right.svg.twig" %}
                </a>
            </div>
            <br>
        </div>
        <br>
        <div class="col-12 col-md-6">
            <div class="lr-title-5--blue--icon-blue">
                {% include "svg/building-info.svg.twig" %}
                <p class="title">Mes informations entreprise</p>
            </div>
            <br>
            <p>Raison Sociale {{ user.socialReason }}</p>
            <p>Nom commercial {{ user.commercialName }}</p>

            <a href="{{ path ('partner_edit_company') }}"
               class="btn-small--blue">
                <span class="word">Modifier</span> {% include "svg/arrow-circle-right.svg.twig" %}
            </a>
        </div>
    </div>
    <br>

    <div class="content-sample">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="lr-title-5--blue--icon-blue">
                    {% include "svg/ball.svg.twig" %}
                    <p class="title">Mes prestations</p>
                </div>
                <br>

                <p>Dernières prestations créées</p>

                <div class="container-sample">
                    <div class="content-sample w-75">
                        {% if lastPresta.image|default(false) %}
                            {% set image = vich_uploader_asset(lastPresta, 'imageFile') %}
                        {% endif %}
                            <div class="container-picture">
                                <img src="{{ image|default(asset('images/png/action-blur-close-up-735911.jpg')) }}"
                                     title="{{ lastPresta.name }}"
                                     alt="{{ lastPresta.image }}"
                                     class="picture"
                                />
                            </div>


                        <div class="container-text">
                            <div class="title">
                                {{ lastPresta.name }}
                            </div>

                            {% set address = lastPresta.user.address|default(app.user.address) %}

                            <div class="address">
                                {% include "svg/location.svg.twig" %}
                                <div class="address-text">
                                    {{ address.street ~ ' - ' }}
                                </div>
                                <div class="address-text ml-1">
                                    {{ address.city }}
                                </div>
                            </div>

                            {% if lastPresta.sports is defined %}
                                <div class="container-sport-level">
                                    <div class="sport">
                                        {% include "svg/game.svg.twig" %}
                                        <div class="sport-text">
                                            {{ lastPresta.sports|first.name }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="container-sport-level">
                                <div class="sport">
                                    <div class="sport-text">

                                    </div>
                                </div>
                            </div>
                            <a href="{{ path(lastPrestaEditRoute|default('partner_dashboard'), { id: lastPresta.id }) }}"
                               class="btn-small--blue">
                                <span class="word">Modifier</span>
                                {% include "svg/edit-alt.svg.twig" %}
                            </a>
                        </div>
                        <br>
                        <br>
                        {#TODO route to prestation (event/court/...#}
                        <a href="{{ path(allPrestationRoute|default('partner_dashboard')) }}"
                           class="btn-large--blue">
                                <span class="word">
                                    Voir toutes mes prestations
                                </span>
                            {% include "svg/arrow-circle-right.svg.twig" %}
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="lr-title-5--blue--icon-blue">
                    <a href="{{ path ('partner_edit_subscriptions') }}">
                    {% include "svg/envelope-alt.svg.twig" %}
                    <p class="title">Mes preférences</p>
                    </a>
                </div>
                <br>
                <p>Mes preférences newsletter</p>
                <p>{{ user.newsletter }}</p>
                <p></p>
                <p></p>
                <a href="{{ path ('partner_edit_subscriptions') }}"
                   class="btn-small--blue">
                    <span class="word">Modifier</span> {% include "svg/arrow-circle-right.svg.twig" %}
                </a>
            </div>
        </div>

    </div>
{% endblock %}