{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'id': 'form-signup-partner'}}) }}
    <div class="partner-signup form-steps" id="form-steps">
        <div class="step-title">
            {% include 'svg/user.svg.twig' %}
            <div class="step-separator">
                {% include 'svg/dot.svg.twig' %}
                {% include 'svg/dot.svg.twig' %}
                {% include 'svg/dot.svg.twig' %}
                {% include 'svg/dot.svg.twig' %}
            </div>
        </div>
        <section class="step-item">
            <h5 class="step-item__title">Moi</h5>

            {# NOM #}
            <div class="container-input-large step-item__field field--half">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/users-alt.svg.twig" %}
                    </div>
                    <div class="input-label lr-label-required">
                        {{ form_label(form.lastName, 'Nom') }}
                    </div>
                </div>
                <div class="input-text">
                    {{ form_widget(form.lastName) }}
                </div>
            </div>

            {# PRENOM #}
            <div class="container-input-large step-item__field field--half">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/users-alt.svg.twig" %}
                    </div>
                    <div class="input-label lr-label-required">
                        {{ form_label(form.firstName, 'Prénom') }}
                    </div>
                </div>
                <div class="input-text">
                    {{ form_widget(form.firstName) }}
                </div>
            </div>

            {# EMAIL #}
            <div class="container-input-large step-item__field">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/user-square.svg.twig" %}
                    </div>
                    <div class="input-label lr-label-required">
                        {{ form_label(form.email, 'Email') }}
                    </div>
                </div>
                <div class="input-text">
                    {{ form_widget(form.email) }}
                </div>
                <p class="step-item__notice"><span class="required-icon">*</span> champs obligatoires</p>
            </div>

            <p class="step-item__text">Texte expliquant l'interêt de donner ces informations. Lorem ipsum sit dolor
                amet.</p>

        </section>

        <div class="step-title">
            {% include 'svg/user.svg.twig' %}
            <div class="step-separator">
                {% include 'svg/dot.svg.twig' %}
                {% include 'svg/dot.svg.twig' %}
                {% include 'svg/dot.svg.twig' %}
                {% include 'svg/dot.svg.twig' %}
            </div>
        </div>
        <section class="step-item">
            <h5 class="step-item__title">MOI</h5>

            {#            USERNAME#}
            <div class="container-input-large step-item__field">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/user-square.svg.twig" %}
                    </div>
                    <div class="input-label lr-label-required">
                        {{ form_label(form.username, 'Pseudo') }}
                    </div>
                </div>
                <div class="input-text">
                    {{ form_widget(form.username) }}
                </div>
            </div>

            {#            PASSWORD#}
            <div class="container-input-large step-item__field">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/padlock.svg.twig" %}
                    </div>
                    <div class="input-label lr-label-required">
                        {{ form_label(form.password.first, 'Mot de passe') }}
                    </div>
                </div>
                <div class="input-text">
                    {{ form_widget(form.password.first) }}
                </div>
            </div>

            {#            PASSWORD CONFIRMATION#}
            <div class="container-input-large step-item__field">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/padlock.svg.twig" %}
                    </div>
                    <div class="input-label lr-label-required">
                        {{ form_label(form.password.second, 'Confirmation du mot de passe') }}
                    </div>
                </div>
                <div class="input-text">
                    {{ form_widget(form.password.second) }}
                </div>

                <p class="step-item__notice"><span class="required-icon">*</span> champs obligatoires</p>
            </div>

        </section>

        <div class="step-title">
            {% include 'svg/building-info.svg.twig' %}
            <div class="step-separator">
                {% include 'svg/dot.svg.twig' %}
                {% include 'svg/dot.svg.twig' %}
                {% include 'svg/dot.svg.twig' %}
                {% include 'svg/dot.svg.twig' %}
            </div>
        </div>
        <section class="step-item">
            <h5 class="step-item__title">Entreprise</h5>

            {#            RAISON SOCIALE#}
            <div class="container-input-large step-item__field">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/building-info.svg.twig" %}
                    </div>
                    <div class="input-label lr-label-required">
                        {{ form_label(form.socialReason, 'Raison sociale') }}
                    </div>
                </div>
                <div class="input-text">
                    {{ form_widget(form.socialReason) }}
                </div>
            </div>

            {#            NOM COMMERCIAL#}
            <div class="container-input-large step-item__field">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/building-info.svg.twig" %}
                    </div>
                    <div class="input-label lr-label-required">
                        {{ form_label(form.commercialName, 'Nom commercial') }}
                    </div>
                </div>
                <div class="input-text">
                    {{ form_widget(form.commercialName) }}
                </div>
            </div>

            {#            N° SIREN#}
            <div class="container-input-large step-item__field">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/building-info.svg.twig" %}
                    </div>
                    <div class="input-label lr-label-required">
                        {{ form_label(form.partnerSiren, 'N° SIREN') }}
                    </div>
                </div>
                <div class="input-text">
                    {{ form_widget(form.partnerSiren) }}
                </div>

                <p class="step-item__notice"><span class="required-icon">*</span> champs obligatoires</p>
            </div>

        </section>

        <div class="step-title">
            {% include 'svg/building-info.svg.twig' %}
            <div class="step-separator">
                {% include 'svg/dot.svg.twig' %}
                {% include 'svg/dot.svg.twig' %}
                {% include 'svg/dot.svg.twig' %}
                {% include 'svg/dot.svg.twig' %}
            </div>
        </div>
        <section class="step-item">
            <h5 class="step-item__title">Entreprise</h5>

            <div class="container-input-large step-item__field">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/building-info.svg.twig" %}
                    </div>
                    <div class="input-label lr-label-required">
                        {{ form_label(form.address.street, 'Numéro et nom de rue') }}
                    </div>
                </div>
                <div class="input-text">
                    {{ form_widget(form.address.street, {"attr": {"class": "js-autocomplete-street"}}) }}
                    {{ form_widget(form.address.latitude, {'attr': {'class': 'js-autocomplete-lat'}}) }}
                    {{ form_widget(form.address.longitude, {'attr': {'class': 'js-autocomplete-lng'}}) }}
                </div>
            </div>
            <div class="container-input-large step-item__field">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/building-info.svg.twig" %}
                    </div>
                    <div class="input-label">
                        {{ form_label(form.address.complement, 'Complément d\'adresse') }}
                    </div>
                </div>
                <div class="input-text">
                    {{ form_widget(form.address.complement) }}
                </div>
            </div>
            <div class="container-input-large step-item__field">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/building-info.svg.twig" %}
                    </div>
                    <div class="input-label lr-label-required">
                        {{ form_label(form.address.postalCode, 'Code postal') }}
                    </div>
                </div>
                <div class="input-text">
                    {{ form_widget(form.address.postalCode, {'attr': {'class': 'js-autocomplete-postalCode'}}) }}
                </div>
            </div>
            <div class="container-input-large step-item__field">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/building-info.svg.twig" %}
                    </div>
                    <div class="input-label lr-label-required">
                        {{ form_label(form.address.city, 'Ville') }}
                    </div>
                </div>
                <div class="input-text">
                    {{ form_widget(form.address.city, {'attr': {'class': 'js-autocomplete-city'}}) }}
                </div>
            </div>
            <div class="container-input-large step-item__field">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/building-info.svg.twig" %}
                    </div>
                    <div class="input-label lr-label-required">
                        {{ form_label(form.address.country, 'Pays') }}
                    </div>
                </div>
                <div class="input-text">
                    {{ form_widget(form.address.country, {'attr': {'class': 'js-autocomplete-country'}}) }}
                </div>


                <p class="step-item__notice"><span class="required-icon">*</span> champs obligatoires</p>
            </div>


        </section>

        <div class="step-title">
            {% include 'svg/flag.svg.twig' %}
        </div>
        <section class="step-item">
            <h5 class="step-item__title">Entreprise</h5>

            {# Pourquoi devenir partenaire #}
            <div class="container-input-large step-item__field">
                <div class="icone-label">
                    <div class="input-icone">
                        {% include "svg/building-info.svg.twig" %}
                    </div>
                    <div class="input-label lr-label-required">
                        {{ form_label(form.partnerReason, 'Pourquoi devenir partenaire ?') }}
                    </div>
                </div>
                <div class="input-textarea">
                    {{ form_widget(form.partnerReason) }}
                </div>
            </div>

            {# TODO Champ RGPD #}
{#                <div class="container-input-large step-item__field">#}
{#                    <div class="icone-label">#}
{#                        <div class="input-icone">#}
{#                            {% include "svg/building-info.svg.twig" %}#}
{#                        </div>#}
{#            <div class="input-label lr-label-required">#}
{#                            {{ form_label(form.address, 'RGPD') }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="input-text">#}
{#                        {{ form_widget(form.address) }}#}
{#                    </div>#}
{#                </div>#}

        </section>
{#        {{ form_widget(form.save) }}#}

        {% include 'svg/waves-bottom.svg.twig' %}
    </div>
    {{ form_end(form) }}
{% endblock %}