{% extends "base.html.twig" %}

{% block fos_user_content %}
    <div class="container mt-5">
        <h1 class="title-1">Merci pour votre inscription</h1>
        <p>Vous aller recevoir un mail de confirmation à cette adresse : {{ user.email }}</p>
    </div>
{% endblock fos_user_content %}
