{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container mt-5">
        <h1 class="title-1">{{ user.username }} entre sur le court</h1>
        <p>
            Merci d'utiliser La raquette, vous pouvez désormais rejoindre ou créer des rencontres sportive
            <br>
            Remplissez votre <a href="{{ path('fos_user_profile_show') }}">profil</a> pour vous présenter auprès des autres joueurs.
        </p>
    </div>
{% endblock fos_user_content %}
