{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
{%- autoescape false -%}
Confirmation d'inscription à La raquette.
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
Bonjour {{ user.username }} !

Félicitations vous êtes désormais inscrit sur la plateforme la raquette.
Vous pouvez dores et déjà bénéficier de tous les avantages de la plateforme.
Trouvez des rencontres de votre sport préféré, trouvez un cordeur, des événements et discutez avec des passionnés.

Vous pouvez à présent valider votre inscription en vous connecter sur votre compte via ce lien pour commencer à utiliser la plateforme !
{{ confirmationUrl }}

Cordialement,
L'équipe La raquette,
{% endautoescape %}
{% endblock %}

{% block body_html %}
{% include '@FOSUser/Registration/email.html.twig' %}
{% endblock %}


