<img src="{{ app.request.getSchemeAndHttpHost() ~ asset('images/png/header-email.png') }}" width="690" style="margin-bottom:30px;" />
<p style="padding: 10px 90px; font-size: 14px; font-family: 'Overpass', sans-serif; width: 490px; line-height: 1.5;">
    Bonjour <b>{{ user.username }}</b> !
    <br>
    <br>
    Félicitations vous êtes désormais inscrit sur la plateforme la raquette.
    <br>
    Vous pouvez dores et déjà bénéficier de tous les avantages de la plateforme.
    <br>
    Trouvez des rencontres de votre sport préféré, trouvez un cordeur, des événements et discutez avec des passionnés.
    <br>
    <br>
    Vous pouvez à présent valider votre inscription en vous connecter sur votre compte <a href="{{ confirmationUrl }}" style="text-decoration: underline; color: rgb(6,174,220);">via ce lien</a> pour commencer à utiliser la plateforme !
    <br>
    <br>
    Cordialement,
    <br>
    L'équipe La raquette,
</p>

<p style="color: rgb(6,174,220); width: 690px; text-align: center; font-family: 'Overpass', sans-serif; font-weight: 900; font-size: 26px; margin-top: 20px">Suivez-nous</p>
<div style="width: 690px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <div style="margin: 0 10px;">
        <a href="https://facebook.com">
        {% include 'svg/facebook-for-email.svg.twig' %}
        </a>
    </div>
    <div style="margin: 0 10px;">
        <a href="https://instagram.com">
        {% include 'svg/instagram-for-email.svg.twig' %}
        </a>
    </div>
    <div style="margin: 0 10px;">
        <a href="https://twitter.com">
        {% include 'svg/twitter-for-email.svg.twig' %}
        </a>
    </div>
    <div style="margin: 0 10px;">
        <a href="https://linkedin.com">
        {% include 'svg/linkedin-for-email.svg.twig' %}
        </a>
    </div>
    <div style="margin: 0 10px;">
        <a href="https://youtube.com">
        {% include 'svg/youtube-for-email.svg.twig' %}
        </a>
    </div>
</div>