{% trans_default_domain 'FOSUserBundle' %}

<div class="user-sidebar-register">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_errors(form) }}
    <div class="container-input-small mb-4">
        <div class="icone-label">
            <div class="input-icone">
                {% include "svg/user-square.svg.twig" %}
            </div>
            <div class="input-label">
                <label for="username">Nom d'utilisateur *</label>
            </div>
        </div>
        <div class="input-text">
            {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}
        </div>
    </div>

    <div class="container-input-small mb-4">
        <div class="icone-label">
            <div class="input-icone">
                {% include "svg/at.svg.twig" %}
            </div>
            <div class="input-label">
                <label for="username">Adresse email *</label>
            </div>
        </div>
        <div class="input-text">
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
    </div>

    <div class="container-input-small mb-4">
        <div class="icone-label">
            <div class="input-icone">
                {% include "svg/padlock.svg.twig" %}
            </div>
            <div class="input-label">
                <label for="plainPassword">Mot de passe *</label>
            </div>
        </div>
        <div class="input-text input-text--password">
            {{ form_errors(form.plainPassword) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'mb-2'}}) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'mb-2'}}) }}
        </div>
    </div>

    <div class="container-input-large mb-3 mt-2">
        <div class="input-check">
            <div class="container-choice-checkbox">
                <div class="choice">
                    {{ form_errors(form.newsletter) }}
                    {{ form_widget(form.newsletter) }}
                    {{ form_label(form.newsletter) }}
                </div>
            </div>
        </div>
    </div>

    <div class="container-input-large mb-3">
        <div class="input-check">
            <div class="container-choice-checkbox">
                <div class="choice">
                    {{ form_errors(form.cgu) }}
                    {{ form_widget(form.cgu) }}
                    {{ form_label(form.cgu) }}
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn-small--blue">
        <span class="word">M'inscrire {% include "svg/arrow-circle-right.svg.twig" %}</span>
    </button>
    {{ form_end(form) }}
</div>
