<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 281.5 197.1" style="enable-background:new 0 0 281.5 197.1;" xml:space="preserve">
<path id="arrow-compress-h" d="M140.8,0.1c-7.8,0-14.5,6.7-14.5,14.5v167.9c0,7.8,6.7,14.5,14.5,14.5s14.5-6.7,14.5-14.5V14.6
	C155.3,6.8,148.6,0.1,140.8,0.1z M122.8,88.5L88.2,52.7c-5.6-5.6-14.5-5.6-20.1,0c-5.6,5.6-5.6,14.5,0,20.1L79.2,84H15.4
	C7.6,84,0.9,90.7,0.9,98.6S7.6,112,15.4,112h63.8L68,123.2c-5.6,5.6-5.6,14.5,0,20.1c5.6,5.6,14.5,5.6,20.1,0l34.7-34.7
	c1.1-1.1,2.2-3.4,3.4-4.5c1.1-3.4,1.1-6.7,0-10.1C125.1,90.7,124,89.6,122.8,88.5L122.8,88.5z M267.2,84h-64.9l11.2-11.2
	c5.6-5.6,5.6-14.5,0-20.1c-5.6-5.6-14.5-5.6-20.1,0l-34.7,34.7c-5.6,5.6-5.6,14.5,0,20.1l0,0l34.7,34.7c5.6,5.6,14.5,5.6,20.1,0
	c5.6-5.6,5.6-14.5,0-20.1l-11.2-11.2h63.8c7.8,0,14.5-6.7,14.5-14.5S273.9,84,267.2,84z"/>
</svg>
