<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 227 227" style="enable-background:new 0 0 227 227;" xml:space="preserve">
<path id="arrow-circle-right" d="M155.9,121.1c4.5-4.5,4.5-12.1,0-16.6l-34.8-33.3c-4.5-4.5-10.6-4.5-15.1,0
	c-4.5,4.5-4.5,12.1,0,16.6l15.1,15.1H80.2c-6.1,0-12.1,4.5-12.1,12.1s4.5,12.1,12.1,12.1h40.9l-15.1,15.1c-4.5,1.5-4.5,9.1,0,13.6
	c4.5,4.5,12.1,4.5,16.6,0l0,0L155.9,121.1z M227,113.5C227,51.5,175.5,0,113.5,0S0,51.5,0,113.5S51.5,227,113.5,227
	S227,175.5,227,113.5z M22.7,113.5c0-49.9,40.9-90.8,90.8-90.8s90.8,40.9,90.8,90.8s-40.9,90.8-90.8,90.8S22.7,163.4,22.7,113.5z"/>
</svg>
