<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 15.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="612px" height="612px" viewBox="0 103 612 612" enable-background="new 0 103 612 612" xml:space="preserve">
<path id="arrow-circle-right" d="M192.688,388.51c-12.133,12.133-12.133,32.623,0,44.754l93.821,89.779
	c12.133,12.131,28.578,12.131,40.711,0c12.132-12.133,12.132-32.623,0-44.755l-40.711-40.71h110.268
	c16.446,0,32.623-12.133,32.623-32.622s-12.133-32.622-32.623-32.622H286.51l40.711-40.71c12.132-4.044,12.132-24.534,0-36.666
	c-12.133-12.133-32.622-12.133-44.755,0l0,0L192.688,388.51z M1,409c0,167.154,138.846,306,306,306s306-138.846,306-306
	S474.154,103,307,103S1,241.846,1,409z M551.8,409c0,134.532-110.268,244.8-244.8,244.8S62.2,543.532,62.2,409
	S172.468,164.2,307,164.2S551.8,274.468,551.8,409z"/>
</svg>
