<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 335.9 201.6" style="enable-background:new 0 0 335.9 201.6;" xml:space="preserve">
<path id="arrow-growth" d="M334.7,10.3c-2.4-6.1-8.5-10.4-15.2-10.4h-84.2c-9.1,0-17.1,7.3-17.1,17.1s7.3,16.5,17.1,16.5h43.3
	l-93.3,93.9l-54.9-55.5c-6.7-6.7-17.1-6.7-23.8,0l0,0L5.3,172.5c-6.7,6.1-7.3,17.1-1.2,23.8c6.1,6.7,17.1,7.3,23.8,1.2
	c0.6-0.6,0.6-0.6,1.2-1.2l88.4-89l54.9,55.5c6.7,6.7,17.1,6.7,23.8,0l0,0L302.4,57.2v43.3c0,9.1,7.3,17.1,17.1,17.1
	s16.5-7.9,16.5-17.1V16.4C335.9,14.5,335.3,12.1,334.7,10.3z"/>
</svg>
