<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 282 282" style="enable-background:new 0 0 282 282;" xml:space="preserve">
<path id="at" d="M140.2,0c-78,0-141,63-141,141s63,141,141,141c24.4,0,48.9-6.6,70.5-18.8c6.6-3.8,9.4-12.2,5.6-18.8
	c-3.8-6.6-12.2-9.4-18.8-5.6c0,0-0.9,0-0.9,0.9C143,269.8,73.4,251,42.4,197.4S30.2,74.3,83.8,43.2S206.9,31,237.9,84.6
	c10.3,16.9,15,36.7,15,56.4v10.3c0,13.2-11.3,24.4-24.4,24.4c-13.2,0-24.4-11.3-24.4-24.4V92.1c0-7.5-6.6-14.1-14.1-14.1
	c-6.6,0-12.2,4.7-14.1,11.3C165.5,81.8,153.3,78,141.1,78c-34.8,0-63.9,27.3-63.9,63c0,34.8,27.3,63.9,63,63.9
	c17.9,0,35.7-7.5,47.9-20.7c17.9,23.5,50.8,27.3,74.3,9.4c13.2-10.3,20.7-25.4,20.7-41.4V141C281.2,63,218.2,0,140.2,0z
	 M140.2,175.8c-19.7,0-35.7-16-35.7-35.7s16-35.7,35.7-35.7s34.8,16,34.8,35.7l0,0C175.9,160.7,159.9,175.8,140.2,175.8z"/>
</svg>
