<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
<path d="M15,38h9c1.7,0,3-1.3,3-3s-1.3-3-3-3h-9c-1.7,0-3,1.3-3,3S13.3,38,15,38z M51,8H9c-5,0-9,4-9,9v27c0,5,4,9,9,9h42
	c5,0,9-4,9-9V17C60,12,56,8,51,8z M54,44c0,1.7-1.3,3-3,3H9c-1.7,0-3-1.3-3-3V26h48V44z M54,20H6v-3c0-1.7,1.3-3,3-3h42
	c1.7,0,3,1.3,3,3V20z"/>
</svg>
