<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 242 261.5" style="enable-background:new 0 0 242 261.5;" xml:space="preserve">
<path id="award" d="M240.7,202.1l-36.4-63.4c7.5-14,11.2-28.9,11.2-44.8c0-52.2-42-94.2-94.2-94.2S27,41.7,27,93.9
	c0,15.9,3.7,30.8,11.2,44.8L1.8,202.1c-3.7,6.5-1.9,14.9,4.7,18.7c1.9,0.9,4.7,1.9,6.5,1.9h38.3l19.6,32.7c3.7,3.7,7.5,6.5,13.1,6.5
	h1.9c3.7-0.9,7.5-2.8,10.3-6.5l26.1-44.8l26.1,44.8c1.9,3.7,5.6,5.6,10.3,6.5l0,0c3.7,0,6.5-0.9,9.3-3.7c0.9-0.9,1.9-1.9,1.9-2.8
	l19.6-32.7h38.3c7.5,0,14-6.5,14-14C242.5,205.9,241.6,204,240.7,202.1z M83,222.7l-12.1-19.6c-1.9-4.7-6.5-7.5-11.2-7.5H36.4
	L56,162c13.1,13.1,29.9,21.5,48.5,25.2L83,222.7z M121.3,161.1c-37.3,0-67.2-29.9-67.2-67.2s29.9-67.2,67.2-67.2
	s67.2,29.9,67.2,67.2l0,0C188.4,131.2,158.6,161.1,121.3,161.1z M182.8,195.6c-4.7,0-9.3,2.8-11.2,6.5l-13.1,20.5L139,186.3
	c17.7-3.7,34.5-12.1,47.6-25.2l19.6,33.6L182.8,195.6z"/>
</svg>
