<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#1D1D1B;}
</style>
<g id="badminton_1_" transform="translate(0 -0.029)">
	<g id="Groupe_131" transform="translate(42.005 59.454)">
		<g id="Groupe_130">
			<path id="Tracé_52" class="st0" d="M2,0.2c-0.3-0.3-0.7-0.3-1,0c0,0,0,0,0,0L0.2,1c-0.3,0.3-0.3,0.7,0,1c0.3,0.4,0.8,0.1,1,0
				L2,1.2C2.2,0.9,2.2,0.5,2,0.2C2,0.2,2,0.2,2,0.2z"/>
		</g>
	</g>
	<g id="Groupe_133" transform="translate(0 0.029)">
		<g id="Groupe_132" transform="translate(0 0)">
			<path id="Tracé_53" class="st0" d="M95.7,4.3C92.9,1.5,88.8,0,83.7,0c-8.7,0-19.3,4.3-25.2,10.2c-7.1,7.2-8.5,18.2-3.3,26.9
				c-0.8,0.9-1.2,2.1-1.2,3.3L22.8,71.6c-0.8,0.8-1.6,1.4-2.6,1.9l-4.4,2.4c-1.2,0.6-2.3,1.5-3.3,2.4L1.2,89.6
				c-1.6,1.6-1.6,4.2,0,5.8l3.4,3.4c1.6,1.6,4.2,1.6,5.8,0l11.3-11.3c1-1,1.8-2.1,2.4-3.3l2.4-4.4c0.5-1,1.1-1.8,1.9-2.6l12-12
				c0.6-0.6,0.6-1.5,0-2.1c-0.6-0.6-1.5-0.6-2.1,0l-6.1,6.1l-1.4-1.4l24.2-24.2c0.4,0.5,0.9,1,1.4,1.4L46,55.4
				c-0.6,0.6-0.6,1.5,0,2.1c0.6,0.6,1.5,0.6,2.1,0c0,0,0,0,0,0L59.6,46c1.2,0,2.4-0.5,3.3-1.2c8.7,5.2,19.8,3.8,26.9-3.4
				c4.3-4.3,7.9-11.3,9.4-18.3C101,15,99.8,8.3,95.7,4.3z M8.3,96.7c-0.4,0.4-1.1,0.4-1.6,0l-3.4-3.4c-0.4-0.4-0.4-1.1,0-1.6
				c0,0,0,0,0,0l3-3l5,5L8.3,96.7z M13.4,91.6l-5-5l2.9-2.8l5,5L13.4,91.6z M19.6,85.4l-1.3,1.3l-5-5l1.3-1.3
				c0.7-0.7,1.4-1.2,2.2-1.7l4.5,4.5C20.8,84,20.2,84.8,19.6,85.4L19.6,85.4z M26.3,75.1c-1,1-1.8,2.1-2.4,3.3l-1.1,2l-3.2-3.2
				l2-1.1c1.2-0.6,2.3-1.5,3.3-2.4l3.8-3.8l1.4,1.4L26.3,75.1z M96.5,11.6L95.1,13l-3-3l2.5-2.5C95.5,8.7,96.1,10.1,96.5,11.6z
				 M81.9,20.2l3-3l3,3l-3,3L81.9,20.2z M82.8,25.3l-3,3l-3-3l3-3L82.8,25.3z M79.8,18.1l-3-3l3-3l3,3L79.8,18.1z M77.7,20.2l-3,3
				l-3-3l3-3L77.7,20.2z M72.5,25.3l-3,3l-3-3l3-3L72.5,25.3z M69.5,18.1l-3-3l3-3l3,3L69.5,18.1z M67.4,20.2l-3,3l-3-3l3-3
				L67.4,20.2z M62.3,25.3l-3,3l-3-3l3-3L62.3,25.3z M59.3,32.5l3,3l-2.7,2.7c-0.9-1.1-1.8-2.3-2.4-3.6L59.3,32.5z M61.4,30.4l3-3
				l3,3l-3,3L61.4,30.4z M69.5,32.5l3,3l-3,3l-3-3L69.5,32.5z M71.6,30.4l3-3l3,3l-3,3L71.6,30.4z M79.8,32.5l3,3l-3,3l-3-3
				L79.8,32.5z M81.9,30.4l3-3l3,3l-3,3L81.9,30.4z M87,25.3l3-3l3,3l-3,3L87,25.3z M87,15.1l3-3l3,3l-3,3L87,15.1z M88.3,3.5
				c1.5,0.4,2.9,1,4.2,1.9L90,7.9l-3-3L88.3,3.5z M84.8,7l3,3l-3,3l-3-3L84.8,7z M78,3.6c1-0.2,2-0.4,3-0.5l1.7,1.7l-3,3l-3-3
				L78,3.6z M77.7,9.9l-3,3l-3-3l3-3L77.7,9.9z M72,5.3l-2.5,2.5l-1-1C69.7,6.3,70.8,5.8,72,5.3z M65.8,8.3l1.6,1.6l-3,3l-2.1-2.1
				C63.4,9.9,64.6,9.1,65.8,8.3z M60.1,12.9l2.2,2.2l-3,3l-1.7-1.7C58.3,15.1,59.1,13.9,60.1,12.9z M56.2,19.2l1,1l-1.7,1.7
				C55.7,21,55.9,20.1,56.2,19.2L56.2,19.2z M56,31.6c-0.3-1-0.6-2.1-0.7-3.2l1.9,1.9L56,31.6z M57.6,42.3c-0.7-0.7-0.9-1.7-0.6-2.5
				c0.5,0.6,1,1.1,1.5,1.6s1.1,1,1.6,1.5C59.3,43.3,58.3,43,57.6,42.3L57.6,42.3z M65.3,42.8c-1.3-0.7-2.5-1.5-3.6-2.4l2.7-2.7l3,3
				L65.3,42.8z M68.3,44l1.3-1.3l2,2C70.4,44.6,69.3,44.4,68.3,44L68.3,44z M74.6,43.7l-3-3l3-3l3,3L74.6,43.7z M77.9,44.6l1.8-1.8
				l1,1C79.9,44.1,78.9,44.4,77.9,44.6L77.9,44.6z M83.6,42.4l-1.8-1.8l3-3l2.2,2.2C86.1,40.9,84.9,41.7,83.6,42.4L83.6,42.4z
				 M89.1,37.7L87,35.5l3-3l1.6,1.6C90.9,35.4,90.1,36.6,89.1,37.7L89.1,37.7z M93.1,31.4l-1-1l2.6-2.6
				C94.2,29.1,93.7,30.3,93.1,31.4L93.1,31.4z M96.4,21.9l-1.3,1.3l-3-3l3-3l1.8,1.8C96.8,19.9,96.6,20.9,96.4,21.9L96.4,21.9z"/>
		</g>
	</g>
</g>
</svg>
