<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 240.4 240.4" style="enable-background:new 0 0 240.4 240.4;" xml:space="preserve">
<path id="ball" d="M230.2,172.6l-20.5-21c-3.7-3.3-4.7-8.9-2.8-13.5c4.2-9.3,6.5-19.6,7-30.3c0-0.5,0-0.9,0-1.4
	c0-14.9-4.7-29.8-13.5-42c-16.8-23.8-39.2-42.9-65.3-55.9C101.5-7.3,61-0.8,34.4,25.8l-8.9,8.4C-1,60.8-7.6,101.8,9.2,135.8l1.4,2.3
	c-14.5,14.9-13.5,38.7,1.4,53.1c12.1,11.7,31.2,13.5,45.7,4.7c2.3,1.9,4.2,3.7,6.5,5.1c4.7,3.3,9.8,6.1,15.4,7.9h0.9
	c2.3,0.9,4.7,1.9,7,2.3h1.9c3.7,0.9,7.9,1.9,12.1,1.9h7.9c2.8,0,5.1,0,7.9-0.9h2.3c6.1-0.9,12.1-2.8,17.7-5.6
	c4.7-1.9,9.8-0.9,13.5,2.8l18.2,18.2c7.9,7.9,18.6,12.6,30.3,12.6c9.3,0,18.6-3.7,25.2-10.7l4.7-4.7
	C243.7,210.9,244.2,187.6,230.2,172.6z M37.2,176.4c-7,0-12.6-5.6-12.6-12.6c0-7,5.6-12.6,12.6-12.6s12.6,5.6,12.6,12.6
	C49.8,170.8,44.2,176.4,37.2,176.4L37.2,176.4z M73.1,175.9c1.4-3.7,1.9-7.9,1.9-11.7c0-21-16.8-37.8-37.8-37.8h-4.7l-0.9-1.9
	C19.5,99.9,24.1,71,43.3,51.4l8.4-8.4c19.6-18.6,48.5-22.8,72.3-10.7c21,10.7,39.6,26.1,53.6,45.2L73.1,175.9z M212.5,208.1
	l-4.7,4.7c-5.1,5.1-13.5,4.2-20.5-2.3l-18.6-18.2c-11.2-11.2-28-14-42-7.9c-4.2,1.9-8.4,3.3-12.6,3.7c-2.3,0.5-4.7,0.5-7.5,0.5h-5.6
	l86.7-86.7c0.9,8.9-0.5,17.2-4.2,25.2l0,0c-6.5,14.5-3.3,31.2,7.9,42l20.5,21C217.1,195.5,217.1,203.4,212.5,208.1L212.5,208.1z"/>
</svg>
