<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 242 242" style="enable-background:new 0 0 242 242;" xml:space="preserve">
<g>
	<path id="info-circle" d="M175.3,38.2c-2.4,0-4.2,1.9-4.2,4.2v17c0,2.4,1.9,4.3,4.2,4.3c2.4,0,4.2-1.9,4.2-4.3v-17
		C179.6,40.1,177.7,38.2,175.3,38.2z M176.9,21.6c-1.6-0.6-3.4-0.3-4.6,0.9c-0.4,0.4-0.7,0.9-0.9,1.4c-0.2,0.5-0.3,1.1-0.3,1.6
		c0,1.1,0.4,2.2,1.2,3c0.4,0.4,0.9,0.7,1.4,0.9c2.2,0.9,4.6-0.1,5.5-2.3c0.2-0.5,0.3-1.1,0.3-1.6c0-1.1-0.4-2.2-1.2-3
		C177.9,22.1,177.5,21.8,176.9,21.6z M175.3,0c-23.5,0-42.5,19-42.5,42.5s19,42.5,42.5,42.5s42.5-19,42.5-42.5S198.8,0,175.3,0z
		 M175.3,76.4c-18.8,0-34-15.2-34-34s15.2-34,34-34s34,15.2,34,34S194.1,76.4,175.3,76.4z"/>
	<path d="M96.8,48.4H84.7c-6.7,0-12.1,5.4-12.1,12.1c0,6.7,5.4,12.1,12.1,12.1h12.1c6.7,0,12.1-5.4,12.1-12.1
		C108.9,53.8,103.5,48.4,96.8,48.4z"/>
	<path d="M96.8,96.8H84.7c-6.7,0-12.1,5.4-12.1,12.1c0,6.7,5.4,12.1,12.1,12.1h12.1c6.7,0,12.1-5.4,12.1-12.1
		C108.9,102.2,103.5,96.8,96.8,96.8z"/>
	<path d="M229.9,217.8h-12.1l0-161.9c-1.6,9-7.9,20.8-24.2,28.6c0,0,0,133.4,0,133.4h-36.3v-60.5c0-6.7-5.4-12.1-12.1-12.1H96.8
		c-6.7,0-12.1,5.4-12.1,12.1v60.5H48.4V24.2l85.4,0C141.5,6.1,158.9,0,163.9,0H36.3c-6.7,0-12.1,5.4-12.1,12.1v205.7H12.1
		c-6.7,0-12.1,5.4-12.1,12.1S5.4,242,12.1,242h217.8c6.7,0,12.1-5.4,12.1-12.1S236.6,217.8,229.9,217.8z M133.1,217.8h-24.2v-48.4
		h24.2V217.8z"/>
	<path d="M157.3,96.8h-12.1c-6.7,0-12.1,5.4-12.1,12.1c0,6.7,5.4,12.1,12.1,12.1h12.1c6.7,0,12.1-5.4,12.1-12.1
		C169.4,102.2,164,96.8,157.3,96.8z"/>
</g>
</svg>
