<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 299 267" style="enable-background:new 0 0 299 267;" xml:space="preserve">
<g>
	<path d="M288.4,245.6h-10.7V117.5c0-11.8-9.6-21.4-21.4-21.4H235V53.4c0-5.9-4.8-10.7-10.7-10.7h-42.7c-5.9,0-10.7,4.8-10.7,10.7
		v42.7h-42.7V53.4c0-5.9-4.8-10.7-10.7-10.7H74.8c-5.9,0-10.7,4.8-10.7,10.7v42.7H42.7c-11.8,0-21.4,9.6-21.4,21.4v128.2H10.7
		c-5.9,0-10.7,4.8-10.7,10.7c0,5.9,4.8,10.7,10.7,10.7h277.7c5.9,0,10.7-4.8,10.7-10.7C299,250.4,294.2,245.6,288.4,245.6
		L288.4,245.6z M192.2,64.1h21.4v32h-21.4V64.1z M85.4,64.1h21.4v32H85.4V64.1z M74.8,117.5h181.6V153c-3.8,3.4-7.3,7-10.7,10.7
		c-9.6,11.2-15.6,17.6-28.2,17.6c-12.6,0-18.6-6.4-28.2-17.6c-9.8-15.1-26.4-24.4-44.4-25.1c-18,0.7-34.5,10-44.4,25.1
		c-9.2,11.6-14.9,17.9-27.7,17.9c-12.8,0-18.6-6.4-28.2-17.6l-1.7-1.9v-44.6H74.8z M42.7,245.6v-53.4c8.4,7,19,10.8,29.9,10.7
		c18.1-0.5,34.9-9.9,44.8-25.1c9.5-11.2,15.6-17.6,28.2-17.6c12.6,0,18.6,6.4,28.2,17.6c9.8,15.1,26.4,24.5,44.4,25.1
		c14.8-0.2,28.7-6.9,38-18.4v61.1H42.7z M96.1,32c5.9,0,10.7-4.8,10.7-10.7V10.7C106.8,4.8,102,0,96.1,0c-5.9,0-10.7,4.8-10.7,10.7
		v10.7C85.4,27.2,90.2,32,96.1,32L96.1,32z M202.9,32c5.9,0,10.7-4.8,10.7-10.7V10.7c0-5.9-4.8-10.7-10.7-10.7
		c-5.9,0-10.7,4.8-10.7,10.7v10.7C192.2,27.2,197,32,202.9,32L202.9,32z M202.9,32"/>
</g>
</svg>
