<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 196 215.6" style="enable-background:new 0 0 196 215.6;" xml:space="preserve">
<g>
	<path id="calendar-alt" d="M166.6,19.6h-9.8V9.8c0-5.9-3.9-9.8-9.8-9.8c-5.9,0-9.8,3.9-9.8,9.8v9.8H58.8V9.8C58.8,3.9,54.9,0,49,0
		s-9.8,3.9-9.8,9.8v9.8h-9.8C12.7,19.6,0,32.3,0,49v137.2c0,16.7,12.7,29.4,29.4,29.4h137.2c16.7,0,29.4-12.7,29.4-29.4V49
		C196,32.3,183.3,19.6,166.6,19.6z M176.4,186.2c0,5.9-3.9,9.8-9.8,9.8H29.4c-5.9,0-9.8-3.9-9.8-9.8V98h156.8V186.2z M176.4,78.4
		H19.6V49c0-5.9,3.9-9.8,9.8-9.8h9.8V49c0,5.9,3.9,9.8,9.8,9.8s9.8-3.9,9.8-9.8v-9.8h78.4V49c0,5.9,3.9,9.8,9.8,9.8
		c5.9,0,9.8-3.9,9.8-9.8v-9.8h9.8c5.9,0,9.8,3.9,9.8,9.8V78.4z"/>
	<path d="M104.9,147l31.4-31.4c2-2,2-4.9,0-6.9c-2-2-4.9-2-6.9,0L98,140.1l-31.4-31.4c-2-2-4.9-2-6.9,0s-2,4.9,0,6.9L91.1,147
		l-31.4,31.4c-2,2-2,4.9,0,6.9l0,0c2,2,4.9,2,6.9,0l0,0L98,153.9l31.4,31.4c2,2,4.9,2,6.9,0l0,0c2-2,2-4.9,0-6.9l0,0L104.9,147z"/>
</g>
</svg>
