<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 210 231" style="enable-background:new 0 0 210 231;" xml:space="preserve">
<path id="calendar-alt" d="M105,189c6.3,0,10.5-4.2,10.5-10.5c0-6.3-4.2-10.5-10.5-10.5s-10.5,4.2-10.5,10.5
	C94.5,184.8,98.7,189,105,189z M157.5,189c6.3,0,10.5-4.2,10.5-10.5c0-6.3-4.2-10.5-10.5-10.5c-6.3,0-10.5,4.2-10.5,10.5
	C147,184.8,151.2,189,157.5,189z M157.5,147c6.3,0,10.5-4.2,10.5-10.5s-4.2-10.5-10.5-10.5c-6.3,0-10.5,4.2-10.5,10.5
	S151.2,147,157.5,147z M105,147c6.3,0,10.5-4.2,10.5-10.5S111.3,126,105,126s-10.5,4.2-10.5,10.5S98.7,147,105,147z M178.5,21H168
	V10.5C168,4.2,163.8,0,157.5,0C151.2,0,147,4.2,147,10.5V21H63V10.5C63,4.2,58.8,0,52.5,0S42,4.2,42,10.5V21H31.5
	C13.7,21,0,34.7,0,52.5v147C0,217.4,13.7,231,31.5,231h147c17.9,0,31.5-13.6,31.5-31.5v-147C210,34.7,196.3,21,178.5,21z M189,199.5
	c0,6.3-4.2,10.5-10.5,10.5h-147c-6.3,0-10.5-4.2-10.5-10.5V105h168V199.5z M189,84H21V52.5C21,46.2,25.2,42,31.5,42H42v10.5
	C42,58.8,46.2,63,52.5,63S63,58.8,63,52.5V42h84v10.5c0,6.3,4.2,10.5,10.5,10.5c6.3,0,10.5-4.2,10.5-10.5V42h10.5
	c6.3,0,10.5,4.2,10.5,10.5V84z M52.5,147c6.3,0,10.5-4.2,10.5-10.5S58.8,126,52.5,126S42,130.2,42,136.5S46.2,147,52.5,147z
	 M52.5,189c6.3,0,10.5-4.2,10.5-10.5c0-6.3-4.2-10.5-10.5-10.5S42,172.2,42,178.5C42,184.8,46.2,189,52.5,189z"/>
</svg>
