<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 157.4 173" style="enable-background:new 0 0 157.4 173;" xml:space="preserve">
<g>
	<path id="calendar-alt" d="M133.8,15.6h-7.9V7.8c0-4.7-3.1-7.9-7.9-7.9s-7.9,3.1-7.9,7.9v7.9H47.2V7.8c0-4.7-3.1-7.9-7.9-7.9
		s-7.9,3.1-7.9,7.9v7.9h-7.9C10.2,15.6,0,25.9,0,39.3v110.1C0,162.8,10.2,173,23.6,173h110.1c13.4,0,23.6-10.2,23.6-23.6V39.3
		C157.4,25.9,147.1,15.6,133.8,15.6z M141.6,149.4c0,4.7-3.1,7.9-7.9,7.9H23.6c-4.7,0-7.9-3.1-7.9-7.9V78.6h125.9V149.4z
		 M141.6,62.9H15.7V39.3c0-4.7,3.1-7.9,7.9-7.9h7.9v7.9c0,4.7,3.1,7.9,7.9,7.9s7.9-3.1,7.9-7.9v-7.9h62.9v7.9c0,4.7,3.1,7.9,7.9,7.9
		s7.9-3.1,7.9-7.9v-7.9h7.9c4.7,0,7.9,3.1,7.9,7.9V62.9z"/>
	<g>
		<path d="M121.6,115.8c-11.8,0-20.5,9.4-20.5,20.5c0,11.8,9.4,20.5,20.5,20.5c11.8,0,20.5-9.4,20.5-20.5
			C142.8,125.2,133.4,115.8,121.6,115.8z M121.6,152.8c-9.4,0-16.5-7.1-16.5-16.5s7.1-16.5,16.5-16.5s16.5,7.1,16.5,16.5
			S131,152.8,121.6,152.8z"/>
		<path d="M128.7,137.8l-3.9-2.4V126c0-0.8-0.8-2.4-2.4-2.4c-0.8,0-2.4,0.8-2.4,2.4v10.2v0.8c0,0,0,0,0,0.8c0,0,0,0,0,0.8l0.8,0.8
			l0,0l5.5,3.1c0.8,0.8,2.4,0,2.4-0.8C128.7,141,128.7,138.6,128.7,137.8L128.7,137.8z"/>
	</g>
	<path d="M114.9,89.6c-2.4-2.4-5.5-2.4-7.9,0l0,0l-40.9,40.9l-16.5-17.3c-2.4-2.4-5.5-2.4-7.9,0s-2.4,5.5,0,7.9l21.2,21.2
		c2.4,2.4,5.5,2.4,7.9,0l0,0l44.8-44.8C117.2,95.9,117.2,92,114.9,89.6C115.7,89.6,115.7,89.6,114.9,89.6z"/>
</g>
</svg>
