<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 82 76" style="enable-background:new 0 0 82 76;" xml:space="preserve">
<path id="Icon" d="M61.5,76c-4.7,0.1-8.6-3.7-8.7-8.4c0.1-4.7,4-8.4,8.7-8.3c4.7-0.1,8.6,3.6,8.7,8.3C70.1,72.3,66.2,76.1,61.5,76z
	 M61.5,64.3c-1.8,0-3.3,1.4-3.4,3.3c0,1.9,1.5,3.3,3.4,3.3c1.9,0,3.4-1.5,3.5-3.3C64.9,65.7,63.3,64.3,61.5,64.3z M37.2,76
	c-4.7,0.1-8.6-3.7-8.7-8.4c0.1-4.7,4-8.4,8.7-8.3c4.7-0.1,8.6,3.6,8.7,8.3C45.8,72.3,41.9,76.1,37.2,76z M37.2,64.3
	c-1.9-0.1-3.4,1.4-3.5,3.3c0,1.9,1.6,3.4,3.5,3.3c1.9,0,3.4-1.5,3.4-3.3C40.6,65.8,39.1,64.3,37.2,64.3z M68.7,55.5H32.4
	c-2.7,0-5-1.6-5.9-4.1L11.6,6.7l-8.1,0c-0.1,0-0.1,0-0.2,0c-0.9,0-1.7-0.4-2.3-1C0.4,5.1,0,4.2,0,3.4c0-0.9,0.3-1.7,0.9-2.3
	c0.7-0.7,1.6-1,2.5-1l8.6,0h0.2c2.6,0,5,1.6,5.9,4.1l2.5,7.5h55.2c2,0,3.9,0.9,5.1,2.5c1.2,1.6,1.5,3.6,0.8,5.5l-7.8,21.1
	c-1,2.4-3.3,4-5.9,4H31.7l1.3,4h35.7c1.9,0,3.5,1.5,3.5,3.4C72.2,54,70.7,55.5,68.7,55.5C68.8,55.5,68.7,55.5,68.7,55.5z M22.8,18.3
	L22.8,18.3L29.4,38h37.9l7.3-19.7L22.8,18.3L22.8,18.3z"/>
</svg>
