<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 207 230" style="enable-background:new 0 0 207 230;" xml:space="preserve">
<path d="M133.4,107c5.8-6.9,8.1-14.9,8.1-23c0-20.7-17.3-37.9-37.9-37.9S65.5,63.3,65.5,84c0,8.1,3.5,16.1,8,23
	c-10.3,5.8-18.4,16.1-23,26.5c-2.3,5.8,0,12.6,5.8,14.9c5.8,2.3,12.7,0,15-5.8c0,0,0,0,0-1.2c5.8-12.6,17.3-20.7,31-20.7l0,0
	c13.8,0,26.4,8.1,32.2,20.7c2.3,4.6,5.8,6.9,10.4,6.9c1.1,0,3.4,0,4.6-1.2c5.8-2.3,8-9.2,5.8-14.9
	C151.8,121.9,143.7,112.7,133.4,107z M103.5,98.9L103.5,98.9c-8,0-14.9-6.9-14.9-15S95.4,69,103.5,69s14.9,6.9,14.9,14.9l0,0
	C118.4,92,111.5,98.9,103.5,98.9z M172.5,0h-138C14.9,0,0,15,0,34.5V161c0,19.6,14.9,34.5,34.5,34.5h29.9l31,31.1
	c2.3,2.3,4.6,3.4,8,3.4c2.3,0,5.8-1.2,6.9-2.3l36.8-32.2h25.3c19.6,0,34.5-14.9,34.5-34.5V34.5C207,15,192,0,172.5,0z M184,161
	c0,6.9-4.6,11.5-11.5,11.5h-28.7c-2.3,0-5.8,1.1-6.9,2.3l-32.2,27.6L78.2,176c-3.4-2.3-5.7-3.5-9.2-3.5H34.5
	c-6.9,0-11.5-4.6-11.5-11.5V34.5C23,27.6,27.6,23,34.5,23h138c6.9,0,11.5,4.6,11.5,11.5V161z"/>
</svg>
