<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 238 172.5" style="enable-background:new 0 0 238 172.5;" xml:space="preserve">
<path d="M232.2,5c-6.6-6.6-17.2-6.7-23.9-0.1c0,0-0.1,0.1-0.1,0.1L82.5,130.9l-52.8-53c-6.9-6.6-17.8-6.4-24.4,0.4
	c-6.6,6.9-6.4,17.8,0.4,24.4l64.8,64.8c6.6,6.6,17.2,6.7,23.9,0.1c0,0,0.1-0.1,0.1-0.1L232.2,29.8c6.9-6.3,7.3-17,1-23.8
	C232.8,5.6,232.5,5.3,232.2,5z"/>
</svg>
