<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 249 249" style="enable-background:new 0 0 249 249;" xml:space="preserve">
<path id="clock" d="M124.5,0C55.8,0,0,55.8,0,124.5S55.8,249,124.5,249S249,193.2,249,124.5S193.2,0,124.5,0z M124.5,224.1
	c-54.8,0-99.6-44.8-99.6-99.6s44.8-99.6,99.6-99.6s99.6,44.8,99.6,99.6S179.3,224.1,124.5,224.1z M163.3,132.5l-25.9-14.9V62.7
	c0-7-6-12.9-12.9-12.9c-7,0-12.9,6-12.9,12.9v63.7c0,1,0,2,1,3c0,1,1,1,1,2s1,1,1,2l2,2l1,1l32.9,18.9c6,3,13.9,1,16.9-5
	C171.3,143.4,169.3,135.5,163.3,132.5L163.3,132.5z"/>
</svg>
