<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 52.3 52.3" style="enable-background:new 0 0 52.3 52.3;" xml:space="preserve">
<g id="_Clock" transform="translate(-935.172 -120.172)">
	<path id="clock" d="M960.5,124c-12.4,0-22.5,10.1-22.5,22.5s10.1,22.5,22.5,22.5s22.5-10.1,22.5-22.5S972.9,124,960.5,124z
		 M960.5,164.5c-9.9,0-18-8.1-18-18c0-9.9,8.1-18,18-18s18,8.1,18,18C978.5,156.4,970.4,164.5,960.5,164.5z M967.5,147.9l-4.7-2.7
		v-9.9c0-1.2-1-2.2-2.2-2.2s-2.2,1-2.2,2.2v11.5c0,0.2,0.1,0.3,0.1,0.5c0,0.1,0.1,0.3,0.2,0.4c0.1,0.1,0.1,0.2,0.2,0.4l0.4,0.3
		l0.2,0.2l5.8,3.4c1.1,0.6,2.5,0.3,3.1-0.8C968.9,150,968.6,148.6,967.5,147.9C967.5,147.9,967.4,147.9,967.5,147.9L967.5,147.9z"/>
	<g id="Rectangle_36" transform="translate(981.841 123) rotate(45)">
		<path d="M2,0L2,0c1.1,0,2,0.9,2,2v58c0,1.1-0.9,2-2,2l0,0c-1.1,0-2-0.9-2-2V2C0,0.9,0.9,0,2,0z"/>
		<path d="M2-1L2-1c1.7,0,3,1.3,3,3v58c0,1.7-1.3,3-3,3l0,0c-1.7,0-3-1.3-3-3V2C-1,0.3,0.3-1,2-1z"/>
	</g>
</g>
</svg>
