<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 62 62" style="enable-background:new 0 0 62 62;" xml:space="preserve">
<path d="M59.6,31c1.5-1.7,2.4-3.9,2.4-6.2c0-5.1-4.2-9.3-9.3-9.3H36.6c1.7-4.8-0.8-10.2-5.7-11.9c-1-0.3-2-0.5-3.1-0.5H9.3
	C4.2,3.1,0,7.3,0,12.4c0,2.3,0.9,4.5,2.4,6.2c-3.2,3.5-3.2,8.9,0,12.4c-3.2,3.5-3.2,8.9,0,12.4C0.9,45.1,0,47.3,0,49.6
	c0,5.1,4.2,9.3,9.3,9.3h43.4c5.1,0,9.3-4.2,9.3-9.3c0-2.3-0.9-4.5-2.4-6.2C62.7,39.9,62.7,34.5,59.6,31z M27.9,52.7H9.3
	c-1.7,0-3.1-1.4-3.1-3.1c0-1.7,1.4-3.1,3.1-3.1h18.6c1.7,0,3.1,1.4,3.1,3.1C31,51.3,29.6,52.7,27.9,52.7z M27.9,40.3H9.3
	c-1.7,0-3.1-1.4-3.1-3.1s1.4-3.1,3.1-3.1h18.6c1.7,0,3.1,1.4,3.1,3.1S29.6,40.3,27.9,40.3z M27.9,27.9H9.3c-1.7,0-3.1-1.4-3.1-3.1
	s1.4-3.1,3.1-3.1h18.6c1.7,0,3.1,1.4,3.1,3.1S29.6,27.9,27.9,27.9z M27.9,15.5H9.3c-1.7,0-3.1-1.4-3.1-3.1s1.4-3.1,3.1-3.1h18.6
	c1.7,0,3.1,1.4,3.1,3.1S29.6,15.5,27.9,15.5z M54.8,51.8c-0.6,0.6-1.3,0.9-2.1,0.9H36.6c0.7-2,0.7-4.2,0-6.2h16.1
	c1.7,0,3.1,1.4,3.1,3.1C55.8,50.4,55.4,51.2,54.8,51.8z M54.8,39.4c-0.6,0.6-1.3,0.9-2.1,0.9H36.6c0.7-2,0.7-4.2,0-6.2h16.1
	c1.7,0,3.1,1.4,3.1,3.1C55.8,38,55.4,38.8,54.8,39.4z M54.8,27c-0.6,0.6-1.3,0.9-2.1,0.9H36.6c0.7-2,0.7-4.2,0-6.2h16.1
	c1.7,0,3.1,1.4,3.1,3.1C55.8,25.6,55.4,26.4,54.8,27z"/>
</svg>
