<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 246 246" style="enable-background:new 0 0 246 246;" xml:space="preserve">
<path d="M74,110.7c-6.8,0-12.3,5.5-12.3,12.3s5.5,12.3,12.3,12.3c6.8,0,12.3-5.5,12.3-12.3S80.8,110.7,74,110.7z M123.2,110.7
	c-6.8,0-12.3,5.5-12.3,12.3s5.5,12.3,12.3,12.3c6.8,0,12.3-5.5,12.3-12.3S130,110.7,123.2,110.7z M172.4,110.7
	c-6.8,0-12.3,5.5-12.3,12.3s5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3S179.1,110.7,172.4,110.7z M123.2,0C55.2,0,0.2,55.1,0.2,123
	c-0.1,28.4,9.7,55.9,27.8,77.9L3.4,225.4c-3.5,3.5-4.5,8.8-2.6,13.4c2.1,4.5,6.7,7.3,11.7,7.1h110.7c67.9,0,123-55.1,123-123
	S191.1,0,123.2,0z M123.2,221.4H42.1L53.5,210c2.3-2.3,3.7-5.4,3.7-8.7c0-3.2-1.4-6.3-3.7-8.6C15.1,154.2,15.1,91.9,53.5,53.5
	S154.2,15,192.6,53.4s38.5,100.7,0.1,139.2C174.3,211,149.2,221.4,123.2,221.4z"/>
</svg>
