<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 200.5 211.7" style="enable-background:new 0 0 200.5 211.7;" xml:space="preserve">
<path id="comment-question" d="M142.2,32c5.3,3,12.1,1.2,15.2-4.1c3.1-5.3,9.9-7.2,15.2-4.1c5.3,3.1,7.2,9.9,4.1,15.2
	c-2,3.5-5.7,5.6-9.7,5.6c-6.2-0.1-11.2,4.8-11.3,10.9c-0.1,6.2,4.8,11.2,10.9,11.3c0.1,0,0.3,0,0.4,0c18.5,0,33.4-15,33.4-33.4
	S185.5,0,167.1,0c-11.9,0-23,6.4-28.9,16.7C135,22,136.9,28.9,142.2,32C142.2,32,142.2,32,142.2,32L142.2,32z M190.1,111.4
	c-6.1-0.8-11.7,3.5-12.5,9.6c-4.8,39.1-38,68.4-77.4,68.4H38l7.2-7.2c4.3-4.3,4.3-11.4,0-15.7c-30.4-30.5-30.3-79.9,0.2-110.3
	C60,41.7,79.7,33.5,100.2,33.4c6.2,0.1,11.2-4.8,11.3-10.9c0.1-6.2-4.8-11.2-10.9-11.3c-0.1,0-0.3,0-0.4,0
	C44.9,11.4,0.2,56.5,0.4,111.8c0.1,22.6,7.8,44.4,21.9,62.1l-19,18.7c-4.3,4.4-4.2,11.5,0.2,15.9c2.1,2,4.8,3.2,7.7,3.2h89.1
	c50.5,0,93.2-37.6,99.5-87.7C200.6,117.9,196.3,112.3,190.1,111.4C190.2,111.4,190.2,111.4,190.1,111.4L190.1,111.4z M171.3,78.8
	c-2-0.9-4.3-1.2-6.5-0.8l-2,0.7l-2,1l-1.7,1.4c-1,1-1.8,2.2-2.3,3.6c-0.7,1.4-1,2.9-0.9,4.5c-0.1,6.2,4.8,11.2,10.9,11.3
	c6.2,0.1,11.2-4.8,11.3-10.9c0-0.1,0-0.3,0-0.4c0-1.5-0.3-2.9-0.9-4.2c-1.2-2.7-3.3-4.8-6-6L171.3,78.8z"/>
</svg>
