<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
<path id="comments" d="M238.2,220c29.6-39.6,21.4-95.7-18.2-125.3c-5.2-3.9-10.9-7.2-16.8-9.9c-9.7-55.7-62.7-93-118.3-83.3
	s-93,62.7-83.3,118.3c2.9,16.6,9.8,32.2,20.1,45.4L3.9,182.9c-5,5.1-4.9,13.2,0.2,18.2c2.4,2.3,5.6,3.7,8.9,3.7h72.8
	c14.8,31.2,46.2,51.1,80.7,51.2h76.8c7.1-0.1,12.8-5.9,12.8-13c0-3.3-1.3-6.5-3.7-8.9L238.2,220z M76.9,166.4c0,4.3,0.4,8.6,1,12.8
	H43.8l4.5-4.3c5-5,5-13.1,0.1-18.1c0,0,0,0-0.1-0.1c-14.5-14.3-22.6-33.9-22.5-54.2c0-42.4,34.4-76.8,76.8-76.8
	c32.6-0.2,61.6,20.4,72.3,51.2h-8.3C117,76.9,76.9,117,76.9,166.4z M211.7,230.4l0.6,0.6h-45.9c-35.3-0.1-63.9-28.7-63.8-64.1
	c0.1-35.3,28.7-63.9,64.1-63.8c35.3,0.1,63.9,28.7,63.8,64.1c0,17-6.8,33.2-18.8,45.2c-5,4.8-5.1,12.7-0.3,17.7
	C211.5,230.2,211.6,230.3,211.7,230.4z"/>
</svg>
