<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 247.8 247.4" style="enable-background:new 0 0 247.8 247.4;" xml:space="preserve">
<path id="comment-plus" d="M123.8,0C55.6,0,0.2,55.4,0.2,123.6l0,0c0,28.6,9.8,56.3,28.1,78.4L3.6,226.7c-4.7,4.7-4.7,12.4,0,17
	c2.6,2.6,6,3.8,9.4,3.4h111.2c68.2,0,123.6-55.4,123.6-123.6S192.4,0,123.8,0L123.8,0z M123.8,222.9H42.4l11.5-11.5
	c4.7-4.7,4.7-12.8,0-17.5c-38.8-38.8-38.8-101.4,0-139.8s101.4-38.8,139.8,0s38.8,101.4,0,139.8
	C175.3,212.3,150.2,222.5,123.8,222.9L123.8,222.9z M160.9,111.2h-24.7V86.5c0-6.8-5.5-12.4-12.4-12.4c-6.8,0-12.4,5.5-12.4,12.4
	l0,0v24.7H86.7c-6.8,0-12.4,5.5-12.4,12.4S79.9,136,86.7,136l0,0h24.7v24.7c0,6.8,5.5,12.4,12.4,12.4c6.8,0,12.4-5.5,12.4-12.4V136
	h24.7c6.8,0,12.4-5.5,12.4-12.4S167.7,111.2,160.9,111.2z"/>
</svg>
