<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248 248" style="enable-background:new 0 0 248 248;" xml:space="preserve">
<path id="compass" d="M124,0C55.5,0,0,55.5,0,124s55.5,124,124,124s124-55.5,124-124S192.5,0,124,0z M136.4,222.3v-11.5
	c0-6.8-5.6-12.4-12.4-12.4c-6.8,0-12.4,5.6-12.4,12.4v11.5c-44.9-5.7-80.2-41-85.9-85.9h11.5c6.8,0,12.4-5.6,12.4-12.4
	c0-6.8-5.6-12.4-12.4-12.4H25.7c5.7-44.9,41-80.2,85.9-85.9v11.5c0,6.8,5.6,12.4,12.4,12.4c6.8,0,12.4-5.6,12.4-12.4V25.7
	c44.9,5.7,80.2,41,85.9,85.9h-11.5c-6.8,0-12.4,5.6-12.4,12.4c0,6.8,5.6,12.4,12.4,12.4h11.5C216.6,181.3,181.3,216.6,136.4,222.3z
	 M162.9,68.8l-62,26.3c-2.9,1.3-5.2,3.6-6.4,6.4l-26.3,62c-2.7,6.4,0.3,13.7,6.6,16.4c1.5,0.6,3.1,1,4.7,1c1.7,0,3.4-0.4,5-1.1
	l62-26.3c2.9-1.3,5.2-3.6,6.4-6.4l26.3-62c2.7-6.3-0.3-13.6-6.6-16.2C169.5,67.5,166,67.5,162.9,68.8z M132.1,132.1l-28.3,12.4
	l12.4-28.3l28.3-12.4L132.1,132.1z"/>
</svg>
