<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 246 246" style="enable-background:new 0 0 246 246;" xml:space="preserve">
<path d="M110.7,86.1h24.6c6.8,0,12.3,5.5,12.3,12.3s5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3c0-20.4-16.5-36.9-36.9-36.9h-24.6
	c-20.4,0-36.9,16.5-36.9,36.9v49.2c0,20.4,16.5,36.9,36.9,36.9h24.6c20.4,0,36.9-16.5,36.9-36.9c0-6.8-5.5-12.3-12.3-12.3
	s-12.3,5.5-12.3,12.3s-5.5,12.3-12.3,12.3h-24.6c-6.8,0-12.3-5.5-12.3-12.3V98.4C98.4,91.6,103.9,86.1,110.7,86.1z M123,0
	C55.1,0,0,55.1,0,123s55.1,123,123,123s123-55.1,123-123S190.9,0,123,0z M123,221.4c-54.3,0-98.4-44.1-98.4-98.4S68.7,24.6,123,24.6
	s98.4,44.1,98.4,98.4S177.3,221.4,123,221.4z"/>
</svg>
