<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248 248" style="enable-background:new 0 0 248 248;" xml:space="preserve">
<path d="M235.6,111.6h-13.3c-5.7-44.9-41-80.2-85.9-85.9V12.4C136.4,5.6,130.8,0,124,0c-6.8,0-12.4,5.6-12.4,12.4v13.3
	c-44.9,5.7-80.2,41-85.9,85.9H12.4C5.6,111.6,0,117.2,0,124c0,6.8,5.6,12.4,12.4,12.4h13.3c5.7,44.9,41,80.2,85.9,85.9v13.3
	c0,6.8,5.6,12.4,12.4,12.4c6.8,0,12.4-5.6,12.4-12.4v-13.3c44.9-5.7,80.2-41,85.9-85.9h13.3c6.8,0,12.4-5.6,12.4-12.4
	C248,117.2,242.4,111.6,235.6,111.6z M186,136.4h11.3c-5.3,31.2-29.7,55.6-60.9,60.9V186c0-6.8-5.6-12.4-12.4-12.4
	c-6.8,0-12.4,5.6-12.4,12.4v11.3C80.4,192,56,167.6,50.7,136.4H62c6.8,0,12.4-5.6,12.4-12.4c0-6.8-5.6-12.4-12.4-12.4H50.7
	C56,80.4,80.4,56,111.6,50.7V62c0,6.8,5.6,12.4,12.4,12.4c6.8,0,12.4-5.6,12.4-12.4V50.7c31.2,5.3,55.6,29.7,60.9,60.9H186
	c-6.8,0-12.4,5.6-12.4,12.4C173.6,130.8,179.2,136.4,186,136.4z M124,111.6c-6.8,0-12.4,5.6-12.4,12.4c0,6.8,5.6,12.4,12.4,12.4
	c6.8,0,12.4-5.6,12.4-12.4C136.4,117.2,130.8,111.6,124,111.6z"/>
</svg>
