<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 244 219.6" style="enable-background:new 0 0 244 219.6;" xml:space="preserve">
<path id="desktop" d="M207.4,0H36.6C16.4,0,0,16.4,0,36.6v97.6c0,20.2,16.4,36.6,36.6,36.6h73.2v24.4H61c-6.7,0-12.2,5.5-12.2,12.2
	s5.5,12.2,12.2,12.2h122c6.7,0,12.2-5.5,12.2-12.2s-5.5-12.2-12.2-12.2h-48.8v-24.4h73.2c20.2,0,36.6-16.4,36.6-36.6V36.6
	C244,16.4,227.6,0,207.4,0z M219.6,134.2c0,6.7-5.5,12.2-12.2,12.2H36.6c-6.7,0-12.2-5.5-12.2-12.2V36.6c0-6.7,5.5-12.2,12.2-12.2
	h170.8c6.7,0,12.2,5.5,12.2,12.2L219.6,134.2L219.6,134.2z"/>
<path d="M77.8,45.3c-23.5,0-42.6,19-42.7,42.5c0,23.5,19,42.6,42.5,42.7c7.4,0,14.7-1.9,21.2-5.6h0.3h0.2
	c20.4-11.6,27.6-37.6,15.9-58.1C107.6,53.4,93.3,45.2,77.8,45.3z M82.1,54.2c15.4,2,27.6,14.1,29.5,29.5H82.1V54.2z M77.8,122
	c-18.8-0.1-34-15.5-33.8-34.3c0.1-17,12.7-31.3,29.6-33.5v33.8c0,0.5,0.1,1,0.3,1.5v0.3v0.3l17,29.3C86.8,121.1,82.3,122,77.8,122z
	 M98.4,115L85.2,92.2h26.4C110.5,101.3,105.7,109.5,98.4,115z"/>
<path d="M155.4,126.5c2.6,0,4.8-2.1,4.8-4.8l0,0c0-0.2,0-0.3,0-0.5l8.9-8.9h0.7h0.7l5.1,5.1c0,0,0,0.2,0,0.3c0,2.6,2.1,4.8,4.8,4.8
	c2.6,0,4.8-2.1,4.8-4.8v-0.3l11.6-11.7l0,0c2.6,0,4.8-2.1,4.8-4.8s-2.1-4.8-4.8-4.8s-4.8,2.1-4.8,4.8c0,0.2,0,0.3,0,0.5L180.5,113
	H180l-5.5-5.6c0-2.6-2.1-4.8-4.8-4.8c-2.6,0-4.8,2.1-4.8,4.8l-9.5,9.5l0,0c-2.6,0-4.8,2.1-4.8,4.8S152.8,126.5,155.4,126.5z"/>
<g>
	<path d="M154,49.6h44.3c1.7,0,3.2-1,3.2-2.1c0-1.2-1.4-2.1-3.2-2.1H154c-1.7,0-3.2,1-3.2,2.1S152.3,49.6,154,49.6z"/>
	<path d="M198.4,55.3H154c-1.7,0-3.2,1-3.2,2.1c0,1.2,1.4,2.1,3.2,2.1h44.3c1.7,0,3.2-1,3.2-2.1C201.5,56.2,200.1,55.3,198.4,55.3z"
		/>
	<path d="M198.4,65.2H154c-1.7,0-3.2,1-3.2,2.1c0,1.2,1.4,2.1,3.2,2.1h44.3c1.7,0,3.2-1,3.2-2.1C201.5,66.1,200.1,65.2,198.4,65.2z"
		/>
	<path d="M182.6,75.1H153c-1.2,0-2.1,1-2.1,2.1c0,1.2,0.9,2.1,2.1,2.1h29.6c1.2,0,2.1-1,2.1-2.1C184.7,76.1,183.7,75.1,182.6,75.1z"
		/>
</g>
</svg>
