<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 250.5 250.1" style="enable-background:new 0 0 250.5 250.1;" xml:space="preserve">
<path id="directions" d="M239.5,98.3l-87.7-87.7c-14.9-14.1-38.2-14.1-53.1,0L11,98.3c-14.7,14.7-14.7,38.4,0,53.1l87.7,87.7
	c14.7,14.7,38.4,14.7,53.1,0l87.7-87.7C254.2,136.8,254.2,113,239.5,98.3z M221.9,133.8l-87.7,87.7c-4.9,4.9-12.8,4.9-17.7,0.1
	c0,0,0,0-0.1-0.1l0,0l-87.7-87.7c-4.9-4.9-4.9-12.8-0.1-17.7c0,0,0,0,0.1-0.1l87.7-87.7c4.9-4.9,12.8-4.9,17.7-0.1c0,0,0,0,0.1,0.1
	l87.7,87.7C226.8,120.8,226.8,128.8,221.9,133.8C221.9,133.7,221.9,133.7,221.9,133.8L221.9,133.8z M153,90.9
	c-4.9-4.9-12.9-4.9-17.8,0c-4.9,4.9-4.9,12.9,0,17.8l0,0l3.8,3.6h-45c-6.9,0-12.5,5.6-12.5,12.5l0,0v25.1c0,6.9,5.6,12.5,12.5,12.5
	s12.5-5.6,12.5-12.5v-12.5h32.4l-3.8,3.6c-5,4.9-5,12.8-0.2,17.8c4.9,5,12.8,5,17.8,0.2c0.1-0.1,0.1-0.1,0.2-0.2l25.1-25.1
	c4.9-4.9,4.9-12.8,0.1-17.7c0,0,0,0-0.1-0.1L153,90.9z"/>
</svg>
