<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 147.6 246" style="enable-background:new 0 0 147.6 246;" xml:space="preserve">
<path d="M98.4,110.7H49.2c-13.6,0-24.6-11-24.6-24.6s11-24.6,24.6-24.6h61.5c6.8,0,12.3,5.5,12.3,12.3s5.5,12.3,12.3,12.3
	c6.8,0,12.3-5.5,12.3-12.3c0-20.4-16.5-36.9-36.9-36.9H86.1V12.3C86.1,5.5,80.6,0,73.8,0S61.5,5.5,61.5,12.3v24.6H49.2
	C22,36.9,0,58.9,0,86.1s22,49.2,49.2,49.2h49.2c13.6,0,24.6,11,24.6,24.6c0,13.6-11,24.6-24.6,24.6H36.9c-6.8,0-12.3-5.5-12.3-12.3
	c0-6.8-5.5-12.3-12.3-12.3S0,165.4,0,172.2c0,20.4,16.5,36.9,36.9,36.9h24.6v24.6c0,6.8,5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3
	v-24.6h12.3c27.2,0,49.2-22,49.2-49.2S125.6,110.7,98.4,110.7z"/>
</svg>
