<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248 198.6" style="enable-background:new 0 0 248 198.6;" xml:space="preserve">
<path d="M210.9,0H37.1C16.6,0-0.1,16.7-0.1,37.2v124.1c0,20.6,16.7,37.2,37.2,37.2h173.7c20.6,0,37.2-16.7,37.2-37.2V37.2
	C248.1,16.7,231.4,0,210.9,0z M37.1,24.8h173.7c6.9,0,12.4,5.6,12.4,12.4L124,97.8L24.7,37.2C24.7,30.4,30.3,24.8,37.1,24.8z
	 M223.3,161.3c0,6.9-5.6,12.4-12.4,12.4H37.1c-6.9,0-12.4-5.6-12.4-12.4V65.5l92.8,56.7c3.8,2.2,8.6,2.2,12.4,0l93.3-56.7V161.3z"/>
</svg>
