<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248 223.2" style="enable-background:new 0 0 248 223.2;" xml:space="preserve">
<path id="envelope-check" d="M177.2,70.8c4.8,4.9,12.7,4.9,17.5,0.1c0,0,0,0,0.1-0.1l49.6-49.6c4.9-4.9,4.9-12.7,0-17.6
	s-12.7-4.9-17.6,0L186,44.6l-16-16.1c-4.9-4.9-12.7-4.9-17.6,0s-4.9,12.7,0,17.6L177.2,70.8z M235.5,62c-6.8,0-12.4,5.6-12.4,12.4
	V186c0,6.8-5.6,12.4-12.4,12.4H37.2c-6.8,0-12.4-5.6-12.4-12.4V67.1l72.9,73c7,6.9,16.4,10.8,26.2,10.8c10-0.1,19.7-4.1,26.8-11.2
	l21.3-21.3c4.9-4.9,4.9-12.7,0-17.6c-4.9-4.9-12.7-4.9-17.6,0l-21.7,21.7c-4.8,4.7-12.5,4.7-17.4,0l-73-72.9h69.3
	c6.8,0,12.4-5.6,12.4-12.4s-5.6-12.4-12.4-12.4H37.2C16.7,24.8,0,41.5,0,62v124c0,20.5,16.7,37.2,37.2,37.2h173.6
	c20.5,0,37.2-16.7,37.2-37.2V74.4C247.9,67.6,242.4,62,235.5,62z"/>
</svg>
