<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 224 248" style="enable-background:new 0 0 224 248;" xml:space="preserve">
<path d="M200.9,191.1c-13.4,19.4-35.2,31.3-58.8,32.1c-33.2,0-62-24.8-74.4-62h68.7c6.8,0,12.4-5.6,12.4-12.4
	c0-6.8-5.6-12.4-12.4-12.4H62.6c0-4.1-0.6-8.3-0.6-12.4s0-8.3,0.6-12.4h73.8c6.8,0,12.4-5.6,12.4-12.4s-5.6-12.4-12.4-12.4H67.8
	c12.4-37.2,41-62,74.4-62c23.5,0.8,45.3,12.7,58.7,32.1c3.4,5.9,11,7.9,17,4.5c5.9-3.4,7.9-11,4.5-17c-0.5-0.8-1-1.5-1.6-2.2
	C202.8,16.4,173.6,0.7,142.1,0C95.5,0,55.3,35.2,42,86.8H12.4C5.6,86.8,0,92.4,0,99.2s5.6,12.4,12.4,12.4h25.4c0,4.1,0,8.3,0,12.4
	s0,8.3,0,12.4H12.4C5.6,136.4,0,142,0,148.8c0,6.8,5.6,12.4,12.4,12.4H42C55.6,212.8,95.5,248,142.1,248
	c31.5-0.7,60.7-16.4,78.6-42.3c3.4-5.9,1.4-13.5-4.5-17C211.2,185.8,204.8,186.8,200.9,191.1z"/>
</svg>
