<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 131.6 253.3" style="enable-background:new 0 0 131.6 253.3; width: 12px;" xml:space="preserve">
<path id="facebook-f" fill="rgb(6,174,220)" d="M107.8,42.1h23.8V1.8C120.1,0.6,108.5,0,96.9,0c-34.5,0-58,21-58,59.5v33.2H0v45.1h38.9v115.5h46.6V137.8
	h38.8l5.8-45.1H85.5V64C85.5,50.7,89,42.1,107.8,42.1z"/>
</svg>
