<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 252 174.5" style="enable-background:new 0 0 252 174.5;" xml:space="preserve">
<path d="M232.6,0H19.4C8.7,0,0,8.7,0,19.4v135.7c0,10.7,8.7,19.4,19.4,19.4h213.2c10.7,0,19.4-8.7,19.4-19.4V19.4
	C252,8.7,243.3,0,232.6,0z M135.7,126V96.9h38.8V126H135.7z M19.4,126V48.5h38.8V126H19.4z M116.3,48.5v29.1H77.5V48.5H116.3z
	 M174.5,77.5h-38.8V48.5h38.8V77.5z M77.5,96.9h38.8V126H77.5V96.9z M193.8,48.5h38.8V126h-38.8V48.5z M232.6,29.1h-96.9v-9.7h96.9
	V29.1z M116.3,19.4v9.7H19.4v-9.7H116.3z M19.4,145.4h96.9v9.7H19.4V145.4z M135.7,155.1v-9.7h96.9v9.7H135.7z"/>
</svg>
