<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248 310" style="enable-background:new 0 0 248 310;" xml:space="preserve">
<path id="file-alt" d="M77.7,124h15.7c8.3,0,15.7-6.6,15.7-15.7s-6.6-15.7-15.7-15.7l0,0H77.7c-8.3,0-15.7,6.6-15.7,15.7
	S68.6,124,77.7,124z M77.7,155.4c-8.3,0-15.7,6.6-15.7,15.7s6.6,15.7,15.7,15.7h93.4c8.3,0,15.7-6.6,15.7-15.7s-6.6-15.7-15.7-15.7
	H77.7z M248,107.5c0-1.7-0.8-2.5-0.8-4.1v-1.7c-0.8-1.7-1.7-3.3-3.3-4.1l0,0L151.3,5l0,0c-1.7-0.8-2.5-2.5-4.1-3.3
	c-0.8,0-0.8,0-1.7,0c-1.7-0.8-3.3-1.7-5-1.7H46.3C20.7,0,0,20.7,0,46.3v217.4C0,289.3,20.7,310,46.3,310l0,0h155.4
	c25.6,0,46.3-20.7,46.3-46.3l0,0V107.5z M155.4,52.9l40.5,40.5h-24.8c-8.3,0-15.7-6.6-15.7-15.7l0,0V52.9z M217.4,263.7
	c0,8.3-6.6,15.7-15.7,15.7l0,0H46.3c-8.3,0-15.7-6.6-15.7-15.7l0,0V46.3c0-8.3,6.6-15.7,15.7-15.7H124v46.3
	c0,25.6,20.7,46.3,46.3,46.3h46.3v140.5H217.4z M170.3,217.4H77.7c-8.3,0-15.7,6.6-15.7,15.7S68.6,248,77.7,248h93.4
	c8.3,0,15.7-6.6,15.7-15.7C186.8,223.2,179.4,217.4,170.3,217.4z"/>
</svg>
