<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 244 244" style="enable-background:new 0 0 244 244;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#1D1D1B;}
</style>
<path id="filter" class="st0" d="M233.5,0h-223C6.6,0,3,2.1,1.2,5.5C-0.7,9-0.3,13.2,2,16.3l81.7,112.3l0.1,0.1
	c3,3.9,4.6,8.6,4.6,13.5v91.5c0,2.7,1.1,5.3,3,7.2c2,1.9,4.6,3,7.4,3c1.4,0,2.8-0.3,4.1-0.8l45.9-17.1c4.2-1.3,7-5.2,6.8-9.6v-74.3
	c0-4.9,1.6-9.6,4.6-13.5l0.1-0.1L242,16.3c2.3-3.1,2.7-7.3,0.8-10.8C241,2.1,237.4,0,233.5,0L233.5,0z M150,121.4
	c-4.6,6-7,13.3-7.1,20.8V215l-41.9,15.6v-88.4c0-7.5-2.5-14.9-7.1-20.8l-79.3-109h214.6L150,121.4z"/>
</svg>
