<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="flag" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 220.9 248.6" style="enable-background:new 0 0 220.9 248.6;" xml:space="preserve">
<g>
	<g>
		<path d="M210.9,23.2c-6.4-4.6-14.6-5.9-22.1-3.5c-9.7,2.7-19.8,4-30,3.9c-15-0.8-29.6-4.5-43.2-10.8C98.8,5.1,80.6,0.7,62.1,0
			C22.2,0,6.9,13.8,4.1,15.7C1.5,18.4,0,21.9,0,25.7v209.1c0,7.6,6.2,13.8,13.8,13.8s13.8-6.2,13.8-13.8v-59.4
			c11-4.2,22.7-6.1,34.5-5.7c15,0.8,29.6,4.5,43.2,10.8c16.8,7.8,35,12.1,53.4,12.8c16.6,0.6,33.2-2.7,48.3-9.7
			c8.3-3.9,13.7-12.2,13.8-21.4V42.9C220.9,35.1,217.2,27.8,210.9,23.2z M193.3,160c-11,4.2-22.7,6.1-34.5,5.7
			c-15-0.8-29.7-4.5-43.2-10.9c-16.8-7.7-35-12-53.4-12.7c-11.6-0.2-23.2,1.1-34.5,4V33.4c11-4.3,22.7-6.3,34.5-5.8
			c15,0.8,29.7,4.5,43.2,10.9c16.8,7.7,35,12,53.4,12.7c11.6,0.2,23.3-1.2,34.5-4.1V160z"/>
	</g>
</g>
</svg>
