<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248.6 248.6" style="enable-background:new 0 0 248.6 248.6;" xml:space="preserve">
<path d="M124.3-0.1C55.5,0-0.1,55.8,0,124.6c0.1,31.1,11.7,61,32.8,83.9l1.1,1.2c47.3,49.9,126.1,52.1,176,4.8
	c1.6-1.5,3.2-3.1,4.8-4.8l1.1-1.2c46.5-50.7,43.1-129.4-7.6-175.9C185.3,11.6,155.4-0.1,124.3-0.1z M44.7,184
	C18,148.7,18,100,44.7,64.7c32.9,24.8,39.5,71.7,14.7,104.6C55.2,174.9,50.3,179.8,44.7,184z M124.3,224c-22.7,0-44.7-7.7-62.3-22
	c42.8-34.5,49.6-97.2,15.1-140.1c-4.5-5.6-9.5-10.6-15.1-15.1c36.3-29.4,88.2-29.4,124.5,0c-42.8,34.5-49.6,97.2-15.1,140.1
	c4.5,5.6,9.5,10.6,15.1,15.1C168.9,216.2,146.9,224,124.3,224z M203.8,184c-32.9-24.8-39.5-71.7-14.7-104.6
	c4.2-5.5,9.1-10.5,14.7-14.7C230.6,100,230.6,148.7,203.8,184z"/>
</svg>
