<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248.6 248.6" style="enable-background:new 0 0 248.6 248.6;" xml:space="preserve">
<path d="M241.2,82.4c0,0,0,0,0-0.6C217.6,17.3,146-15.9,81.5,7.7C47.1,20.3,20,47.4,7.4,81.8c0,0,0,0,0,0.6c-9.8,27-9.8,56.6,0,83.7
	c0,0,0,0,0,0.6c23.6,64.6,95.2,97.7,159.7,74.1c34.4-12.6,61.5-39.7,74.1-74.1c0,0,0,0,0-0.6C251,139.1,251,109.5,241.2,82.4z
	 M27.7,149.2c-4.3-16.3-4.3-33.5,0-49.8h23.2c-2,16.5-2,33.3,0,49.8H27.7z M37.9,174.1h17.4c2.9,11.1,7.1,21.8,12.5,32
	C55.6,197.8,45.4,186.8,37.9,174.1z M55.3,74.5H37.9c7.4-12.7,17.4-23.6,29.5-32C62.2,52.7,58.1,63.4,55.3,74.5z M111.6,220.1
	c-15.3-11.2-26-27.6-30.3-46.1h30.3V220.1z M111.6,149.2H76c-2.3-16.5-2.3-33.3,0-49.8h35.6V149.2z M111.6,74.5H81.3
	c4.2-18.5,15-34.8,30.3-46.1V74.5z M210.2,74.5h-17.4c-2.9-11.1-7.1-21.8-12.5-32C192.5,50.8,202.7,61.7,210.2,74.5z M136.5,28.4
	c15.3,11.2,26,27.6,30.3,46.1h-30.3V28.4z M136.5,220.1v-46.1h30.3C162.5,192.6,151.8,208.9,136.5,220.1z M172.1,149.2h-35.6V99.4
	h35.6C174.4,115.9,174.4,132.7,172.1,149.2z M180.7,206.1c5.4-10.2,9.5-20.9,12.5-32h17.4C203.1,186.8,192.9,197.8,180.7,206.1z
	 M220.4,149.2h-23.2c1-8.3,1.5-16.6,1.5-24.9c0-8.3-0.5-16.6-1.5-24.9h23.2C224.7,115.7,224.7,132.9,220.4,149.2z"/>
</svg>
