<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248 188.8" style="enable-background:new 0 0 248 188.8;" xml:space="preserve">
<path d="M242,66.5L230.1,60l0,0L123.4,0.7h-1.3c-0.7-0.3-1.5-0.5-2.3-0.7h-2.3h-2.1c-0.8,0.2-1.6,0.4-2.4,0.7h-1.3L5,60
	c-5.7,3.2-7.7,10.5-4.5,16.2C1.6,78,3.1,79.6,5,80.6L34.5,97v56.2c0,19.6,15.9,35.6,35.6,35.6H165c19.6,0,35.6-15.9,35.6-35.6V97
	l23.7-13.3v33.9c0,6.5,5.3,11.9,11.9,11.9s11.9-5.3,11.9-11.9V76.8C248,72.6,245.7,68.6,242,66.5z M176.8,153.2
	c0,6.5-5.3,11.9-11.9,11.9H70.1c-6.5,0-11.9-5.3-11.9-11.9v-43l53.5,29.6l1.8,0.7h1.1c1,0.1,2,0.1,3,0l0,0c1,0.1,2,0.1,3,0h1.1
	c0.6-0.1,1.2-0.4,1.8-0.7l53.5-29.6V153.2z M117.6,116L35.3,70.2l82.3-45.8l82.3,45.8L117.6,116z"/>
</svg>
