<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 132 84" style="enable-background:new 0 0 132 84;" xml:space="preserve">
<g id="Group" transform="translate(-1547 -123)">
	<path id="UserBackground" d="M1627.1,178.4c3.2-3.4,4.9-7.9,5-12.5c-0.2-10.4-8.8-18.7-19.2-18.6c-10.2,0.2-18.4,8.4-18.6,18.6
		c0.1,4.6,1.8,9.1,5,12.5c-8.9,4.5-15.1,13.1-16.2,23c-0.3,2.8,1.7,5.2,4.4,5.6s5.2-1.7,5.6-4.5l0,0c1.4-11,11.4-18.7,22.3-17.4
		c9.1,1.1,16.2,8.3,17.4,17.4c0.3,2.7,2.6,4.6,5.3,4.4h0.6c2.7-0.3,4.7-2.8,4.4-5.5C1641.9,191.6,1635.9,182.9,1627.1,178.4
		L1627.1,178.4z M1613,174.8c-4.9,0-8.9-4-8.9-8.9c0-4.9,4-8.9,8.9-8.9c4.9,0,8.9,4,8.9,8.9l0,0
		C1621.9,170.8,1617.9,174.8,1613,174.8C1613,174.8,1613,174.8,1613,174.8z"/>
	<path id="UserBackground-2" d="M1663.1,154.4c3.2-3.4,4.9-7.9,5-12.5c-0.2-10.4-8.8-18.7-19.2-18.6c-10.2,0.2-18.4,8.4-18.6,18.6
		c0.1,4.6,1.8,9.1,5,12.5c-9,4.5-15.1,13.1-16.2,23c-0.3,2.8,1.7,5.2,4.4,5.6c2.8,0.3,5.2-1.7,5.6-4.5l0,0
		c1.4-11,11.4-18.7,22.3-17.4c9.1,1.1,16.2,8.3,17.4,17.4c0.3,2.7,2.6,4.6,5.3,4.4h0.5c2.7-0.3,4.7-2.8,4.4-5.5
		C1677.9,167.6,1671.9,158.9,1663.1,154.4L1663.1,154.4z M1649,150.8c-4.9,0-8.9-4-8.9-8.9c0-4.9,4-8.9,8.9-8.9c4.9,0,8.9,4,8.9,8.9
		l0,0C1657.9,146.8,1653.9,150.8,1649,150.8C1649,150.8,1649,150.8,1649,150.8z"/>
	<path id="UserBackground-3" d="M1591.1,154.4c3.2-3.4,4.9-7.9,5-12.5c-0.2-10.4-8.8-18.7-19.2-18.6c-10.2,0.2-18.4,8.4-18.6,18.6
		c0.1,4.6,1.8,9.1,5,12.5c-8.9,4.5-15.1,13.1-16.2,23c-0.3,2.8,1.7,5.2,4.4,5.6s5.2-1.7,5.6-4.5l0,0c1.4-11,11.4-18.7,22.3-17.4
		c9.1,1.1,16.2,8.3,17.4,17.4c0.3,2.7,2.6,4.6,5.3,4.4h0.6c2.7-0.3,4.7-2.8,4.4-5.5C1605.9,167.6,1599.9,158.9,1591.1,154.4
		L1591.1,154.4z M1577,150.8c-4.9,0-8.9-4-8.9-8.9c0-4.9,4-8.9,8.9-8.9c4.9,0,8.9,4,8.9,8.9l0,0
		C1585.9,146.8,1581.9,150.8,1577,150.8C1577,150.8,1577,150.8,1577,150.8z"/>
</g>
</svg>
