<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 246 246" style="enable-background:new 0 0 246 246;" xml:space="preserve">
<path d="M209.1,0H36.9C16.5,0,0,16.5,0,36.9v172.2C0,229.5,16.5,246,36.9,246h172.2c2,0,4-0.2,6-0.6l3.7-0.9h0.9l0,0h0.6l4.6-1.7
	l1.6-0.9c1.2-0.7,2.6-1.4,3.8-2.2c1.6-1.2,3.2-2.5,4.7-3.9l0.9-1.1c1.2-1.2,2.3-2.5,3.3-3.9l1.1-1.6c0.9-1.4,1.6-2.8,2.2-4.3
	c0.3-0.6,0.6-1.2,0.9-1.8c0.6-1.5,1-3.1,1.5-4.7v-1.8c0.7-2.4,1.1-4.9,1.2-7.4V36.9C246,16.5,229.5,0,209.1,0z M36.9,221.4
	c-6.8,0-12.3-5.5-12.3-12.3v-53l40.5-40.6l0,0c4.8-4.8,12.6-4.9,17.4-0.1c0,0,0,0,0.1,0.1l105.8,105.9H36.9z M221.4,209.1
	c0,1.5-0.3,3-0.9,4.4c-0.3,0.6-0.6,1.2-1,1.7c-0.3,0.5-0.7,1-1.1,1.5l-65.8-65.8l10.8-10.8c4.8-4.8,12.6-4.9,17.4-0.1
	c0,0,0,0,0.1,0.1l0,0l40.5,40.6V209.1z M221.4,145.9L198.3,123c-14.6-13.9-37.5-13.9-52.2,0l-10.8,10.8L99.9,98.4
	c-14.6-13.9-37.5-13.9-52.2,0l-23.1,22.9V36.9c0-6.8,5.5-12.3,12.3-12.3h172.2c6.8,0,12.3,5.5,12.3,12.3V145.9z"/>
</svg>
