<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 249 249" style="enable-background:new 0 0 249 249;" xml:space="preserve">
<path id="info-circle" d="M124.5,112.1c-6.9,0-12.4,5.6-12.4,12.4v49.8c0,6.9,5.6,12.5,12.4,12.5c6.9,0,12.4-5.6,12.4-12.5v-49.8
	C136.9,117.6,131.4,112.1,124.5,112.1z M129.2,63.2c-4.6-1.8-9.9-0.8-13.6,2.6c-1.1,1.2-2,2.6-2.6,4.1c-0.7,1.5-1,3.1-1,4.7
	c0,3.3,1.3,6.5,3.6,8.8c1.2,1.1,2.6,2,4.1,2.6c6.4,2.6,13.6-0.4,16.2-6.8c0.6-1.5,0.9-3.1,0.9-4.6c0-3.3-1.3-6.5-3.6-8.8
	C132.2,64.7,130.8,63.8,129.2,63.2z M124.5,0C55.7,0,0,55.7,0,124.5S55.7,249,124.5,249S249,193.3,249,124.5S193.3,0,124.5,0z
	 M124.5,224.1c-55,0-99.6-44.6-99.6-99.6s44.6-99.6,99.6-99.6s99.6,44.6,99.6,99.6S179.5,224.1,124.5,224.1z"/>
</svg>
