<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 244 244" style="enable-background:new 0 0 244 244; width: 24px;" xml:space="preserve">
<path id="instagram" fill="rgb(6,174,220)" d="M187.1,42.2L187.1,42.2c-8.1,0-14.6,6.6-14.6,14.6s6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6
	S195.2,42.2,187.1,42.2L187.1,42.2z M243.3,71.7c-0.2-10.1-2.1-20.1-5.6-29.6c-3.1-8.1-7.9-15.5-14.2-21.6c-6-6.3-13.4-11.1-21.6-14
	c-9.5-3.6-19.5-5.5-29.6-5.7C159.3,0,155.2,0,122,0S84.7,0,71.7,0.7C61.6,0.9,51.6,2.9,42.1,6.5c-8.2,3-15.5,7.8-21.6,14
	c-6.3,6-11.1,13.4-14,21.6c-3.6,9.5-5.5,19.5-5.7,29.6C0,84.7,0,88.8,0,122s0,37.3,0.7,50.3c0.2,10.1,2.1,20.2,5.7,29.6
	c3,8.2,7.8,15.6,14,21.6c6.1,6.2,13.4,11,21.6,14c9.5,3.6,19.5,5.5,29.6,5.7C84.7,244,88.8,244,122,244s37.3,0,50.3-0.7
	c10.1-0.2,20.2-2.1,29.6-5.7c8.2-3,15.6-7.8,21.6-14c6.2-6.1,11.1-13.4,14.2-21.6c3.5-9.5,5.4-19.5,5.6-29.6
	c0-12.9,0.7-17.1,0.7-50.3S244,84.7,243.3,71.7z M221.3,170.8c-0.1,7.7-1.5,15.4-4.1,22.7c-1.9,5.3-5.1,10.1-9.1,14
	c-4,4-8.7,7.2-14,9.1c-7.3,2.7-14.9,4.1-22.7,4.1c-12.2,0.6-16.7,0.7-48.8,0.7s-36.6,0-48.8-0.7c-8,0.2-16-1.1-23.7-3.7
	c-5.1-2.1-9.6-5.2-13.4-9.2c-4-3.9-7.1-8.7-9-14c-3-7.4-4.6-15.2-4.9-23.2c0-12.2-0.7-16.7-0.7-48.8s0-36.6,0.7-48.8
	c0.1-7.9,1.5-15.8,4.3-23.2c2.1-5.1,5.4-9.7,9.6-13.4c3.7-4.2,8.3-7.5,13.4-9.8c7.4-2.7,15.3-4.1,23.2-4.1c12.2,0,16.7-0.7,48.8-0.7
	s36.6,0,48.8,0.7c7.7,0.1,15.4,1.5,22.7,4.1c5.5,2.1,10.5,5.4,14.5,9.8c4,3.7,7.1,8.3,9.1,13.4c2.7,7.4,4.1,15.3,4.1,23.2
	c0.6,12.2,0.7,16.7,0.7,48.8S221.9,158.6,221.3,170.8z M122,59.4c-34.5,0.1-62.4,28.2-62.3,62.7s28.2,62.4,62.7,62.3
	s62.4-28.2,62.3-62.7c-0.1-16.5-6.6-32.3-18.3-44C154.6,66,138.6,59.4,122,59.4z M122,162.6c-22.4,0-40.6-18.2-40.6-40.6
	S99.6,81.4,122,81.4s40.6,18.2,40.6,40.6l0,0C162.6,144.4,144.4,162.6,122,162.6z"/>
</svg>
