<svg xmlns="http://www.w3.org/2000/svg" width="25.922" height="30.109" viewBox="0 0 25.922 30.109">
  <g id="débutant" transform="translate(-0.292 0.5)">
    <path id="Tracé_92" data-name="Tracé 92" d="M2.1,193a1.814,1.814,0,0,0-1.812,1.812v5.447a1.818,1.818,0,0,0,3.635.093v-5.54A1.823,1.823,0,0,0,2.1,193Z" transform="translate(0 -173.015)" fill="#279ad8"/>
    <path id="Tracé_93" data-name="Tracé 93" d="M72.2,140.3a1.814,1.814,0,0,0-1.812,1.812h0v10.893a1.818,1.818,0,0,0,3.635.093V142.122A1.832,1.832,0,0,0,72.2,140.3Z" transform="translate(-62.841 -125.772)" fill="none" stroke="#279ad8" stroke-miterlimit="10" stroke-width="1"/>
    <path id="Tracé_94" data-name="Tracé 94" d="M212.5,0a1.814,1.814,0,0,0-1.812,1.812h0V27.233a1.818,1.818,0,1,0,3.635.093V1.822A1.825,1.825,0,0,0,212.5,0Z" transform="translate(-188.613)" fill="none" stroke="#279ad8" stroke-miterlimit="10" stroke-width="1"/>
    <path id="Tracé_95" data-name="Tracé 95" d="M142.4,70.2a1.814,1.814,0,0,0-1.812,1.812h0V90.175a1.818,1.818,0,0,0,3.635.093V72.012A1.83,1.83,0,0,0,142.4,70.2Z" transform="translate(-125.772 -62.931)" fill="none" stroke="#279ad8" stroke-miterlimit="10" stroke-width="1"/>
  </g>
</svg>
