<svg xmlns="http://www.w3.org/2000/svg" width="25" height="28.625" viewBox="0 0 25 28.625">
  <path id="signal" d="M2.074,19.653A1.784,1.784,0,0,0,.292,21.435v5.356a1.788,1.788,0,0,0,3.574.092V21.435A1.793,1.793,0,0,0,2.074,19.653Zm7.138-5.366a1.784,1.784,0,0,0-1.782,1.782h0V26.781A1.788,1.788,0,0,0,11,26.873V16.079a1.8,1.8,0,0,0-1.792-1.792ZM23.5,0a1.784,1.784,0,0,0-1.782,1.782h0v25a1.788,1.788,0,0,0,3.574.092V1.792A1.8,1.8,0,0,0,23.5,0ZM16.361,7.148A1.784,1.784,0,0,0,14.579,8.93h0V26.791a1.788,1.788,0,1,0,3.574.092V8.93A1.8,1.8,0,0,0,16.361,7.148Z" transform="translate(-0.292)" fill="#279ad8"/>
</svg>
