<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248.6 248.6" style="enable-background:new 0 0 248.6 248.6;" xml:space="preserve">
<path d="M34.5,106.8c6.8,0.9,13-3.9,13.9-10.7c0.9-6.8-3.9-13-10.7-13.9L16,76.8c-6.5-2-13.4,1.7-15.4,8.2c-2,6.5,1.7,13.4,8.2,15.4
	c0.3,0.1,0.5,0.2,0.8,0.2l21.7,5.8C32.3,106.7,33.4,106.9,34.5,106.8z M82,38.1c1.5,5.5,6.6,9.3,12.3,9.1c1.1,0.2,2.1,0.2,3.2,0
	c6.5-1.8,10.3-8.5,8.6-15l-5.8-21.7c-1.5-6.6-8.2-10.7-14.8-9.2c-6.6,1.5-10.7,8.2-9.2,14.8c0.1,0.3,0.1,0.5,0.2,0.8L82,38.1z
	 M141.4,161.1c-4.7-4.9-12.5-5.1-17.4-0.4c-0.2,0.1-0.3,0.3-0.4,0.4l-43.1,43.8C70,215,53.4,215,42.9,204.9
	c-10.4-10.3-10.5-27-0.2-37.4c0.1-0.1,0.2-0.2,0.2-0.2l43.8-43.1c5.2-4.4,5.8-12.2,1.3-17.3c-4.4-5.2-12.2-5.8-17.3-1.3
	c-0.5,0.4-0.9,0.9-1.3,1.3l-44.2,42.9C5,169.9,5,202.5,25.1,222.6s52.7,20.1,72.8,0l43.4-43.4c5-4.6,5.3-12.4,0.7-17.4
	C141.9,161.6,141.7,161.3,141.4,161.1z M39.7,57.6c2.3,2.3,5.4,3.6,8.6,3.6c3.3,0,6.4-1.3,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3
	L41.1,24.4C36,20,28.2,20.6,23.8,25.8c-3.9,4.6-3.9,11.4,0,16L39.7,57.6z M237.5,147.8l-21.7-5.8c-6.4-2.2-13.4,1.2-15.6,7.6
	c-2.2,6.4,1.2,13.4,7.6,15.6c0.6,0.2,1.2,0.4,1.9,0.5l21.7,5.8h3.2c6.8,0.9,13-3.9,13.9-10.7c0.9-6.8-3.9-13-10.7-13.9L237.5,147.8z
	 M165.2,210.3c-1.8-6.6-8.6-10.4-15.1-8.6c0,0,0,0,0,0c-6.5,1.8-10.3,8.5-8.6,15l5.8,21.7c1.5,5.5,6.6,9.3,12.3,9.1
	c1.1,0.1,2.1,0.1,3.2,0c6.6-1.7,10.5-8.5,8.8-15c0,0,0-0.1,0-0.1L165.2,210.3z M207.5,191c-5.2-4.4-12.9-3.8-17.3,1.3
	c-3.9,4.6-3.9,11.4,0,16l15.9,15.9c4.8,4.8,12.5,4.8,17.3,0c4.8-4.8,4.8-12.5,0-17.3L207.5,191z M236.8,62.7
	c0.5-28.3-22-51.6-50.2-52.1c-14-0.3-27.5,5.2-37.4,15.2l-43.4,43.8c-4.9,4.9-4.9,12.9,0.1,17.8c4.9,4.9,12.9,4.9,17.8-0.1
	l43.1-43.8c10.5-10.1,27.1-10.1,37.6,0c10.4,10.3,10.5,27,0.2,37.4c-0.1,0.1-0.2,0.2-0.2,0.2l-43.8,43.1c-4.8,4.8-4.8,12.5,0,17.3
	c4.8,4.8,12.5,4.8,17.3,0L222,98.6C231.4,89,236.7,76.1,236.8,62.7z"/>
</svg>
