<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248.1 249.6" style="enable-background:new 0 0 248.1 249.6;" xml:space="preserve">
<path id="linkedin" d="M229.8,0H18.3C8.4-0.1,0.1,7.9,0,17.8c0,0,0,0,0,0v213.9c0.1,10,8.3,18,18.3,17.8c0,0,0,0,0,0h211.4
	c10,0.1,18.2-7.9,18.3-17.8c0,0,0,0,0,0V17.8C248,7.9,239.8-0.1,229.8,0C229.8,0,229.8,0,229.8,0z M75.3,208.9H37.8V96.6h37.4V208.9
	z M56.5,80.9L56.5,80.9c-10.8,0-19.5-8.7-19.5-19.5s8.7-19.5,19.5-19.5c10.8-1.2,20.5,6.5,21.7,17.3C79.4,70,71.7,79.7,61,80.9
	C59.5,81,58,81,56.5,80.9z M210.3,208.9h-37.4v-60.3c0-15.1-5.4-25-19-25c-8.6,0.1-16.3,5.5-19.2,13.6c-1,2.9-1.4,6-1.2,9.1v62.4H96
	V96.5h37.4v15.9c6.9-12,19.9-19.2,33.8-18.7c25,0,43.1,16.1,43.1,50.7V208.9z"/>
</svg>
