<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 246.6 246.6" style="enable-background:new 0 0 246.6 246.6;" xml:space="preserve">
<path d="M97.8,192.9l-22,21.4c-12,12-31.5,12-43.5,0s-12-31.5,0-43.5l0,0l56.4-56.5c11.5-11.5,30-12,42.1-1.1l1.5,1.2
	c4.9,4.8,12.8,4.7,17.6-0.2c4.8-4.9,4.7-12.8-0.2-17.6c-0.7-0.9-1.4-1.8-2.2-2.6c-22-19.1-55.1-17.9-75.6,2.7l-57.1,56.5
	c-20.8,22.6-19.3,57.8,3.3,78.6c21.3,19.6,54,19.6,75.3,0l21.5-21c4.6-5.1,4.3-12.9-0.8-17.5C109.5,189.2,102.6,189,97.8,192.9z
	 M230.6,16.1c-21.7-21.6-56.9-21.6-78.6,0l-21.5,21c-4.6,5.1-4.3,12.9,0.8,17.5c4.5,4.2,11.5,4.4,16.2,0.5L169,33.7
	c12-12,31.5-12,43.5,0c12,12,12,31.5,0,43.5l-56.4,56.5c-11.5,11.5-30,12-42.1,1.1l-1.5-1.2c-4.9-4.8-12.8-4.7-17.6,0.2
	s-4.7,12.8,0.2,17.6c0.9,0.9,1.9,1.8,2.9,2.6c22,19.1,55,17.9,75.6-2.7l56.5-56.5C251.8,73.1,252.1,38,230.6,16.1z"/>
</svg>
