<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 244.3 193.2" style="enable-background:new 0 0 244.3 193.2;" xml:space="preserve">
<g>
	<path d="M27.6,166c-4.7-4.4-11.6-5.8-17.6-3.4c-8.3,3.5-12.1,12.9-8.7,21.2c0.8,1.9,1.9,3.6,3.4,5.1c1.6,1.4,3.4,2.6,5.3,3.4
		c3.9,1.7,8.4,1.7,12.3,0c1.9-0.8,3.7-2,5.3-3.4C33.7,182.4,33.7,172.4,27.6,166z"/>
	<path d="M75.8,32.5h157.3c6.2,0,11.2-7.2,11.2-16.1s-5-16.2-11.2-16.2H75.8c-6.2,0-11.2,7.2-11.2,16.1S69.5,32.5,75.8,32.5z"/>
	<path d="M27.6,85.3C22.9,80.7,16,79.4,10,81.9c-1.9,0.8-3.7,2-5.3,3.4c-1.5,1.5-2.6,3.3-3.4,5.3c-1.7,3.9-1.7,8.4,0,12.3
		c0.8,1.9,2,3.7,3.4,5.3c1.6,1.4,3.4,2.6,5.3,3.4c3.9,1.7,8.4,1.7,12.3,0c1.9-0.8,3.7-2,5.3-3.4c1.4-1.6,2.6-3.4,3.4-5.3
		c1.7-3.9,1.7-8.4,0-12.3C30.2,88.7,29,86.8,27.6,85.3z"/>
	<path d="M233.1,80.6H75.8c-6.2,0-11.2,7.2-11.2,16.1s5,16.1,11.2,16.1h157.3c6.2,0,11.2-7.2,11.2-16.1S239.3,80.6,233.1,80.6z"/>
	<path d="M27.6,4.7c-6.4-6.1-16.5-6.1-22.9,0C3.3,6.2,2.1,8,1.3,10c-1.7,3.9-1.7,8.4,0,12.3c0.8,2,2,3.7,3.4,5.3
		C6.2,29,8,30.1,10,30.9c6,2.5,12.9,1.2,17.6-3.4c1.4-1.6,2.6-3.4,3.4-5.3c1.7-3.9,1.7-8.4,0-12.3C30.1,8,29,6.2,27.6,4.7z"/>
	<path d="M233.1,161.1H75.8c-6.2,0-11.2,7.2-11.2,16.1s5,16.1,11.2,16.1h157.3c6.2,0,11.2-7.2,11.2-16.1S239.3,161.1,233.1,161.1z"
		/>
</g>
</svg>
