<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 249 311" style="enable-background:new 0 0 249 311;" xml:space="preserve">
<path id="location-pin-alt" d="M124.5,136.7c17.2,0,31.1-13.9,31.1-31.1s-13.9-31.1-31.1-31.1s-31.1,13.9-31.1,31.1
	S107.3,136.7,124.5,136.7L124.5,136.7z M113.4,244.2c6,6.1,15.9,6.1,22,0.1c0,0,0.1-0.1,0.1-0.1l63.6-63.8
	c41.3-41.3,41.3-108.2,0-149.4s-108.2-41.3-149.4,0s-41.3,108.2,0,149.4c0,0,0,0,0,0L113.4,244.2z M50.3,98.4
	c4.1-41,40.6-70.9,81.6-66.8s70.9,40.6,66.8,81.6c-1.7,17.1-9.3,33.1-21.4,45.3l-52.8,52.8l-52.8-52.8
	C55.9,142.7,48,120.6,50.3,98.4z M233.4,279.8H15.6c-8.6,0-15.6,7-15.6,15.6C0,304,7,311,15.6,311h217.9c8.6,0,15.6-7,15.6-15.6
	S242,279.8,233.4,279.8z"/>
</svg>
