<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 247 247.1" style="enable-background:new 0 0 247 247.1;" xml:space="preserve">
<path id="location-arrow" d="M236.5,10.7c-9.6-9.8-24-13.2-37-8.8L24.7,60.4c-18.8,6.2-29,26.4-22.8,45.2
	c3.4,10.3,11.2,18.5,21.3,22.3l64.7,24.7l0,0c3,1.1,5.4,3.5,6.6,6.4l24.7,64.8c5.1,14,18.5,23.3,33.4,23.3h0.9
	c15.2-0.3,28.6-10.2,33.2-24.7l58.4-175C249.4,34.5,246.1,20.3,236.5,10.7z M222.2,39.6l-59,175.1c-1.4,4.5-5.6,7.7-10.4,7.7
	c-4.7,0.1-9-2.8-10.8-7.2l-24.7-64.8c-3.6-9.5-11.1-17.1-20.6-20.7l-64.8-24.7c-4.5-1.6-7.4-6-7.3-10.7c0-4.8,3.1-9,7.7-10.4
	l175.1-58.4c5.8-2.3,12.3,0.4,14.6,6.2C223.1,34.2,223.2,37,222.2,39.6L222.2,39.6z"/>
</svg>
