<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 249 294.7" style="enable-background:new 0 0 249 294.7;" xml:space="preserve">
<path id="location" d="M161,130.6c14.7-20.2,10.2-48.5-10-63.2s-48.5-10.2-63.2,10c-11.5,15.9-11.5,37.3,0,53.2
	c-6.2,4-11.8,8.9-16.4,14.6c-5.1,6.6-3.9,16.1,2.7,21.2c6.6,5.1,16.1,3.9,21.2-2.7c7.2-9.2,18.3-14.6,30-14.6l0,0
	c11.7,0,22.8,5.4,30,14.6c5.2,6.2,14.4,7.1,20.6,1.9c6.1-5,7-14,2.2-20.2C173.3,139.6,167.5,134.6,161,130.6L161,130.6z M124.5,120
	L124.5,120c-8.8,0-15.9-7.2-15.9-16c0-8.8,7.2-15.9,16-15.9c8.8,0,15.9,7.2,15.9,16c0,4.1-1.6,8.1-4.5,11
	C133,118.2,128.9,120,124.5,120z M248.4,112.6C241.9,44.2,181.1-6,112.7,0.5S-6,67.8,0.6,136.3c2.8,28.9,15.5,55.9,36.1,76.4
	l77.6,77.8c5.7,5.7,15,5.8,20.7,0.1c0,0,0.1-0.1,0.1-0.1l77.3-77.8C238.8,186.4,252,149.7,248.4,112.6L248.4,112.6z M191.9,192
	l-67.4,67.4L57.1,192C37,171.9,27,143.9,29.8,115.6c2.8-28.7,18.3-54.7,42.3-70.7c31.8-21.1,73.1-21.1,104.9,0
	c23.9,16,39.5,41.8,42.3,70.4C222.1,143.7,212.1,171.9,191.9,192L191.9,192z"/>
</svg>
