<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 251.5 297.5" style="enable-background:new 0 0 251.5 297.5;" xml:space="preserve">
<path id="location-point" d="M214.8,36.9c-49.1-49.1-128.8-49.1-178,0s-49.1,128.8,0,178l78.2,78.3c5.8,5.8,15.2,5.9,21,0.1
	c0,0,0.1-0.1,0.1-0.1l78.8-79C263.8,165.1,263.8,85.8,214.8,36.9L214.8,36.9z M193.6,192.9L125.8,261l-67.8-68.1
	c-37.4-37.4-37.4-98.1,0.1-135.5s98.1-37.4,135.5,0.1C231,94.9,231,155.5,193.6,192.9L193.6,192.9z M81.3,80.3
	c-25,25-25,65.5-0.1,90.5c25,25,65.5,25,90.5,0.1c11.8-11.8,18.6-27.8,18.8-44.6c0.1-17-6.6-33.3-18.7-45.2
	c-24.6-25.2-65-25.6-90.2-1C81.5,80.1,81.4,80.2,81.3,80.3z M150.9,149.7c7.9-0.2,14.1-6.7,13.9-14.6c-0.2-7.9-6.7-14.1-14.6-13.9
	c-7.9,0.2-14.1,6.7-13.9,14.6c0.2,7.6,6.3,13.7,13.9,13.9H150.9z"/>
</svg>
