<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 249 224.2" style="enable-background:new 0 0 249 224.2;" xml:space="preserve">
<path id="map" d="M240.5,25.5L165.8,0.6H165c-0.6-0.1-1.1-0.1-1.7,0h-5.4L87.2,24.9L16.4,0.6C9.8-1.5,2.8,2.1,0.6,8.7
	C0.2,9.9,0,11.2,0,12.5v174.3c0,5.4,3.4,10.1,8.5,11.8l74.7,24.9l0,0c2.5,0.8,5.2,0.8,7.7,0l0,0l71-23.7l70.7,24.3
	c1.3,0.2,2.7,0.2,4,0c2.6,0,5.1-0.8,7.2-2.4c3.3-2.3,5.2-6.1,5.2-10.1V37.4C249,32,245.6,27.2,240.5,25.5z M74.7,194.3l-49.8-16.6
	v-148l49.8,16.6V194.3z M149.4,177.7l-49.8,16.6v-148l49.8-16.6V177.7z M224.1,194.3l-49.8-16.6v-148l49.8,16.6V194.3z"/>
</svg>
