<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 242 242" style="enable-background:new 0 0 242 242;" xml:space="preserve">
<path d="M221.9,88.5L52.5,3.8c-18-8.9-39.7-1.6-48.7,16.3C-1,29.8-1.3,41.1,3.1,51l29,65l0,0c1.3,3.2,1.3,6.8,0,9.9l-29,65
	c-8.2,18.3,0.1,39.8,18.4,47.9c4.6,2.1,9.7,3.1,14.8,3.1c5.7-0.1,11.2-1.4,16.3-3.9L222,153.4c17.9-9,25.1-30.8,16.1-48.8
	c-3.5-7-9.2-12.6-16.1-16.1H221.9z M211.2,131.7L41.7,216.5c-6,2.9-13.3,0.4-16.1-5.7c-1.5-3.2-1.6-6.8-0.2-10.1l28.9-65
	c0.4-0.9,0.7-1.8,1-2.7h83.4c6.7,0,12.1-5.4,12.1-12.1c0-6.7-5.4-12.1-12.1-12.1H55.3c-0.3-0.9-0.6-1.8-1-2.7l-28.9-65
	c-2.7-6.1,0.1-13.3,6.3-15.9c3.2-1.4,6.9-1.3,10.1,0.2l169.4,84.7c5.9,3,8.3,10.3,5.3,16.3C215.2,128.7,213.4,130.6,211.2,131.7z"/>
</svg>
