<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248 248" style="enable-background:new 0 0 248 248;" xml:space="preserve">
<path d="M232.5,108.5h-217C6.9,108.5,0,115.4,0,124s6.9,15.5,15.5,15.5h217c8.6,0,15.5-6.9,15.5-15.5S241.1,108.5,232.5,108.5z"/>
</svg>
