<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 170.8 244" style="enable-background:new 0 0 170.8 244;" xml:space="preserve">
<path d="M94.1,174.3l-1.8-1.5c-0.7-0.5-1.4-0.8-2.2-1.1l-2.2-1c-4-0.8-8.2,0.4-11.1,3.3c-1.1,1.2-1.9,2.5-2.6,4
	c-2.6,6.2,0.4,13.4,6.6,15.9c3,1.2,6.3,1.2,9.3,0c1.5-0.7,2.8-1.6,4-2.7c3.5-3.5,4.5-8.8,2.6-13.3C96,176.7,95.1,175.4,94.1,174.3z
	 M134.2,0H36.6C16.4,0,0,16.4,0,36.6v170.8C0,227.6,16.4,244,36.6,244h97.6c20.2,0,36.6-16.4,36.6-36.6V36.6
	C170.8,16.4,154.4,0,134.2,0z M146.4,207.4c0,6.7-5.5,12.2-12.2,12.2H36.6c-6.7,0-12.2-5.5-12.2-12.2V36.6c0-6.7,5.5-12.2,12.2-12.2
	h97.6c6.7,0,12.2,5.5,12.2,12.2V207.4z"/>
</svg>
