<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="multiply" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px"
	 viewBox="0 0 250 250" style="enable-background:new 0 0 250 250;" xml:space="preserve">
<path d="M147,125l98.4-98.2c6.1-6.1,6.1-16.1,0-22.2s-16.1-6.1-22.2,0L125,103L26.8,4.6c-6.1-6.1-16.1-6.1-22.2,0s-6.1,16.1,0,22.2
	L103,125L4.6,223.2c-6.1,6.1-6.2,16-0.1,22.1c0,0,0.1,0.1,0.1,0.1c6.1,6.1,16,6.2,22.1,0.1c0,0,0.1-0.1,0.1-0.1L125,147l98.2,98.4
	c6.1,6.1,16,6.2,22.1,0.1c0,0,0.1-0.1,0.1-0.1c6.1-6.1,6.2-16,0.1-22.1c0,0-0.1-0.1-0.1-0.1L147,125z"/>
</svg>
