<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 76 76" style="enable-background:new 0 0 76 76;" xml:space="preserve">
<g id="Icon" transform="translate(0 -3)">
	<circle id="Ellipse_13" cx="61.5" cy="17.5" r="14.5"/>
	<path d="M57,79H9.3C4.2,79,0,74.8,0,69.7V22c0-5.2,4.2-9.3,9.3-9.3h31.7v6H9.3C7.5,18.7,6,20.2,6,22v47.6C6,71.5,7.5,73,9.3,73H57
		c1.8,0,3.3-1.5,3.3-3.3V37.9h6v31.7C66.3,74.8,62.1,79,57,79z"/>
</g>
</svg>
