<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 133.1 133.1" style="enable-background:new 0 0 133.1 133.1;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#1D1D1B;}
</style>
<g id="padel_1_" transform="translate(4.526 -81.276) rotate(45)">
	<g id="Groupe_135" transform="translate(130.842 33.996)">
		<g id="Groupe_134">
			<path id="Tracé_54" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0s-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_137" transform="translate(138.706 33.996)">
		<g id="Groupe_136" transform="translate(0)">
			<path id="Tracé_55" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0s-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_139" transform="translate(146.57 33.996)">
		<g id="Groupe_138">
			<path id="Tracé_56" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0s-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_141" transform="translate(154.433 33.996)">
		<g id="Groupe_140" transform="translate(0)">
			<path id="Tracé_57" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_143" transform="translate(162.297 33.996)">
		<g id="Groupe_142">
			<path id="Tracé_58" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_145" transform="translate(138.705 19.704)">
		<g id="Groupe_144">
			<path id="Tracé_59" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_147" transform="translate(146.569 19.704)">
		<g id="Groupe_146" transform="translate(0)">
			<path id="Tracé_60" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_149" transform="translate(154.432 19.704)">
		<g id="Groupe_148" transform="translate(0)">
			<path id="Tracé_61" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_151" transform="translate(138.705 48.287)">
		<g id="Groupe_150">
			<path id="Tracé_62" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_153" transform="translate(146.569 48.287)">
		<g id="Groupe_152" transform="translate(0)">
			<path id="Tracé_63" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0s-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_155" transform="translate(154.432 48.287)">
		<g id="Groupe_154" transform="translate(0)">
			<path id="Tracé_64" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_157" transform="translate(134.446 27.027)">
		<g id="Groupe_156">
			<path id="Tracé_65" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_159" transform="translate(142.31 27.027)">
		<g id="Groupe_158" transform="translate(0)">
			<path id="Tracé_66" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_161" transform="translate(150.174 27.027)">
		<g id="Groupe_160">
			<path id="Tracé_67" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_163" transform="translate(158.038 27.027)">
		<g id="Groupe_162" transform="translate(0)">
			<path id="Tracé_68" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_165" transform="translate(134.446 40.964)">
		<g id="Groupe_164">
			<path id="Tracé_69" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0s-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_167" transform="translate(142.31 40.964)">
		<g id="Groupe_166" transform="translate(0)">
			<path id="Tracé_70" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0s-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_169" transform="translate(150.174 40.964)">
		<g id="Groupe_168">
			<path id="Tracé_71" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_171" transform="translate(158.038 40.964)">
		<g id="Groupe_170" transform="translate(0)">
			<path id="Tracé_72" class="st0" d="M3.1,0.5c-0.7-0.7-1.8-0.7-2.5,0c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0
				c0.3-0.3,0.5-0.8,0.5-1.3C3.6,1.3,3.4,0.9,3.1,0.5z"/>
		</g>
	</g>
	<g id="Groupe_173" transform="translate(114.941)">
		<g id="Groupe_172" transform="translate(0)">
			<path id="Tracé_73" class="st0" d="M57,9C43.6-3,23.3-3,9.8,9C3.5,14.9-0.1,23.2,0,31.8c0,2.3,0.2,4.6,0.6,6.8
				c0.2,1,1.1,1.6,2.1,1.4c1-0.2,1.6-1.1,1.4-2.1c-0.4-2-0.6-4.1-0.6-6.2c0-16.1,12.8-28.2,29.8-28.2s29.8,12.1,29.8,28.2
				c0,8.2-3.3,17.2-8.9,24.2c-5.9,7.5-13.4,11.6-21,11.6c-9.4,0-18.8-6.6-24.7-17.2c-0.5-0.9-1.6-1.2-2.4-0.7
				c-0.9,0.5-1.2,1.6-0.7,2.4l0,0c2.9,5.3,6.9,9.9,11.7,13.5c0,0,7.5,5.6,7.5,26.4v20.6c-2.2,1.5-2.7,4.5-1.2,6.7
				c0.9,1.3,2.4,2,3.9,2h11.8c2.7,0,4.8-2.2,4.8-4.8c0-1.6-0.8-3-2-3.9V92.1c0.3-17.2,5-23.9,7.3-26.2c2.9-2.1,5.5-4.7,7.8-7.5
				c6-7.6,9.6-17.5,9.6-26.5C66.9,23.2,63.4,14.9,57,9z M33.4,71.3c0.4,0,0.8,0,1.2,0c-0.5,1.5-0.9,3-1.3,4.7
				c-0.3-1.3-0.8-3-1.3-4.7C32.5,71.3,33,71.3,33.4,71.3z M39.3,117.7H27.5c-0.7-0.1-1.2-0.6-1.1-1.3c0-0.6,0.5-1.1,1.1-1.1h11.8
				c0.7,0.1,1.2,0.6,1.1,1.3C40.4,117.2,39.9,117.7,39.3,117.7L39.3,117.7z M34.4,92h-6v-2.6c0-0.7,0.5-1.2,1.2-1.2h7.8
				c0.7,0,1.2,0.5,1.2,1.2v22.4H28.4V95.6h6c1,0,1.8-0.8,1.8-1.8C36.2,92.8,35.4,92,34.4,92L34.4,92z M38.9,84.8
				c-0.5-0.2-1.1-0.3-1.6-0.3h-7.7c-0.5,0-1.1,0.1-1.6,0.3c-0.4-5.3-1.7-10.5-3.8-15.4c1.3,0.5,2.6,0.9,3.9,1.2
				c1,2.9,1.8,5.9,2.5,8.9c0.1,0.4,0.3,0.8,0.6,1.1c0.6,0.5,1.4,0.8,2.3,0.8c0.8,0,1.7-0.3,2.3-0.8c0.3-0.3,0.6-0.7,0.7-1.1
				c0.5-3,1.2-6,2.3-8.8c1.4-0.3,2.7-0.7,4-1.2C40.6,74.4,39.3,79.6,38.9,84.8L38.9,84.8z"/>
		</g>
	</g>
	<g id="Groupe_175" transform="translate(116.868 41.682)">
		<g id="Groupe_174" transform="translate(0)">
			<path id="Tracé_74" class="st0" d="M4.5,4.1c-0.4-0.9-0.7-1.9-1-2.8C3.2,0.3,2.2-0.2,1.2,0.1C0.3,0.4-0.2,1.4,0.1,2.4l0,0
				c0.3,1,0.7,2,1.1,3c0.3,0.9,1.4,1.4,2.3,1c0,0,0.1,0,0.1,0C4.5,6,4.9,5,4.5,4.1C4.5,4.1,4.5,4.1,4.5,4.1z"/>
		</g>
	</g>
	<g id="Groupe_177" transform="translate(121.549 6.608)">
		<g id="Groupe_176" transform="translate(0)">
			<path id="Tracé_75" class="st0" d="M26.8,0C11.5,0,0,10.9,0,25.2c0,7.5,3.1,15.9,8.2,22.4c5.3,6.7,11.9,10.4,18.6,10.4
				s13.3-3.7,18.6-10.4c5.1-6.5,8.2-14.9,8.2-22.4C53.6,10.9,42.1,0,26.8,0z M42.6,45.4c-4.6,5.9-10.2,9.1-15.8,9.1
				S15.7,51.2,11,45.4C6.4,39.5,3.6,32,3.6,25.2c-0.1-5.8,2.3-11.4,6.5-15.4c9.6-8.3,23.8-8.3,33.4,0c4.2,4,6.6,9.6,6.5,15.4
				C50,32,47.3,39.5,42.6,45.4z"/>
		</g>
	</g>
</g>
</svg>
