<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 247 308.8" style="enable-background:new 0 0 247 308.8;" xml:space="preserve">
<path id="padlock" d="M123.5,170.2c-12.7-0.1-23.1,10-23.2,22.7c-0.1,6.7,2.8,13.1,7.8,17.5v21.4c0.2,8.5,7.3,15.2,15.8,15
	c8.2-0.2,14.8-6.8,15-15v-21.4c9.5-8.3,10.5-22.8,2.1-32.4C136.6,172.9,130.2,170.1,123.5,170.2L123.5,170.2z M200.5,108.6V77.8
	c0.5-42.5-33.6-77.4-76.1-77.9S47,33.5,46.5,76c0,0.6,0,1.2,0,1.7v30.8c-25.5,0-46.2,20.7-46.2,46.2c0,0,0,0,0,0v107.8
	c0,25.5,20.7,46.2,46.2,46.2c0,0,0,0,0,0h154c25.5,0,46.2-20.7,46.2-46.2l0,0V154.8C246.7,129.3,226,108.6,200.5,108.6z M77.3,77.8
	c-0.4-25.5,20-46.5,45.5-46.9s46.5,20,46.9,45.5c0,0.4,0,0.9,0,1.3v30.8H77.3V77.8z M215.9,262.6c0,8.5-6.9,15.4-15.4,15.4h-154
	c-8.5,0-15.4-6.9-15.4-15.4V154.8c0-8.5,6.9-15.4,15.4-15.4c0,0,0,0,0,0h154c8.5,0,15.4,6.9,15.4,15.4V262.6z"/>
</svg>
