<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 215.4 246" style="enable-background:new 0 0 215.4 246;" xml:space="preserve">
<path d="M191.5,130.1L114,207.7c-22,19.5-55.7,17.6-75.2-4.4c-17.9-20.2-17.9-50.6,0-70.8L139.1,32.1c12.4-11.8,31.9-11.8,44.4,0
	c12.1,12.3,12.1,32.1,0,44.4l-86.5,86.4c-3.6,3.9-9.7,4.1-13.5,0.5c-3.9-3.6-4.1-9.7-0.5-13.5l64.3-64.2c4.9-4.9,4.9-12.9,0-17.8
	c-4.9-4.9-12.9-4.9-17.8,0l-64.3,64.4c-13.5,13.4-13.6,35.1-0.2,48.6c0.1,0.1,0.1,0.1,0.2,0.2c13.7,13,35.1,13,48.8,0l86.4-86.5
	c21.2-22.8,20-58.5-2.8-79.7c-21.7-20.2-55.3-20.2-76.9,0L20.2,115.1c-29,32.1-26.5,81.7,5.6,110.7c30.1,27.2,76,26.9,105.8-0.7
	l77.6-77.5c4.9-4.9,4.9-12.9,0-17.8c-4.9-4.9-12.9-4.9-17.8,0l0,0V130.1z"/>
</svg>
