<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 247 247" style="enable-background:new 0 0 247 247;" xml:space="preserve">
<path id="percentage" d="M58,104.3c25.6,0,46.3-20.7,46.3-46.3S83.6,11.7,58,11.7c-25.6,0-46.3,20.7-46.3,46.3c0,0,0,0,0,0
	C11.7,83.6,32.4,104.3,58,104.3L58,104.3z M58,42.6c8.5,0,15.4,6.9,15.4,15.4S66.5,73.5,58,73.5S42.6,66.5,42.6,58l0,0
	C42.6,49.5,49.5,42.6,58,42.6z M189,142.7c-25.6,0-46.3,20.7-46.3,46.3s20.7,46.3,46.3,46.3s46.3-20.7,46.3-46.3l0,0
	C235.3,163.4,214.6,142.7,189,142.7z M189,204.4c-8.5,0-15.4-6.9-15.4-15.4s6.9-15.4,15.4-15.4c8.5,0,15.4,6.9,15.4,15.4l0,0
	C204.4,197.5,197.5,204.4,189,204.4z M242.5,4.5c-6-6-15.8-6-21.8,0L4.5,220.7c-6,6-6,15.8,0,21.8s15.8,6,21.8,0L242.5,26.3
	C248.5,20.3,248.5,10.5,242.5,4.5z"/>
</svg>
