<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 246 246" style="enable-background:new 0 0 246 246;" xml:space="preserve">
<path d="M215.7,135.7c-2.7,0-5.6-0.9-8.3-1.5c-5.5-1.2-10.9-2.8-16.2-4.8c-11.9-4.3-25.1,1-30.7,12.4l-2.7,5.6
	c-12.1-6.7-23.1-15-32.9-24.8c-9.7-9.8-18.1-20.9-24.8-32.9l5.2-3.5c11.4-5.6,16.7-18.8,12.4-30.7c-2-5.3-3.6-10.7-4.8-16.2
	c-0.6-2.7-1.1-5.6-1.5-8.4C108.2,12.8,92.5-0.3,74.2,0H37.1C16.5-0.2-0.2,16.2-0.4,36.8c0,1.8,0.1,3.6,0.3,5.4
	C13.5,148.9,97.7,232.8,204.5,246h4.7c9.1,0,17.9-3.3,24.8-9.4c7.9-7.1,12.4-17.2,12.4-27.9v-37.1
	C246,153.8,233.2,138.8,215.7,135.7z M221.9,210c0,3.6-1.5,6.9-4.2,9.3c-2.8,2.4-6.5,3.6-10.2,3.1c-95.4-12.2-170.4-87.6-182.2-183
	c-0.4-3.7,0.7-7.3,3.1-10.2c2.3-2.7,5.7-4.2,9.3-4.2H75c5.9-0.1,11.1,4,12.4,9.8c0.5,3.4,1.1,6.7,1.9,10c1.4,6.5,3.3,12.9,5.7,19.2
	l-17.3,8c-6.2,2.9-8.9,10.2-6.1,16.4c0,0,0,0,0,0.1c17.8,38.2,48.5,68.9,86.7,86.7c3,1.2,6.4,1.2,9.4,0c3.1-1.1,5.7-3.4,7.1-6.4
	l7.7-17.3c6.4,2.3,12.9,4.2,19.6,5.7c3.3,0.7,6.6,1.4,10,1.9c5.8,1.2,9.9,6.4,9.8,12.4L221.9,210z"/>
</svg>
