<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248 248" style="enable-background:new 0 0 248 248;" xml:space="preserve">
<path id="plus-circle" d="M124,0C55.5,0,0,55.5,0,124s55.5,124,124,124s124-55.5,124-124S192.5,0,124,0z M124,223.2
	c-54.8,0-99.2-44.4-99.2-99.2S69.2,24.8,124,24.8s99.2,44.4,99.2,99.2S178.8,223.2,124,223.2z M173.6,111.6h-37.2V74.4
	c0-6.8-5.6-12.4-12.4-12.4c-6.8,0-12.4,5.6-12.4,12.4v37.2H74.4c-6.8,0-12.4,5.6-12.4,12.4c0,6.8,5.6,12.4,12.4,12.4h37.2v37.2
	c0,6.8,5.6,12.4,12.4,12.4c6.8,0,12.4-5.6,12.4-12.4v-37.2h37.2c6.8,0,12.4-5.6,12.4-12.4C186,117.2,180.4,111.6,173.6,111.6z"/>
</svg>
