<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 251 250.9" style="enable-background:new 0 0 251 250.9;" xml:space="preserve">
<path id="pricetag-alt" d="M62.8,50.2c-6.9,0-12.5,5.6-12.5,12.5s5.6,12.5,12.5,12.5s12.5-5.6,12.5-12.5S69.7,50.2,62.8,50.2z
	 M247.3,122.7L128.4,4c-2.4-2.5-5.7-4-9.2-4H43.9c-3.3,0-6.5,1.3-8.9,3.6L3.7,34.9C1.3,37.3,0,40.5,0,43.8v75.3
	c0,3.3,1.3,6.5,3.6,8.9l119.1,119.2c2.4,2.3,5.6,3.6,8.9,3.6c3.3,0,6.5-1.3,8.9-3.6l106.8-106.8c2.3-2.4,3.7-5.6,3.6-8.9
	C250.9,128.2,249.6,125.1,247.3,122.7L247.3,122.7z M131.6,220.7L25.1,114.1V48.9l23.8-23.8h65l106.7,106.5L131.6,220.7z"/>
</svg>
