<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248 248" style="enable-background:new 0 0 248 248;" xml:space="preserve">
<path d="M62,99.2c-6.8,0-12.4,5.6-12.4,12.4S55.2,124,62,124s12.4-5.6,12.4-12.4S68.8,99.2,62,99.2z M210.8,49.6h-12.4V12.4
	C198.4,5.6,192.8,0,186,0H62c-6.8,0-12.4,5.6-12.4,12.4v37.2H37.2C16.7,49.6,0,66.3,0,86.8v74.4c0,20.5,16.7,37.2,37.2,37.2h12.4
	v37.2c0,6.8,5.6,12.4,12.4,12.4h124c6.8,0,12.4-5.6,12.4-12.4v-37.2h12.4c20.5,0,37.2-16.7,37.2-37.2V86.8
	C248,66.3,231.3,49.6,210.8,49.6z M74.4,24.8h99.2v24.8H74.4V24.8z M173.6,223.2H74.4v-49.6h99.2V223.2z M223.2,161.2
	c0,6.8-5.6,12.4-12.4,12.4h-12.4v-12.4c0-6.8-5.6-12.4-12.4-12.4H62c-6.8,0-12.4,5.6-12.4,12.4v12.4H37.2c-6.8,0-12.4-5.6-12.4-12.4
	V86.8c0-6.8,5.6-12.4,12.4-12.4h173.6c6.8,0,12.4,5.6,12.4,12.4V161.2z"/>
</svg>
