<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 247 247" style="enable-background:new 0 0 247 247;" xml:space="preserve">
<path id="receipt" d="M86.5,123.5H61.8c-6.8,0-12.3,5.5-12.3,12.4c0,6.8,5.5,12.3,12.3,12.3h24.7c6.8,0,12.3-5.5,12.3-12.3
	C98.8,129.1,93.3,123.5,86.5,123.5z M74.1,98.8h49.4c6.8,0,12.4-5.5,12.4-12.3s-5.5-12.3-12.4-12.3H74.1c-6.8,0-12.3,5.5-12.3,12.3
	S67.3,98.8,74.1,98.8z M86.5,172.9H61.8c-6.8,0-12.3,5.5-12.3,12.3s5.5,12.3,12.3,12.3h24.7c6.8,0,12.3-5.5,12.3-12.3
	S93.3,172.9,86.5,172.9z M234.6,123.5h-37V12.4c0-6.8-5.5-12.4-12.3-12.4c-2.2,0-4.3,0.6-6.2,1.7l-37,21.2L105,1.7
	c-3.8-2.2-8.5-2.2-12.3,0l-37,21.2l-37-21.2C12.6-1.7,5.1,0.3,1.7,6.2C0.6,8.1,0,10.2,0,12.4V210c0,20.5,16.6,37,37,37H210
	c20.5,0,37-16.6,37-37v-74.1C247,129.1,241.5,123.5,234.6,123.5C234.7,123.5,234.7,123.5,234.6,123.5z M37.1,222.3
	c-6.8,0-12.3-5.5-12.3-12.3V33.8l24.7,14.1c3.9,2,8.5,2,12.3,0l37-21.2l37,21.2c3.9,2,8.5,2,12.3,0l24.7-14.1V210
	c0,4.2,0.8,8.4,2.2,12.3L37.1,222.3z M222.3,210c0,6.8-5.5,12.3-12.3,12.3s-12.4-5.5-12.4-12.3v-61.7h24.7V210z M142.8,175
	c-0.7-0.5-1.4-0.8-2.2-1.1c-0.7-0.4-1.5-0.6-2.3-0.7c-4-0.8-8.2,0.4-11.1,3.3c-2.3,2.4-3.5,5.5-3.6,8.8c0,1.6,0.3,3.2,0.9,4.7
	c0.7,1.5,1.6,2.9,2.7,4.1c1.2,1.1,2.6,2,4.1,2.6c3,1.3,6.4,1.3,9.4,0c1.5-0.6,2.9-1.5,4.1-2.6c2.3-2.3,3.6-5.5,3.6-8.8
	c0-3.3-1.3-6.4-3.6-8.8C144,176,143.4,175.5,142.8,175z M144.5,127.1c-5-5-13.1-5.1-18.2-0.1c-5,5-5.1,13.1-0.1,18.2
	c5,5,13.1,5.1,18.2,0.1c3.7-3.7,4.8-9.3,2.8-14.1C146.6,129.7,145.7,128.3,144.5,127.1z"/>
</svg>
