<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248 248" style="enable-background:new 0 0 248 248;" xml:space="preserve">
<path d="M124,0C55.5,0,0,55.5,0,124s55.5,124,124,124s124-55.5,124-124S192.5,0,124,0z M124,223.2c-54.8,0-99.2-44.4-99.2-99.2
	S69.2,24.8,124,24.8s99.2,44.4,99.2,99.2S178.8,223.2,124,223.2z M130.2,62H93c-6.8,0-12.4,5.6-12.4,12.4v99.2
	c0,6.8,5.6,12.4,12.4,12.4s12.4-5.6,12.4-12.4v-24.8h24.8c6.8,0,12.4,5.6,12.4,12.4v12.4c0,6.8,5.6,12.4,12.4,12.4
	c6.8,0,12.4-5.6,12.4-12.4v-12.4c-0.1-9.2-3.5-18-9.7-24.8c6.2-6.8,9.6-15.6,9.7-24.8V99.2C167.4,78.7,150.7,62,130.2,62z
	 M142.6,111.6c0,6.8-5.6,12.4-12.4,12.4h-24.8V86.8h24.8c6.8,0,12.4,5.6,12.4,12.4V111.6z"/>
</svg>
