<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 250 249.8" style="enable-background:new 0 0 250 249.8;" xml:space="preserve">
<path id="search" d="M246.2,228.5l-46.3-45.9c38.8-48.4,31-119-17.3-157.8s-119-31-157.8,17.3s-31,119,17.3,157.8
	c41,32.9,99.4,32.9,140.5,0l45.9,45.9c4.6,5,12.5,5.4,17.5,0.7c5-4.6,5.4-12.5,0.7-17.5C246.5,228.8,246.4,228.6,246.2,228.5z
	 M112.6,199.9c-48.2,0-87.3-39.1-87.3-87.3s39.1-87.3,87.3-87.3s87.3,39.1,87.3,87.3S160.8,199.9,112.6,199.9z"/>
</svg>
