<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248 248.9" style="enable-background:new 0 0 248 248.9;" xml:space="preserve">
<path id="search-alt" d="M236.6,184.3l-25.8-26.4c-11.4-10.8-28.1-13.6-42.4-7.1l-11.2-11.2c28.9-38.6,21-93.3-17.6-122.1
	S46.3-3.5,17.5,35s-21,93.3,17.6,122.1c31,23.2,73.6,23.2,104.6,0l11.1,11.1c-7.3,14.3-4.6,31.7,6.6,43.1l26.4,26.4
	c14.6,14.7,38.4,14.9,53.2,0.2c14.7-14.6,14.9-38.4,0.2-53.2C236.9,184.7,236.7,184.5,236.6,184.3z M130.9,131.5
	c-24.4,24.3-63.8,24.3-88.1-0.1s-24.3-63.8,0.1-88.1S106.7,19,131,43.4c11.7,11.7,18.2,27.5,18.2,44
	C149.2,103.9,142.6,119.8,130.9,131.5z M219,219.6c-4.8,4.9-12.7,4.9-17.6,0.1c0,0,0,0-0.1-0.1l-26.4-26.4c-4.9-4.9-4.9-12.8,0-17.7
	c4.9-4.9,12.8-4.9,17.7,0l0,0l26.4,26.4C223.9,206.8,223.9,214.7,219,219.6C219,219.6,219,219.6,219,219.6L219,219.6z"/>
</svg>
