<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="share-alt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 248.2 248.5" style="enable-background:new 0 0 248.2 248.5;" xml:space="preserve">
<path id="share-alt" d="M198.6,149.3c-14.8,0.1-28.9,6.8-38.2,18.4l-63.3-29.2c3-9.1,3-18.9,0-28l63.3-29.2
	c17.5,21.1,48.8,24.1,69.9,6.6s24.1-48.8,6.6-69.9S188.1-6.1,167,11.4c-11.5,9.5-18.1,23.7-18,38.6c0,3,0.3,5.9,0.8,8.8L84.3,89
	c-19.6-19.2-51-18.8-70.2,0.8s-18.8,51,0.8,70.2c19.3,18.9,50.1,18.9,69.4,0l65.5,30.1c-0.5,2.9-0.8,5.9-0.8,8.8
	c0,27.4,22.2,49.6,49.6,49.6s49.6-22.2,49.6-49.6S226,149.2,198.6,149.3L198.6,149.3z M198.6,25.2c13.7,0,24.8,11.1,24.8,24.8
	s-11.1,24.8-24.8,24.8c-13.7,0-24.8-11.1-24.8-24.8S184.9,25.2,198.6,25.2C198.6,25.2,198.6,25.2,198.6,25.2z M49.7,149.3
	c-13.7,0-24.8-11.1-24.8-24.8S36,99.6,49.7,99.6s24.8,11.1,24.8,24.8S63.4,149.3,49.7,149.3z M198.6,223.7
	c-13.7,0-24.8-11.1-24.8-24.8s11.1-24.8,24.8-24.8c13.7,0,24.8,11.1,24.8,24.8C223.4,212.6,212.3,223.7,198.6,223.7L198.6,223.7z"/>
</svg>
