<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 244.5 244.5" style="enable-background:new 0 0 244.5 244.5;" xml:space="preserve">
<path id="sign-out-alt" d="M129.5,134.5l-28.1,28c-4.8,4.8-4.8,12.6,0,17.4c4.8,4.8,12.6,4.8,17.4,0l0,0l48.9-48.9
	c4.6-4.9,4.6-12.5,0-17.4l-48.9-48.9c-4.8-4.8-12.6-4.8-17.4,0s-4.8,12.6,0,17.4l28.1,28H12.2c-6.7,0-12.2,5.5-12.2,12.2
	c0,6.7,5.5,12.2,12.2,12.2L129.5,134.5z M122.2,0C75.6-0.2,33,26.1,12.2,67.8C9.3,74,12,81.3,18.1,84.2c5.9,2.8,13,0.4,16.1-5.4
	C57.9,30,116.7,9.6,165.6,33.3s69.2,82.5,45.5,131.3s-82.5,69.2-131.3,45.5c-19.5-9.5-35.4-25.1-45-44.5c-3.2-6-10.6-8.3-16.6-5.1
	c-5.8,3.1-8.2,10.2-5.4,16.1c30,60.5,103.4,85.1,163.9,55.1c60.5-30,85.1-103.4,55.1-163.9C211,26.3,168.6,0,122.2,0z"/>
</svg>
