<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 246 281.1" style="enable-background:new 0 0 246 281.1;" xml:space="preserve">
<path id="signal" d="M17.8,193c-9.7,0-17.5,7.9-17.5,17.5v52.6c-0.3,9.7,7.4,17.7,17.1,18s17.7-7.4,18-17.1c0-0.3,0-0.6,0-0.9v-52.6
	C35.3,200.8,27.5,193,17.8,193z M87.9,140.3c-9.7,0-17.5,7.9-17.5,17.5l0,0v105.2c-0.3,9.7,7.4,17.7,17.1,18
	c9.7,0.3,17.7-7.4,18-17.1c0-0.3,0-0.6,0-0.9V157.9C105.5,148.2,97.6,140.4,87.9,140.3L87.9,140.3z M228.2,0
	c-9.7,0-17.5,7.9-17.5,17.5v0v245.5c-0.3,9.7,7.4,17.7,17.1,18s17.7-7.4,18-17.1c0-0.3,0-0.6,0-0.9V17.6C245.8,7.9,237.9,0,228.2,0z
	 M158.1,70.2c-9.7,0-17.5,7.9-17.5,17.5c0,0,0,0,0,0v175.4c-0.3,9.7,7.4,17.7,17.1,18s17.7-7.4,18-17.1c0-0.3,0-0.6,0-0.9V87.7
	C175.6,78.1,167.8,70.2,158.1,70.2z"/>
</svg>
