<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 112.1 92.7" style="enable-background:new 0 0 112.1 92.7;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#1D1D1B;}
</style>
<g id="squash-rackets" transform="matrix(0.174, 0.985, -0.985, 0.174, 98.015, -66.774)">
	<g id="Layer_1_95_" transform="translate(65.908 10.753)">
		<path id="Tracé_85" class="st0" d="M57.3,67.8c-0.1-0.1-0.1-0.2-0.1-0.3L55.7,63c-0.8-2.4-1.6-4.9-2.4-7.3l-1.7-5.4
			c1.8-3.3,2.9-6.9,3-10.7c0.3-7.8-1.9-15.4-6.3-21.8C43.4,10.4,39,4.9,33.5,2c-6.6-3.4-13.7-2.4-22,3s-12,11.6-11.5,19
			c0.4,6.2,3.8,12.5,8.7,20c4.2,6.6,10.3,11.6,17.6,14.4c3.5,1.3,7.3,1.8,11,1.4c0.2,0.2,0.5,0.4,0.7,0.6c1.9,1.6,3.7,3.2,5.6,4.8
			c1.8,1.6,3.6,3.1,5.4,4.7c0.5,0.5,1.1,0.9,1.6,1.4c0.1,0.1,0.2,0.2,0.4,0.3l0.1,0.1l1.6,2.6l4.6,7.7l6.3,10.4c0.6,1,1.3,2.1,2,3.1
			c0.1,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.2,0.3,0.2,0.3c0,0.3,0,0.6,0.1,0.9c0.3,2.2,2.4,3.7,4.6,3.3c0.2,0,0.4-0.1,0.6-0.2
			c0.5-0.2,1-0.5,1.4-0.8l1.5-1c0.5-0.3,0.9-0.6,1.3-1.1c0.6-0.7,0.9-1.5,0.9-2.4c0-0.9-0.2-1.8-0.8-2.6c-0.3-0.4-0.7-0.8-1.2-1.1
			C74.2,91.2,74,91,73.7,91c-0.1-0.2-0.3-0.5-0.5-0.7L62,74.3C61.9,74.4,57.4,67.7,57.3,67.8z M50.3,40.5l-3.9-6l3.5-2.3
			C50.4,35,50.6,37.8,50.3,40.5L50.3,40.5z M21.9,23.4l4.6,7l-7,4.6l-4.6-7L21.9,23.4z M13.2,25.6l-4.6-7l7-4.6l4.6,7L13.2,25.6z
			 M24.4,21.8l7-4.6l4.6,7l-7,4.6L24.4,21.8z M28.2,33l4.6,7l-7,4.6l-4.6-7L28.2,33z M30.6,31.3l7-4.6l4.6,7l-7,4.6L30.6,31.3z
			 M43.9,36.2l4.6,7l-7,4.6l-4.6-7L43.9,36.2z M48.8,46.6c-1,2.2-2.4,4.2-4.2,5.7l-1.3-2L48.8,46.6z M49.1,29.2L44.8,32l-4.6-7
			l5.4-3.6C47.1,23.9,48.2,26.5,49.1,29.2L49.1,29.2z M44,18.9l-5.5,3.6l-4.6-7l5.1-3.4C40.7,14.3,42.4,16.6,44,18.9z M29.4,4.9
			c0.7,0.2,1.4,0.5,2.1,0.9c2,1.1,3.9,2.5,5.4,4.2L32.2,13l-4.6-7L29.4,4.9z M29.7,14.7l-7,4.6l-4.6-7l7-4.6L29.7,14.7z M23,4.5
			l0.4,0.7l-7,4.6l-1.4-2.1C17.5,6.2,20.2,5.1,23,4.5z M12.6,9.4l1.4,2.1l-7,4.6l-0.4-0.7C8.2,13,10.2,11,12.6,9.4z M4.3,23.6
			c-0.1-0.8,0-1.5,0-2.3l1.8-1.2l4.6,7L6,30.3C5.1,28.2,4.5,25.9,4.3,23.6z M7.3,33.1l5.1-3.4l4.6,7l-5.5,3.6
			C10,37.9,8.5,35.5,7.3,33.1L7.3,33.1z M13.2,42.8l5.4-3.6l4.6,7l-4.3,2.8C16.8,47.2,14.8,45.1,13.2,42.8L13.2,42.8z M21.4,51
			l3.5-2.3l3.9,6C26.2,53.8,23.7,52.6,21.4,51L21.4,51z M32,54.1l-4.6-7l7-4.6l4.6,7L32,54.1z M35.1,55.6l5.6-3.7l1.3,2
			C39.9,55.1,37.5,55.6,35.1,55.6L35.1,55.6z M49.1,64.4c-1.8-1.6-3.7-3.2-5.5-4.8c-0.4-0.3-0.7-0.6-1.1-1l6-4
			c0.5,1.5,0.9,3,1.4,4.4c0.7,2.3,1.5,4.6,2.2,6.9l0.4,1.4C51.5,66.4,50.3,65.4,49.1,64.4L49.1,64.4z"/>
	</g>
</g>
</svg>
