<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 250 238.7" style="enable-background:new 0 0 250 238.7;" xml:space="preserve">
<path d="M249.6,90.3c-1.6-4.7-5.8-7.9-10.7-8.4l-71-10.4L136,7c-3-6.2-10.5-8.8-16.7-5.8c-2.5,1.2-4.6,3.3-5.8,5.8L81.7,71.4
	l-71,10.5c-4.7,0.7-8.6,4-10.1,8.5c-1.3,4.4-0.1,9.2,3.1,12.5l51.5,49.9l-12.5,70.9c-0.9,4.8,1,9.6,5,12.5c3.8,2.8,8.9,3.1,13.1,0.9
	l63.9-33.3l63.7,33.4c1.8,1,3.7,1.5,5.7,1.5c2.6,0,5.2-0.8,7.4-2.4c4-2.8,5.9-7.7,5-12.5L194,152.9l51.5-49.9
	C249.3,99.9,250.8,95,249.6,90.3z M172.8,140.2c-3,2.9-4.3,7-3.6,11.1l9,52.3l-46.9-25c-3.7-2-8.1-2-11.7,0l-46.9,25l9-52.3
	c0.7-4.1-0.6-8.2-3.6-11.1l-37.4-37.4l52.5-7.6c4.1-0.6,7.7-3.1,9.5-6.9l22.2-47.6l23.5,47.7c1.8,3.7,5.4,6.3,9.5,6.9l52.5,7.6
	L172.8,140.2z"/>
</svg>
