<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 245.8 245.7" style="enable-background:new 0 0 245.8 245.7;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
</style>
<g id="StartRunner" transform="translate(0.5)">
	<path id="Runner" d="M182.4,45.2c12.7,0,23-10.3,23-23s-10.3-23-23-23s-23,10.3-23,23S169.7,45.2,182.4,45.2z M145.9,183.3
		l6.6-28.8l24.2,23V235c0.1,6.4,5.4,11.4,11.7,11.3c6.2-0.1,11.2-5.1,11.3-11.3v-64.9c0-6.3-2.6-12.3-7.1-16.7l-17-16.2l6.9-34.5
		c13,14.8,30.7,24.6,50.2,27.7c6.3,0.7,12-3.8,12.7-10.1c0.7-6-3.4-11.6-9.4-12.6c-16.6-2.5-31.1-12.4-39.7-26.8l-11.5-18.4
		c-4.1-6.9-11.5-11.2-19.6-11.5c-3.5,0-5.8,1.2-9.2,1.2l-45.8,19.3c-8.5,3.6-14,12-14,21.3V120c0.1,6.4,5.4,11.4,11.7,11.3
		c6.2-0.1,11.2-5.1,11.3-11.3V92.4l20.7-8.1l-18.4,93.2l-45.1-9.2c-6.2-1.3-12.3,2.8-13.6,9v0.5c-1.3,6.2,2.8,12.3,9,13.6l47.3,9.4
		C131.2,203.2,143.1,195.5,145.9,183.3z"/>
	<g id="Speed" transform="translate(-48 -166.48)">
		<path id="Tracé_46" class="st0" d="M117.5,306.8H69.9"/>
		<path id="Tracé_45" class="st0" d="M106.5,251.9H47.9"/>
		<path id="Tracé_44" class="st0" d="M165.2,200.6H91.9"/>
	</g>
</g>
</svg>
