<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 227.3 248" style="enable-background:new 0 0 227.3 248;" xml:space="preserve">
<path d="M203.8,82.7L70.7,6.3C48.1-6.7,19.3,1,6.3,23.6C2.1,30.9-0.1,39.2,0,47.7v153.2c0,26,21.1,47.1,47.1,47.1
	c8.3,0,16.4-2.2,23.6-6.3l133.1-76.3c22.5-13,30.2-41.9,17.2-64.4c-4.1-7.1-10.1-13.1-17.2-17.2V82.7z M190,140.4L56.9,217.8
	c-6.1,3.4-13.5,3.4-19.6,0c-6.1-3.5-9.8-10-9.8-16.9V47.1c0-7,3.7-13.5,9.8-16.9c3-1.7,6.4-2.6,9.8-2.6c3.4,0.1,6.8,1,9.8,2.6
	L190,107c9.4,5.4,12.6,17.4,7.2,26.7c-1.7,3-4.2,5.5-7.2,7.2V140.4z"/>
</svg>
