<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
<path d="M58,16.9c0-0.2,0-0.4,0-0.6l0,0l0,0L52.2,1.8c-0.5-1.2-1.6-1.9-2.9-1.8H8.7C7.5,0,6.4,0.7,6,1.8L0.2,16.3l0,0l0,0
	c0,0.2,0,0.4,0,0.6C0.1,17,0,17.2,0,17.4l0,0l0,0c0.1,4.1,2.3,7.8,5.8,9.9v27.8c0,1.6,1.3,2.9,2.9,2.9h40.6c1.6,0,2.9-1.3,2.9-2.9
	V27.4c3.6-2.1,5.8-5.9,5.8-10l0,0l0,0C58,17.2,58,17.1,58,16.9z M31.9,52.2h-5.8V40.6h5.8V52.2z M46.4,52.2h-8.7V37.7
	c0-1.6-1.3-2.9-2.9-2.9H23.2c-1.6,0-2.9,1.3-2.9,2.9v14.5h-8.7V29c3.3,0,6.5-1.5,8.7-4c4.2,4.8,11.6,5.3,16.4,1c0.4-0.3,0.7-0.7,1-1
	c2.2,2.5,5.4,4,8.7,4V52.2z M46.4,23.2c-3.2,0-5.8-2.6-5.8-5.8c0-1.6-1.3-2.9-2.9-2.9c-1.6,0-2.9,1.3-2.9,2.9c0,3.2-2.6,5.8-5.8,5.8
	s-5.8-2.6-5.8-5.8c0-1.6-1.3-2.9-2.9-2.9c-1.6,0-2.9,1.3-2.9,2.9c0.1,3.2-2.4,5.9-5.6,6s-5.9-2.4-6-5.6l4.9-12h36.7l4.9,12
	C52,20.9,49.4,23.2,46.4,23.2z"/>
</svg>
