<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 242 145.2" style="enable-background:new 0 0 242 145.2;" xml:space="preserve">
<path d="M133.1,121h-121C5.4,121,0,126.4,0,133.1c0,6.7,5.4,12.1,12.1,12.1h121c6.7,0,12.1-5.4,12.1-12.1
	C145.2,126.4,139.8,121,133.1,121z M229.9,60.5H12.1C5.4,60.5,0,65.9,0,72.6c0,6.7,5.4,12.1,12.1,12.1h217.8c6.7,0,12.1-5.4,12.1-12.1
	C242,65.9,236.6,60.5,229.9,60.5z"/>
</svg>
