<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 94.9 95.1" style="enable-background:new 0 0 94.9 95.1;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#1D1D1B;}
</style>
<g id="tennis-racket" transform="translate(-0.246 0)">
	<path id="Tracé_76" class="st0" d="M20.3,77l-2-2l2-2l2,2L20.3,77z M23.6,73.7l-2-2l2-2l2,2L23.6,73.7z"/>
	<path id="Tracé_77" class="st0" d="M4.5,81.1l-4.3,4.3v3L7,95.1h3l23.9-23.9l-9.7-9.7L4.5,81.1z M8.8,92.3H8.1L3,87.2v-0.7L4.5,85
		l5.8,5.8L8.8,92.3z M12.3,88.9l-5.8-5.8l17.7-17.7l5.8,5.8L12.3,88.9z"/>
	<path id="Tracé_78" class="st0" d="M87.2,8c-5.8-5.7-13.8-8.6-21.9-7.9c-8.5,0.7-16.4,4.4-22.4,10.4c-5.3,5.2-8.9,12-10.1,19.4
		l-5.4,30.7l2.7,0.5c4.8-27,5.4-30.7,5.4-30.7c1.1-6.8,4.4-13,9.3-17.9c5.5-5.6,12.8-9,20.6-9.6c15.9-1.1,27.9,11,26.9,26.9
		c-0.6,7.8-4,15.1-9.6,20.6c-4.8,4.9-11.1,8.2-17.9,9.3L34.1,65l0.5,2.7l30.7-5.4c7.4-1.2,14.1-4.8,19.4-10.1
		c6.1-6,9.8-13.9,10.4-22.4C95.8,21.8,92.9,13.8,87.2,8z"/>
	<path id="Tracé_79" class="st0" d="M60.2,56.4c14.2,0,27.5-12.1,28.6-26.7c1.1-13.9-9.4-24.3-23.3-23.3
		c-13.7,1-25.6,12.9-26.7,26.7C37.8,46.4,47.3,56.4,60.2,56.4z M71.7,15.6l3,3L70.2,23l-3-3L71.7,15.6z M65.2,18.1l-3-3l4.4-4.4l3,3
		L65.2,18.1z M64.3,42.8l4.4-4.4l3,3l-4.4,4.4L64.3,42.8z M65.3,47.7l-4.4,4.4l-3-3l4.4-4.4L65.3,47.7z M66.8,36.4l-4.4,4.4l-3-3
		l4.4-4.4L66.8,36.4z M65.8,31.4l4.4-4.4l3,3l-4.4,4.4L65.8,31.4z M70.7,36.4l4.4-4.4l3,3l-4.4,4.4L70.7,36.4z M77.1,29.9l4.4-4.4
		l3,3l-4.4,4.4L77.1,29.9z M75.2,28l-3-3l4.4-4.4l3,3L75.2,28z M68.2,25l-4.4,4.4l-3-3l4.4-4.4L68.2,25z M61.8,31.4l-4.4,4.4l-3-3
		l4.4-4.4L61.8,31.4z M55.4,37.8L51,42.2l-3-3l4.4-4.4L55.4,37.8z M57.4,39.8l3,3l-4.4,4.4l-3-3L57.4,39.8z M54,49.2l-2.5,2.5
		c-1.3-0.6-2.5-1.4-3.6-2.4l3.1-3.1L54,49.2z M55.9,51.1l2.4,2.4c-1.4-0.1-2.8-0.4-4.1-0.8L55.9,51.1z M67.3,49.7l2.1,2.1
		c-1.9,0.8-3.8,1.3-5.8,1.6L67.3,49.7z M69.3,47.7l4.4-4.4l3.5,3.5c-1.6,1.4-3.3,2.7-5.2,3.7L69.3,47.7z M75.7,41.3l4.4-4.4l2.8,2.8
		c-1,1.9-2.3,3.6-3.7,5.2L75.7,41.3z M82.1,34.9l3.7-3.7c-0.3,2-0.8,3.9-1.6,5.8L82.1,34.9z M83.5,23.5l1.7-1.7
		c0.4,1.3,0.7,2.7,0.8,4.1L83.5,23.5z M81.6,21.6l-3-3l3.1-3.1c0.9,1.1,1.7,2.3,2.4,3.6L81.6,21.6z M76.6,16.6l-3-3l2.5-2.5
		c1.3,0.6,2.5,1.4,3.6,2.4L76.6,16.6z M71.7,11.7l-2.4-2.4c1.4,0.1,2.8,0.4,4.1,0.8L71.7,11.7z M60.3,13.1L58.2,11
		c1.9-0.8,3.8-1.3,5.8-1.6L60.3,13.1z M58.3,15.1l-4.4,4.4L50.4,16c1.6-1.4,3.3-2.7,5.2-3.7L58.3,15.1z M60.3,17.1l3,3l-4.4,4.4
		l-3-3L60.3,17.1z M56.9,26.4l-4.4,4.4l-3-3l4.4-4.4L56.9,26.4z M50.5,32.9L46,37.3l-3-3l4.4-4.4L50.5,32.9z M41.8,31.6
		c0.3-2,0.8-3.9,1.6-5.8l2.1,2.1L41.8,31.6z M44.1,39.3l-1.7,1.7c-0.4-1.3-0.7-2.7-0.8-4.1L44.1,39.3z M46,41.2l3,3l-3.1,3.1
		c-0.9-1.1-1.7-2.3-2.4-3.6L46,41.2z M48.4,18l3.5,3.5l-4.4,4.4l-2.8-2.8C45.7,21.3,47,19.6,48.4,18z"/>
	<path id="Tracé_80" class="st0" d="M36.7,44.7l-3.1,16.9l16.9-3.1l-3.3-1.9c-3.6-2.1-6.6-5.1-8.6-8.6L36.7,44.7z M42.9,57.1
		l-5.9,1.1l1.1-5.9C39.5,54.1,41.1,55.7,42.9,57.1L42.9,57.1z"/>
</g>
</svg>
