<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 220.1 244.6" style="enable-background:new 0 0 220.1 244.6;" xml:space="preserve">
<path d="M85.6,195.6c6.8,0,12.2-5.5,12.2-12.2V110c0-6.8-5.5-12.2-12.2-12.2s-12.2,5.5-12.2,12.2v73.4
	C73.4,190.2,78.8,195.6,85.6,195.6z M207.9,48.9H159V36.7C159,16.4,142.5,0,122.3,0H97.8C77.6,0,61.1,16.4,61.1,36.7v12.2H12.2
	C5.5,48.9,0,54.4,0,61.1s5.5,12.2,12.2,12.2h12.2v134.5c0,20.3,16.4,36.7,36.7,36.7H159c20.3,0,36.7-16.4,36.7-36.7V73.4h12.2
	c6.8,0,12.2-5.5,12.2-12.2S214.6,48.9,207.9,48.9z M85.6,36.7c0-6.8,5.5-12.2,12.2-12.2h24.5c6.8,0,12.2,5.5,12.2,12.2v12.2H85.6
	V36.7z M171.2,207.9c0,6.8-5.5,12.2-12.2,12.2H61.1c-6.8,0-12.2-5.5-12.2-12.2V73.4h122.3V207.9z M134.5,195.6
	c6.8,0,12.2-5.5,12.2-12.2V110c0-6.8-5.5-12.2-12.2-12.2s-12.2,5.5-12.2,12.2v73.4C122.3,190.2,127.8,195.6,134.5,195.6z"/>
</svg>
