<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 247.6 247.6" style="enable-background:new 0 0 247.6 247.6;" xml:space="preserve">
<path id="trophy" d="M235.2,24.8H198V12.4C198,5.5,192.5,0,185.7,0H61.9c-6.8,0-12.4,5.5-12.4,12.4v12.4H12.4
	C5.5,24.8,0,30.3,0,37.1v37.1c0,27.3,22.2,49.5,49.5,49.5h19.1c11.2,12.5,26.3,20.8,42.8,23.6v25.9H99c-20.5,0-37.1,16.6-37.1,37.1
	l0,0v24.8c0,6.8,5.5,12.4,12.4,12.4h99c6.8,0,12.4-5.5,12.4-12.4v-24.8c0-20.5-16.6-37.1-37.1-37.1l0,0h-12.4v-25.9
	c16.5-2.8,31.6-11.2,42.8-23.6H198c27.3,0,49.5-22.2,49.5-49.5V37.1C247.6,30.3,242,24.8,235.2,24.8z M49.5,99
	c-13.7,0-24.8-11.1-24.8-24.8V49.5h24.8v24.8c0,8.4,1.5,16.8,4.3,24.8H49.5z M148.5,198c6.8,0,12.4,5.5,12.4,12.4v12.4H86.6v-12.4
	c0-6.8,5.5-12.4,12.4-12.4H148.5z M173.3,74.3c0,27.3-22.2,49.5-49.5,49.5s-49.5-22.2-49.5-49.5V24.8h99V74.3z M222.8,74.3
	c0,13.7-11.1,24.8-24.8,24.8h-4.3c2.8-7.9,4.3-16.3,4.3-24.8V49.5h24.8V74.3z"/>
</svg>
