<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 56 48.4" style="enable-background:new 0 0 56 48.4;" xml:space="preserve">
<path d="M0,25.5v12.7c0,1.4,1.1,2.5,2.5,2.5h2.5c0,4.2,3.4,7.6,7.6,7.6s7.6-3.4,7.6-7.6h15.3c0,4.2,3.4,7.6,7.6,7.6s7.6-3.4,7.6-7.6
	h2.5c1.4,0,2.5-1.1,2.5-2.5V7.6C56,3.4,52.6,0,48.4,0H25.5c-4.2,0-7.6,3.4-7.6,7.6v5.1h-5.1c-2.4,0-4.7,1.1-6.1,3.1l-6.1,8.1
	c-0.1,0.1-0.1,0.2-0.2,0.4l-0.2,0.3C0.1,24.8,0,25.1,0,25.5z M40.7,40.7c0-1.4,1.1-2.5,2.5-2.5s2.5,1.1,2.5,2.5s-1.1,2.5-2.5,2.5
	S40.7,42.1,40.7,40.7z M22.9,7.6c0-1.4,1.1-2.5,2.5-2.5h22.9c1.4,0,2.5,1.1,2.5,2.5v28h-2c-2.8-3.1-7.7-3.4-10.8-0.5
	c-0.2,0.2-0.4,0.3-0.5,0.5H22.9V7.6z M17.8,22.9H7.6l3.1-4.1c0.5-0.6,1.2-1,2-1h5.1V22.9z M10.2,40.7c0-1.4,1.1-2.5,2.5-2.5
	s2.5,1.1,2.5,2.5s-1.1,2.5-2.5,2.5S10.2,42.1,10.2,40.7z M5.1,28h12.7v7.1c-3.1-2.8-7.9-2.5-10.7,0.6h-2V28z"/>
</svg>
