<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 250.9 204.3" style="enable-background:new 0 0 250.9 204.3;" xml:space="preserve">
<path id="twitter" d="M250.9,24.5c-9.4,4.1-19.4,6.8-29.6,8C232.1,26.1,240.1,16,244,4c-10.1,6-21.2,10.3-32.7,12.5
	C192-4.3,159.5-5.6,138.6,13.6c-13.7,12.6-19.5,31.7-15.1,49.9c-41.4-2.1-79.9-21.7-106-53.8c-4.5,7.9-6.9,16.9-6.9,26
	c0,17.2,8.5,33.2,22.8,42.8C25.2,78.2,17.2,76,10,72v0.6c0.1,24.4,17.4,45.4,41.4,50.2c-4.5,1.4-9.1,2.1-13.8,2.1
	c-3.2,0-6.5-0.3-9.7-0.9c6.8,20.9,26.1,35.2,48.1,35.6c-18.1,14.2-40.4,22-63.5,22.1c-4.2,0-8.4-0.2-12.5-0.8
	c23.5,15.2,50.9,23.2,78.9,23.2c80.3,0.8,146.1-63.6,146.9-143.9c0-0.9,0-1.8,0-2.6v-6.6C235.7,43.7,244.2,34.7,250.9,24.5z"/>
</svg>
