<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 247 247" style="enable-background:new 0 0 247 247;" xml:space="preserve">
<path id="user-square" d="M158.2,127c7.8-8.4,12.2-19.4,12.4-30.9c0-25.8-20.9-46.7-46.7-46.7c-25.8,0-46.7,20.9-46.7,46.7
	c0,0,0,0,0,0c0.1,11.5,4.5,22.5,12.3,30.9c-22.1,11-37.2,32.4-40.1,56.9c-0.6,6.8,4.5,12.8,11.4,13.4c6.6,0.5,12.4-4.2,13.3-10.7
	c3.3-27.1,28-46.3,55.1-43c22.5,2.8,40.2,20.5,43,43c0.7,6.6,6.5,11.4,13.1,11h1.4c6.7-0.8,11.6-6.8,10.9-13.6
	C194.8,159.6,180,138.2,158.2,127z M123.5,118.1c-12.1,0-22-9.8-22-22s9.8-22,22-22s22,9.8,22,22S135.6,118.1,123.5,118.1
	C123.5,118.1,123.5,118.1,123.5,118.1z M209.9,0H37.1C16.6,0,0,16.6,0,37.1V210c0,20.5,16.6,37,37,37l0,0h172.9
	c20.5,0,37.1-16.6,37.1-37l0,0V37.1C247,16.6,230.4,0,209.9,0z M222.3,210c0,6.8-5.5,12.3-12.4,12.3H37.1c-6.8,0-12.3-5.5-12.3-12.3
	V37.1c0-6.8,5.5-12.4,12.3-12.4h172.9c6.8,0,12.4,5.5,12.4,12.4V210z"/>
</svg>
