<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 247.3 191.3" style="enable-background:new 0 0 247.3 191.3;" xml:space="preserve">
<path id="users-alt" d="M127.2,98.1c12.1-10.5,19.1-25.8,19.1-41.9C146.3,25.2,121.1,0,90,0S33.8,25.2,33.8,56.3
	c0,16.1,7,31.3,19.1,41.9C20.7,112.7,0.1,144.7,0,180.1c0,6.2,5,11.3,11.3,11.3s11.3-5,11.3-11.3c0-37.3,30.2-67.5,67.5-67.5
	s67.5,30.2,67.5,67.5c0,6.2,5,11.3,11.3,11.3s11.3-5,11.3-11.3C180,144.7,159.4,112.7,127.2,98.1z M90,90
	c-18.7,0-33.8-15.1-33.8-33.8c0-18.7,15.1-33.8,33.8-33.8c18.7,0,33.8,15.1,33.8,33.8S108.7,90,90,90L90,90z M199.6,93.6
	c20.6-23.2,18.5-58.8-4.7-79.4C184.6,5.1,171.3,0,157.6,0c-6.2,0-11.3,5-11.3,11.3s5,11.3,11.3,11.3c18.6,0,33.7,15,33.8,33.6
	c0,12.1-6.4,23.2-16.9,29.3c-5.4,3.1-7.2,10-4.1,15.4c0.9,1.5,2.1,2.8,3.6,3.8l4.4,2.9l1.5,0.8c27.7,13.1,45.3,41.1,45,71.8
	c0,6.2,5,11.3,11.3,11.3c6.2,0,11.3-5,11.3-11.3l0,0C247.5,145,229.4,112.2,199.6,93.6z"/>
</svg>
