<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 246 246" style="enable-background:new 0 0 246 246;" xml:space="preserve">
<path d="M123-0.1C54.9,0-0.1,55.3,0,123.4c0.1,30.8,11.6,60.4,32.4,83.1l0,0c46.1,50,124.1,53.2,174.1,7c2.4-2.2,4.8-4.6,7-7l0,0
	c46-50.2,42.6-128.1-7.5-174.1C183.4,11.5,153.8-0.1,123-0.1z M123,221.7c-25.5,0-50-10-68.4-27.7c15.5-37.8,58.7-55.8,96.5-40.3
	c18.3,7.5,32.8,22,40.3,40.3C173,211.7,148.5,221.7,123,221.7z M98.4,98.5c0-13.6,11-24.6,24.6-24.6s24.6,11,24.6,24.6
	s-11,24.6-24.6,24.6S98.4,112.1,98.4,98.5z M208.2,172.4c-11-18.8-28-33.5-48.2-41.7c18-20.4,16.1-51.6-4.4-69.6S104,45.1,86,65.5
	c-16.4,18.6-16.4,46.6,0,65.2c-20.2,8.2-37.2,22.8-48.2,41.7c-8.8-14.9-13.4-32-13.4-49.3c0-54.4,44.1-98.6,98.6-98.6
	s98.6,44.1,98.6,98.6C221.6,140.4,216.9,157.5,208.2,172.4z"/>
</svg>
