<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 245.2 246.5" style="enable-background:new 0 0 245.2 246.5;" xml:space="preserve">
<path id="user" d="M168.1,132c32.1-25.2,37.6-71.7,12.4-103.8S108.8-9.4,76.7,15.8S39.1,87.5,64.3,119.6c3.6,4.6,7.8,8.8,12.4,12.4
	C34.5,148.9,5.1,187.6,0.1,232.8c-0.7,6.8,4.2,12.9,11,13.7c6.8,0.7,12.9-4.2,13.7-11c6.1-54.1,54.9-93,108.9-86.9
	c45.7,5.1,81.8,41.2,86.9,86.9c0.7,6.3,6,11,12.3,11h1.4c6.7-0.8,11.6-6.8,10.8-13.6C240.1,187.6,210.5,148.8,168.1,132z
	 M122.4,123.3c-27.2,0-49.3-22.1-49.3-49.3s22.1-49.3,49.3-49.3s49.3,22.1,49.3,49.3S149.6,123.3,122.4,123.3z"/>
</svg>
