<svg id="waves-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1090.183" height="229.695" viewBox="0 0 1090.183 229.695">
  <defs>
    <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#29a2d0"/>
      <stop offset="1" stop-color="#637fba"/>
    </linearGradient>
  </defs>
  <g id="Groupe_914" data-name="Groupe 914" transform="translate(-830 -155.305)">
    <path id="Tracé_38" data-name="Tracé 38" d="M548.138,619.628s246.367-135.079,550.187-108.389,540-121.306,540-121.306V619.628Z" transform="translate(281.861 -234.628)" opacity="0.254" fill="url(#linear-gradient)"/>
    <path id="Tracé_49" data-name="Tracé 49" d="M548.139,571.471s229.394-106.759,512.282-85.664,502.793-95.873,502.793-95.873V571.471Z" transform="translate(356.861 -186.471)" opacity="0.497" fill="url(#linear-gradient)"/>
  </g>
</svg>
