<svg xmlns="http://www.w3.org/2000/svg" id="waves-bottom" xmlns:xlink="http://www.w3.org/1999/xlink" width="1688.219" height="305.687" viewBox="0 0 1688.219 305.687">
  <defs>
    <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#29a2d0"/>
      <stop offset="1" stop-color="#637fba"/>
    </linearGradient>
  </defs>
  <g id="BottomIllustration" transform="translate(-231.859 -774.331)">
    <path id="Tracé_43" data-name="Tracé 43" d="M548.139,939.344s381.515-369.042,852-296.124,837.491,298.707,836.217,296.124Z" transform="translate(-316.28 140.65)" opacity="0.25" fill="url(#linear-gradient)"/>
    <path id="Tracé_37" data-name="Tracé 37" d="M548.139,865.153s323.381-266,742.411-210.778,762.309,212.734,761.174,210.778Z" transform="translate(-203.111 214.847)" opacity="0.497" fill="url(#linear-gradient)"/>
  </g>
</svg>
