<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 252 177.1" style="enable-background:new 0 0 252 177.1; width: 32px;" xml:space="preserve">
<path id="youtube" fill="rgb(6,174,220)" d="M251.9,62.4c0.6-16.4-3-32.6-10.4-47.3c-5-6-12-10.1-19.7-11.4C190,0.8,158-0.4,126,0.1
	C94.2-0.4,62.3,0.7,30.5,3.6C24.3,4.7,18.5,7.7,13.8,12C3.5,21.5,2.4,37.8,1.2,51.5c-1.7,24.7-1.7,49.5,0,74.2
	c0.3,7.7,1.5,15.4,3.4,22.9c1.4,5.8,4.2,11.1,8.1,15.6c4.7,4.6,10.6,7.7,17.1,8.9c24.7,3,49.5,4.3,74.4,3.8
	c40.1,0.6,75.2,0,116.8-3.2c6.6-1.1,12.7-4.2,17.5-8.9c3.2-3.2,5.6-7.1,7-11.4c4.1-12.6,6.1-25.7,6-38.9
	C251.9,108,251.9,69.3,251.9,62.4z M100.1,121.2V50.4L167.9,86C148.9,96.5,123.8,108.4,100.1,121.2z"/>
</svg>
