{% extends 'base.html.twig' %}

{% block title %}Hello StyleguideController!{% endblock %}

{% block body %}

    <div class="logged-in-as-container">
        <div class="logged-in-as">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Vous êtes connecté en tant que <span>{{ app.user.username }}</span>
            {% else %}
            {% endif %}
        </div>

        <div class="has-previous-session">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>

        <div class="user-content">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>

{% endblock %}
