<div class="container-sample">
    {% for court in pagination %}
        <div class="content-sample">
            <div class="container-picture">
                <img src="{{asset('images/png/land-2-example.jpg')}}" title="stringer-picture" alt="stringer-picture" class="picture">
                <div class="pastille-a-partir-de">
                    {% include "svg/pricetag-alt.svg.twig" %}
                    <div class="tarif-minimal">
                        A partir de {{ court.lowPrice }} €
                    </div>
                </div>
            </div>
            <div class="container-text">
                <div class="title">
                    {# TODO La propriété Name à été supprimée de l'entité Court, remettre Name à la place d'ID quand c'est fix #}
                    {{ court.id }}
                </div>
                <div class="address">
                    {% include "svg/location.svg.twig" %}
                    <div class="address-text">
                        {{ court.address.street }} - {{ court.address.city }}
                    </div>
                </div>
                <div class="container-sport-level">
                    <div class="sport">
                        {% include "svg/game.svg.twig" %}
                        <div class="sport-text">
                            {{ court.sport.name }}
                        </div>
                    </div>
                </div>
                <div class="container-button">
                    <a href="#" class="discover-button">
                        <div class="word">
                            Modifier
                        </div>
                        {% include "svg/edit-alt.svg.twig" %}
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        Vous n'avez aucune prestation de terrain pour l'instant.
    {% endfor %}
</div>
<!-- PAGINATION DES TERRAINS -->
<div class="container-sample">
    <div class="pagination-sample">
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>

<div class="container-create-new-court-button">
    <div class="bloc-create-new-court-button">
        {# TODO ADD HREF WHEN METHOD IS AVAILABLE #}
        <a href="" class="btn-large--blue">
                    <span class="word">
                        Créer une nouvelle prestation de terrain
                    </span>
            {% include "svg/arrow-circle-right.svg.twig" %}
        </a>
    </div>
</div>
