// =============================================================================
// ACCOUNT SIDEBAR MENU
// =============================================================================

@import '../bases/variables';
@import '../bases/fonts';


// Account sidebar menu
// ===================================================================

.account-sidebar-menu {
  background-color: $white;
  padding: 0; // Override bootstrap col padding
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  height: 100%;
  overflow-y: scroll;
  @include box-shadow();
  @media (max-width: $max-sm-bkpt) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .menu__person {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 30px 15px 25px;
    .account-sidebar-menu-close {
      border-radius: 12px;
      width: 35px;
      height: 35px;
      border-width: 1px;
      border-style: solid;
      border-color: $cyan-blue;
      background-color: $white;
      margin-right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      cursor: pointer;
      @media (min-width: $min-md-bkpt) {
        display: none;
      }
      svg {
        height: 20px;
        width: 20px;
        transform: rotate(180deg);
      }
      &:hover {
        background-color: $cyan-blue;
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
    .img-wrapper {
      position: relative;
      margin-right: 15px;
      img {
        border-radius: 20px;
        width: 50px;
      }
      a {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: $white;
        border-radius: 50px;
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .1s all ease-in;
        @include box-shadow();
        svg {
          width: 12px;
          path {
            fill: $celeste-blue;
          }
        }
        &:hover {
          background-color: $celeste-blue;
          svg {
            path {
              fill: $white;
            }
          }
        }
      }
    }
    p {
      margin: 0;
      color: $celeste-blue;
    }
  }
  nav.menu__nav {
    ul {
      list-style-type: none;
      margin-left: 0;
      li {
        a.nav-link {
          color: $cyan-blue;
          transition: all .2s ease-in;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          display: flex;
          align-items: center;
          padding: 15px;
          svg:not(#angle-right) {
            width: 15px;
            margin-right: 12px;
            flex-shrink: 0;
            path {
              fill: $cyan-blue;

            }
          }
          span {
            line-height: 15px;
            flex-grow: 1;
          }
          svg#angle-right {
            width: 25px;
            flex-shrink: 0;
            path {
              fill: $cyan-blue;
            }
          }
          &.active {
            background-color: $cyan-blue;
            color: $white;
            svg:not(#angle-right),
            svg#angle-right {
              path {
                fill: $white;
              }
            }
          }
          &:hover {
            background-color: lighten($cyan-blue, 15%);
            color: $white;
            svg:not(#angle-right),
            svg#angle-right {
              path {
                  fill: $white;

                }
              }
          }
        }
      }
    }
  }
}


// Account content wrapper
// ===================================================================

.account-content-wrapper {
  display: flex;
  flex: 1 0 auto;
  .account-content-inner {
    min-height: 100%;
    position: relative;
    .account-content-overlay {
      @media (max-width: $max-sm-bkpt) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 30;
        background-color: rgba($black, 0.2);
      }
      @media (min-width: $min-md-bkpt) {
        display: none;
      }
    }
    .account-content {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      overflow-y: scroll;
    }
  }
}
