// =============================================================================
// FOOTER
// =============================================================================

@import '../bases/variables';
@import '../bases/fonts';



//
// ===================================================================


footer.site-footer {
  background: transparent linear-gradient(180deg, #3798D8 0%, #637FBA 100%) 0% 0% no-repeat padding-box;
  display: block;
  justify-content: space-between;
  margin-top: auto !important;
  color: white;

  p {
    font: Regular 14px/22px Overpass;
  }
  .footer-description{
    .la-raquette-logo{
      width: 219px;
      @media (max-width: 990px) {
        margin: auto;
      }
      padding-bottom:1rem;
    }
    padding: 3rem 5rem;
  }
  .footer-lot-redirection{
    margin: auto;
    a {
      color: white;
      font: Regular 14px/22px Overpass;
      &:hover {
        text-decoration: underline;
      }
    }
    .redirection-lot{
      display: flex;
    }
  }

  .footer-social-medial{
    padding: 2rem;
    margin: auto;

    .title-3 {
      display: flex;
      justify-content: center;
    }

    .icon-social{
      display: flex;
      justify-content: space-between;
      @media (max-width: 990px) {
        padding: 0 30%;
      }
      @media (min-width: 991px){
      padding: 0 30%;
    }

      svg {
        fill: white;
        width: 1em;
        height: 1em;
      }
    }
  }

  .legal-mention{
    border-top: 1px solid #FFFFFF;
    margin: auto;
    .legal-mention-center{
      display: flex;
      justify-content: center;
    }

    svg {
      width: 1rem;
      fill: white;
    }
  }
}
