// =============================================================================
// HEADER
// =============================================================================

@import '../bases/variables';
@import '../bases/fonts';



// Header
// ===================================================================

// MENU DESKTOP
.container-header {
  position: fixed;
  z-index: 103;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: $white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Overpass, sans-serif;
  @include box-shadow;

  li {
    list-style: none;

    .menu-mobile {
      display: none;

      svg {
        height: 24px;
        width: auto;

        path {
          fill: $celeste-blue;
        }
      }
    }
  }


  .logo-la-raquette {
    .logo {
      height: 70px;
      width: auto;
      margin: 0 0 0 30px;
    }
  }

  .navigation-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 75%;

    li {
      list-style:none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        color: $black;
        padding: 5px 16px 5px 16px;
        text-decoration: none;
        font-size: 17px;

        &:hover {
          color: $celeste-blue;
        }
      }
      a.active {
        color: $celeste-blue;
      }

      .border-bottom-link-header {
        display: none;
        height: 4px;
        width: 40%;
        border-radius: 8px;
        background-color: $celeste-blue;
      }
    }
  }

  .my-account {
    display: flex;
    position: absolute;
    right: 120px;
    cursor: pointer;

    svg {
      height: 24px;
      width: auto;

      path {
        fill: $celeste-blue;
      }
    }

    .my-account-link {
      svg {
        height: 30px;
        width: auto;

        path {
          fill: $celeste-blue;
        }
      }
    }
  }

  .search {
    display: flex;
    position: absolute;
    right: 50px;
    cursor: pointer;

    svg {
      height: 24px;
      width: auto;

      path {
        fill: $celeste-blue;
      }
    }
  }
}


// MENU MOBILE
.container-header-mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 103;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(6,174,220,1) 0%, rgba(99,128,191,1) 100%);
  overflow-x: hidden;
  transition: 0.5s;
  font-family: Overpass, sans-serif;
  border-radius: 0 20px 20px 0;

  .container-header-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 20px;

    .close-btn {
      margin: 0 0 0 20px;
    }

    .menu-links {
      margin: 50px 0 0 0;

      li {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        margin: 20px;

        svg {
          height: 24px;
          width: 24px;

          path {
            fill: $white;
          }
        }

        a {
          margin: 0 0 0 20px;
          font-size: 20px;
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}

// SEARCH INPUT IN HEADER
.container-search {
  @include box-shadow;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $white;
  max-width: 400px;
  height: 0;
  overflow-y: hidden;
  position: absolute;
  right: 0;
  z-index: 102;
  border-radius: 10px;
  margin: 20px 20px 0 0;

  .close-search, .launch-search {
    justify-content: center;
    align-items: center;
    min-height: 40px;
    min-width: 40px;
    margin: 6px;
  }

  .input-search {
    .container-input-small {
      .input-text {
        input[type="text"] {
          border: inherit;
        }
      }
    }
  }
}

// SMALL MOBILE
@media screen and (max-width: $max-xxs-bkpt) {

  .container-header {
    .logo-la-raquette {
      .logo {
        height: 50px !important;
      }
    }
  }
}

// MOBILE
@media screen and (max-width: $max-sm-bkpt) {

  .container-header {
    .logo-la-raquette {
      .logo {
        height: 60px;
        margin: inherit;
      }
    }
    .my-account {
      right: 80px;
    }
    .search {
      right: 30px;
    }
  }

  .container-search {
    margin: 5px 5px 0 0;
  }
}

// TABLET
@media screen and (max-width: $max-xl-bkpt) {

  .container-header {
    li {
      list-style: none;

      .menu-mobile {
        display: block;
        margin: 0 20px 0 20px ;

        &:hover {
          cursor: pointer;
        }

        svg {
          height: 20px;
        }
      }
    }

    .navigation-links {
      li {
        display: none;
      }

      a.btn-small--white {
        display: none;
      }
    }
  }

  .container-header-mobile {
    max-width: 400px;
  }
}

