// =============================================================================
// NEWSLETTER
// =============================================================================

@import '../bases/variables';
@import '../bases/fonts';
@import '../bases/mixins';


// Section newsletter
// ===================================================================
.newsletter-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .container-newsletter {
    width: 100%;
    height: 530px;

    .container-picture-newsletter {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: hidden;
      position: relative;

      .picture-newsletter {
        position: absolute;
        width: 100%;
        height: auto;
        top: 5%;
        left: 50%;
        transform: translate( -50%, -50%);
      }

      .container-content-text-newsletter {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 450px;
        height: 80%;
        text-align: center;

        .join-us {
          color: $white;
          font-size: 25px;
          font-family: Overpass-Light;
        }

        .input-mail-newsletter {
          .input-text {
            input[type="text"] {
              @include input-newsletter;
            }
          }
        }

        .btn-subscribe-newsletter {
          margin: 0 20px 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

// CROP IMG ON TABLET AND SMARTPHONE
@media screen and (max-width: $max-xl-bkpt) {
  .newsletter-section {
    .container-newsletter {
      .container-picture-newsletter {
        .picture-newsletter {
          width: inherit;
          object-fit: cover;
          overflow: hidden;
        }
      }
    }
  }
}