// =============================================================================
// SHARE SOCIAL
// =============================================================================

@import '../bases/variables';
@import '../bases/fonts';


// Section share social
// ===================================================================

.share-social { // .row
    margin-top: 40px;
    margin-bottom: 40px;
    &--circle {
        @extend .share-social;
        .share-social-inner {
            display: flex;
            @media (min-width: $min-md-bkpt) {
                justify-content: space-between;
            }
            @media (max-width: $max-sm-bkpt) {
                flex-direction: column-reverse;
                align-items: center;
            }

            .circle__left {
                display: flex;
                align-items: center;

                svg#share-alt {
                    height: 30px;

                    path {
                        fill: $celeste-blue;
                    }
                }

                a {
                    margin-left: 25px;
                }
            }

            .circle__right {
                display: flex;
                align-items: center;
                @media (max-width: $max-sm-bkpt) {
                    margin-bottom: 25px;
                }
                a {
                }

            }
        }
    }

    &--large {
        @extend .share-social;
        margin-top: 50px;
        .share-social-inner {
            display: flex;
            @media (min-width: $min-lg-bkpt) {
                justify-content: flex-end;
                flex-wrap: wrap;
            }
            @media (max-width: $max-md-bkpt) {
                flex-direction: column;
                align-items: center;
            }
            a {
                &:not(:last-child) {
                    @media (min-width: $min-md-bkpt) {
                        margin-right: 12px;
                    }
                    @media (max-width: $max-md-bkpt) {
                        margin-bottom: 12px;
                    }
                }

            }
        }

    }
}