// =============================================================================
// BUTTONS
// =============================================================================

@import "../bases/variables";


// Bases of buttons
// ===================================================================

@mixin base-btn() {
    display: flex;
    align-items: center;
    //height: 35px;
    border-radius: 50px;
    font-family: Overpass-SemiBold, sans-serif;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    transition: all 0.3s ease 0s;
    line-height: inherit;
    cursor: pointer;
    .word {
        padding-top: 3px; // Balances the weird line height on text, for align-items center on btn
    }

    svg {
        margin: 0 0 0 12px;
        path {

        }
        &#multiply {
            padding: 3px;
        }
    }

    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
}

// Sizes
@mixin btn-small() {
    padding: 7px 20px;
    svg {
        height: 15px;
        width: auto;
    }
}

@mixin btn-large() {
    padding: 10px 40px;
    svg {
        height: 20px;
        width: auto;
    }
}


// Circle
@mixin btn-circle() {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    transition: all 0.3s ease 0s;
}

@mixin btn-circle--small() {
    @include btn-circle;
    height: 25px;
    width: 25px;
    svg {
        height: 10px;
        width: auto;
    }
}

@mixin btn-circle--large() {
    @include btn-circle;
    height: 45px;
    width: 45px;
    svg {
        height: 20px;
        width: auto;
    }
}




// Colors
// ===================================================================

@mixin btn-blue() {
    background-color: $celeste-blue;
    color: $white;
    border-color: $celeste-blue;
    svg {
        path {
            fill: $white;
        }
    }
    &:hover {
        background-color: $white;
        color: $celeste-blue;
        svg {
            path {
                fill: $celeste-blue;
            }
        }
    }
}

@mixin btn-dark-blue() {
    background-color: $cyan-blue;
    color: $white;
    border-color: $cyan-blue;
    svg {
        path {
            fill: $white;
        }
    }
    &:hover {
        background-color: $white;
        color: $cyan-blue;
        svg {
            path {
                fill: $cyan-blue;
            }
        }
    }
}

@mixin btn-white() {
    background-color: $white;
    color: $celeste-blue;
    border-color: $celeste-blue;
    svg {
        path {
            fill: $celeste-blue;
        }
    }
    &:hover {
        background-color: $celeste-blue;
        color: $white;
        svg {
            path {
                fill: $white;
            }
        }
    }
}


@mixin btn-red() {
    background-color: $red;
    color: $white;
    border-color: $red;
    svg {
        path {
            fill: $white;
        }
    }
    &:hover {
        background-color: $white;
        color: $red;
        svg {
            path {
                fill: $red;
            }
        }
    }
}

@mixin btn-green() {
    background-color: $green;
    color: $white;
    border-color: $green;
    svg {
        path {
            fill: $white;
        }
    }
    &:hover {
        background-color: $white;
        color: $green;
        svg {
            path {
                fill: $green;
            }
        }
    }
}

@mixin btn-pagination() {
    background-color: $celeste-blue;
    color: $white;
    border-color: $celeste-blue;
    a {
        color: $white;
    }
    &:hover {
        background-color: $white;
        color: $celeste-blue;
        a {
            text-decoration: none;
            color: $celeste-blue;
        }
    }
}



// Basic buttons
// ===================================================================

// SMALL BUTTONS
@mixin btn-small--blue() {
    @include base-btn();
    @include btn-small();
    @include btn-blue();
}

.btn-small--blue {
    @include btn-small--blue();
}

@mixin btn-small--dark-blue() {
    @include base-btn();
    @include btn-small();
    @include btn-dark-blue();
}

.btn-small--dark-blue {
    @include btn-small--dark-blue();
}

@mixin btn-small--white() {
    @include base-btn();
    @include btn-small();
    @include btn-white();
}

.btn-small--white {
    @include btn-small--white();
}

@mixin btn-small--red() {
    @include base-btn();
    @include btn-small();
    @include btn-red();
}

.btn-small--red {
    @include btn-small--red();
}

@mixin btn-small--green() {
    @include base-btn();
    @include btn-small();
    @include btn-green();
}

.btn-small--green {
    @include btn-small--green();
}

// LARGE BUTTONS
@mixin btn-large--blue() {
    @include base-btn();
    @include btn-large();
    @include btn-blue();
}

.btn-large--blue {
    @include btn-large--blue();
}

@mixin btn-large--dark-blue() {
    @include base-btn();
    @include btn-large();
    @include btn-dark-blue();
}

.btn-large--dark-blue {
    @include btn-large--dark-blue();
}

@mixin btn-large--white() {
    @include base-btn();
    @include btn-large();
    @include btn-white();
}

.btn-large--white {
    @include btn-large--white();
}


@mixin btn-large--red() {
    @include base-btn();
    @include btn-large();
    @include btn-red();
}

.btn-large--red {
    @include btn-large--red();
}

@mixin btn-large--green() {
    @include base-btn();
    @include btn-large();
    @include btn-green();
}

.btn-large--green {
    @include btn-large--green();
}

@mixin btn-large--pagination {
    @include base-btn();
    @include btn-large();
    @include btn-pagination();
}


// Circle buttons
// ===================================================================

@mixin btn-circle--small-blue() {
    @include btn-circle--small();
    @include btn-blue();
}

.btn-circle--small-blue {
    @include btn-circle--small-blue();
}

@mixin btn-circle--large-blue() {
    @include btn-circle--large();
    @include btn-blue();
}

.btn-circle--large-blue {
    @include btn-circle--large-blue();
}


@mixin btn-circle--small-white() {
    @include btn-circle--small();
    @include btn-white();
}

.btn-circle--small-white {
    @include btn-circle--small-white();
}

@mixin btn-circle--large-white() {
    @include btn-circle--large();
    @include btn-white();
}

.btn-circle--large-white {
    @include btn-circle--large-white();
}


// Social buttons
// ===================================================================

// COLORS
@mixin btn-fb() {
    background-color: $blue-fb;
    color: $white;
    border-color: $blue-fb;
    svg {
        path {
            fill: $white;
        }
    }
    &:hover {
        background-color: $white;
        color: $blue-fb;
        svg {
            path {
                fill: $blue-fb;
            }
        }
    }
}


@mixin btn-twitter() {
    background-color: $blue-twitter;
    color: $white;
    border-color: $blue-twitter;
    svg {
        path {
            fill: $white;
        }
    }
    &:hover {
        background-color: $white;
        color: $blue-twitter;
        svg {
            path {
                fill: $blue-twitter;
            }
        }
    }
}

@mixin btn-linkedin() {
    background-color: $blue-linkedin;
    color: $white;
    border-color: $blue-linkedin;
    svg {
        path {
            fill: $white;
        }
    }
    &:hover {
        background-color: $white;
        color: $blue-linkedin;
        svg {
            path {
                fill: $blue-linkedin;
            }
        }
    }
}

@mixin btn-close {
    background-color: $white;
    color: $celeste-blue;
    border-color: $white;
    @include box-shadow;

    svg {
        path {
            fill: $celeste-blue;
        }
    }
    &:hover {
        background-color: $celeste-blue;
        color: $white;
        cursor: pointer;

        svg {
            path {
                fill: $white;
            }
        }
    }
}

@mixin btn-become-partner {
    background-color: transparent;
    max-width: 200px;
    color: $white;
    border-color: $white;
    justify-content: center;
    margin: 50px 0 0 20px;

    &:hover {
        background-color: $white;
        color: $celeste-blue;
    }
}

@mixin btn-search {
    background-color: $cyan-blue;
    color: $white;
    height: 40px;
    width: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

    svg {
        height: 20px;
        width: auto;
        path {
            fill: $white;
        }
    }
}


// LARGE

@mixin btn-pagination-empty() {
    border-color: $celeste-blue;
    background-color: $white;
    color: $celeste-blue;
    &:hover {
        background-color: $white;
        color: $celeste-blue;
    }
}


@mixin btn-pagination-full() {
    border-color: $celeste-blue;
    background-color: $celeste-blue;
    color: $white;
    a {
        color: $white;
    }
    &:hover {
        cursor: pointer;
        background-color: $white;
        color: $celeste-blue;
        a {
            text-decoration: none;
            color: $celeste-blue;
        }
    }
}

// FB
@mixin btn-social-large--fb() {
    @include base-btn();
    @include btn-large();
    @include btn-fb();
}

.btn-social-large--fb {
    @include btn-social-large--fb();
}


// TWITTER
@mixin btn-social-large--twitter() {
    @include base-btn();
    @include btn-large();
    @include btn-twitter();
}

.btn-social-large--twitter {
    @include btn-social-large--twitter();
}


// LINKED IN
@mixin btn-social-large--linkedin() {
    @include base-btn();
    @include btn-large();
    @include btn-linkedin();
}

.btn-social-large--linkedin {
    @include btn-social-large--linkedin();
}


// FB
@mixin btn-social-circle--fb() {
    @include btn-circle--large;
    @include btn-fb();
}


.btn-social-circle--fb {
    @include btn-social-circle--fb();
}



// TWITTER
@mixin btn-social-circle--twitter() {
    @include btn-circle--large;
    @include btn-twitter();
}


.btn-social-circle--twitter {
    @include btn-social-circle--twitter();
}



// LINKED IN
@mixin btn-social-circle--linkedin() {
    @include btn-circle--large;
    @include btn-linkedin();
}


.btn-social-circle--linkedin {
    @include btn-social-circle--linkedin();
}



// Other buttons
// ===================================================================

@mixin btn-become-partner { // TODO : remove when big clean at the end of project : use regular variants defined higher in file
    background-color: transparent;
    max-width: 200px;
    color: $white;
    border-color: $white;
    justify-content: center;
    margin: 50px 0 0 20px;

    &:hover {
        background-color: $white;
        color: $celeste-blue;
    }
}

@mixin btn-search { // TODO : remove when big clean at the end of project : use regular variants defined higher in file
    background-color: $cyan-blue;
    color: $white;
    height: 40px;
    width: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

    svg {
        height: 20px;
        width: auto;
        path {
            fill: $white;
        }
    }
}

.btn-become-partner {
    @include btn-become-partner;
    @include btn-small;
    @include base-btn;
}

.btn-search, .btn-close-search {
    @include btn-search;
}

// PAGINATION
@mixin btn-pagination() {
    background-color: $celeste-blue;
    color: $white;
    border-color: $celeste-blue;
    a {
        color: $white;
    }
    &:hover {
        background-color: $white;
        color: $celeste-blue;
        a {
            text-decoration: none;
            color: $celeste-blue;
        }
    }
}

// PAGINATION LARGE
@mixin btn-large--pagination {
    @include base-btn();
    @include btn-large();
    @include btn-pagination();
}

// PAGINATION EMPTY
@mixin btn-pagination-empty() {
    border-color: $celeste-blue;
    background-color: $white;
    color: $celeste-blue;
    &:hover, &:focus {
        background-color: $celeste-blue;
        color: $white;
        a {
            color: $white;
        }
    }
}

// PAGINATION FULL
@mixin btn-pagination-full() {
    border-color: $celeste-blue;
    background-color: $celeste-blue;
    color: $white;
    a {
        color: $white;
    }
}

// PAGINATION PREVIOUS
@mixin btn-pagination-previous {
    @include btn-large--white();
    &:hover {
        a {
            text-decoration: none;
            color: $white;
        }
    }
}

// PAGINATION ACTIVE
@mixin btn-pagination-active {
    @include btn-circle--large();
    @include btn-pagination-full();
}

// PAGINATE INACTIVE
@mixin btn-pagination-inactive {
    @include btn-circle--large();
    @include btn-pagination-empty();
}

// PAGINATION NEXT
@mixin btn-pagination-next {
    @include btn-large--white();
    &:hover {
        a {
            text-decoration: none;
            color: $white;
        }
    }
}
