/* ----------------------------- */
/* --------- LES CARDS --------- */
/* ----------------------------- */

@import '../bases/_variables';
@import '../bases/_mixins';
@import '../bases/_fonts';
@import 'buttons';


/* CARD CONTAINER */
.container-sample {
  @include container-cards;
  @media (max-width: $max-xxs-bkpt) {
    justify-content: space-between;
  }

  /* CARDS */
  .content-sample {
    @include container-single-card;
    @media (max-width: $max-xxs-bkpt) {
      width: 350px;
      margin: 0 0;
    }

    .container-partner-month {
      display: flex;
      justify-content: center;

      .pastille-partner-month {
        @include pastille-partner-month;
        @include box-shadow;
      }
    }

    /* CONTAINER PICTURE */
    .container-picture {
      @include container-picture;
      @media (max-width: $max-xxs-bkpt) {
        width: 350px;
        height: 45%;
      }

      .picture {
        @include picture;
      }

      .pastille-a-partir-de, .pastille-prix-personne, .pastille-activite {
        @include pastille-top;

        .tarif-minimal, .tarif-personne, .partner-activite {
          font-size: 12px;
          font-family: Overpass-Bold;
        }
      }

      .pastille-nbr-place-dispo, .pastille-nbr-place-max {
        @include pastille-bottom;

        .nbr-place-dispo, .nbr-place-max {
          font-size: 13px;
          font-family: Overpass-Bold;
        }
      }
    }

    /* CONTAINER TEXT */
    .container-text {
      font-family: Overpass-Bold;
      position: relative;
      text-align: center;
      padding: 15px 10px 10px 10px;
      min-height: 150px;

      .title {
        font-family: Overpass-Light;
        color: $celeste-blue;
        font-size: 23px;
        padding: 2px 2px;
      }

      .date {
        @include bloc-text;
        margin: 0 0 10px 0;

        .date-text {
          padding: 3px 0 0 0;
          margin: 0 0 0 10px;
        }
      }

      .address {
        @include bloc-text;
        margin: 0 0 6px 0;

        .address-text {
          padding: 3px 0 0 0;
          margin: 0 0 0 10px;
        }
      }

      .container-description {
        .description {
          font-family: Overpass-Light;
          font-size: 12px;
          max-height: 35px;
          overflow: hidden;
        }
      }

      .container-sport-level {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2px 2px;

        .sport {
          @include bloc-text;

          .sport-text {
            padding: 3px 0 0 0;
            margin: 0 0 0 10px;
          }
        }

        .level {
          @include bloc-text;

          .level-text {
            padding: 3px 0 0 0;
            margin: 0 0 0 10px;
          }
        }
      }

      .container-button {
        padding: 10px 4px 0 4px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .discover-button {
          @include btn-small--blue() ;
        }
      }
    }
    .svg {
      @include svg;
    }
  }
}
































