// =============================================================================
// CONFIRMATION MESSAGES
// =============================================================================

@import '../bases/variables';
@import '../bases/fonts';



// Confirmation msgs
// ===================================================================

.confirmation-msg {

}

.alert {
  margin: 0 5%;
  background-color: $white;
  border-width: 3px;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  width: 90%;
  z-index: 1;
  bottom: 16px;
}

.alert-error {
  background-color: $white;
  border-color: $red;
  color: $red;
}
