// =============================================================================
// HEADING IMGS
// =============================================================================

@import '../bases/variables';


// Heading img
// ===================================================================
.heading-img {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  &:after {
    // TODO : add waves
    position: absolute;
  }
  @media (max-width: $max-sm-bkpt) {
    min-height: 185px;
  }
  @media (min-width: $min-md-bkpt) and (max-width: $max-md-bkpt) {
    min-height: 225px;
  }
  @media (min-width: $min-lg-bkpt) {
    min-height: 275px;
  }
  > svg:not(#waves-right) {
    height: 30px;
    margin-bottom: 15px;
    path {
      fill: $white;
    }
  }
  .heading-img__title {
    color: $white;
  }
  .heading-img__text {
    display: flex;
    align-items: center;
    margin-top: 20px;
    > svg {
      height: 25px;
      width: auto;
      margin-right: 15px;
      path {
        fill: $white;
      }
    }
    .text {
      color: $white;
      margin: 0;
      padding-top: 4px;
    }
  }

  svg#waves-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
    height: auto;
  }
}