/* ------------------------------ */
/* --------- LES CHAMPS --------- */
/* ------------------------------ */

@import '../bases/variables';
@import '../bases/mixins';
@import '../bases/fonts';


/* ----------------------- */
/* ----- LABEL REQUIRED ----- */
/* ----------------------- */
.lr-label-required {
  &:after {
    content: "*";
    color: red;
  }
}


/* ----------------------- */
/* ----- SMALL INPUT ----- */
/* ----------------------- */
.container-input-small {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  max-height: 100px;

  /* -- ICONE + LABEL (COMMUN) -- */
  .icone-label {
    @include icone-label;

  }

  /* -- INPUT TEXT & RANGE BAR -- */
  .input-text {
    min-width: 200px;

    input[type="text"],
    input[type="password"],
    input[type="email"] {
      @include input-text;
    }

    @include input-range-bar;
  }

  /* -- INPUT NUMBER -- */
  .input-number {
    min-width: 200px;

    input[type="number"].max-price {
      @include input-number;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }
  }

  /* -- INPUT SELECT LIST -- */
  .input-select {
    min-width: 200px;
    position: relative;
    overflow: hidden;

    &:after {
      /* [HTML symbol you want to use] */
      content: "\25bc";
      color: $celeste-blue;
      padding: 5px 5px;
      position: absolute;
      right: 10px;
      top: 0;
      text-align: center;
      pointer-events: none;
    }

    select {
      min-width: 100%;
      appearance: none;
      @include input;
    }
  }
}



/* ----------------------- */
/* ----- LARGE INPUT ----- */
/* ----------------------- */

.container-input-large {
  display: flex;
  flex-wrap: wrap;
  max-width: 270px;
  max-height: 250px;

  /* -- ICONE + LABEL (COMMUN) -- */
  .icone-label {
    @include icone-label;

  }

  /* -- INPUT TEXT & RANGE BAR -- */
  .input-text {
    min-width: 270px;

    input[type="text"],
    input[type="password"],
    input[type="email"] {
      @include input-text;
    }

    @include input-range-bar;
  }

  /* -- TEXT AREA -- */
  .input-textarea {
    min-width: 270px;
    min-height: 150px;

    textarea {
      @include input;
      height: 100px;
      min-height: 100%;
      padding: 15px 15px;
    }
  }

  /* -- INPUT CHECKBOX -- */
  .input-check {
    min-width: 250px;
    .container-choice-checkbox {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      .two-choice {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .choice {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;

          @include input-checkbox;
        }
      }
    }
  }

  /* -- INPUT LOCALISATION -- */
  .input-localisation {
    min-width: 300px;

    input[type="text"] {
      @include input-text;
    }
  }

  .location {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .location-icone {
      svg {
        height: 17px;
        padding: 2px 2px;
        width: auto;
        @include small-svg;
      }
    }

    .location-word {
      font-size: 13px;
      margin: 0 0 0 10px;

      a {
        &:hover {
          text-decoration: none;
          color: $celeste-blue;
        }
      }
    }
  }

  /* -- INPUT RADIO BUTTON -- */
  .input-check {
    min-width: 250px;

    .container-choice-radio {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .choice {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        @include input-radio;
      }
    }
  }
}


/* ----------------------------- */
/* ----- EXTRA LARGE INPUT ----- */
/* ----------------------------- */
.container-input-extra-large {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;

  /* -- ICONE + LABEL (COMMUN) -- */
  .icone-label {
    @include icone-label;

  }

  /* -- TEXT AREA -- */
  .input-textarea {
    min-width: 450px;
    min-height: 150px;

    textarea {
      @include input;
      min-height: 100%;
      padding: 15px 15px;
    }
  }

  .input-text {
    min-width: 450px;

    input[type="text"],
    input[type="password"],
    input[type="email"] {
      @include input-text;
    }
    @include input-range-bar;
  }


}
