// =============================================================================
// LINKS
// =============================================================================

@import "../bases/variables";


// Links
// ===================================================================
a {
    color: $celeste-blue;
    &:hover {
        text-decoration: underline;
        color: $celeste-blue;
    }
}

// Links with pictos
// ===================================================================
@mixin link-icon() {
    display: flex;
    align-items: center;
    .text {
        font-family: "Overpass", sans-serif;
        font-size: 18px; // TODO Font-size à vérifier
        margin: 0;

    }
    svg {
        margin-right: 15px;
        width: 20px;
        height: auto;
        path {

        }
    }
}

.lr-link-icon--blue {
    @include link-icon();
    color: $celeste-blue;
    svg {
        path {
            fill: $celeste-blue;
        };
    }
    &:hover {
        color: $celeste-blue;
        svg {
            path {
                fill: $celeste-blue;
            };
        }
    }
}

.lr-link-icon--dark-blue {
    @include link-icon();
    color: $cyan-blue;
    svg {
        path {
            fill: $cyan-blue;
        };
    }
    &:hover {
        color: $cyan-blue;
        svg {
            path {
                fill: $cyan-blue;
            };
        }
    }
}
.lr-link-icon--black {
    @include link-icon();
    color: $black;
    svg {
        path {
            fill: $black;
        };
    }
    &:hover {
        color: $black;
        svg {
            path {
                fill: $black;
            };
        }
    }
}