// =============================================================================
// LR TITLES
// =============================================================================

@import '../bases/variables';


// LR Basic titles
// ===================================================================

.lr-title-1 {
  font-family: "Overpass-Black", sans-serif;
  font-size: 38px;
  line-height: 38px;

  &--blue {
    color: $celeste-blue;
  }
}

.lr-title-2 {
  font-family: "Overpass-Light", sans-serif;
  font-size: 28px;
  line-height: 28px;

  &--blue {
    color: $celeste-blue;
  }
}

.lr-title-3 {
  font-family: "Overpass-Black", sans-serif;
  font-size: 26px;
  line-height: 26px;

  &--blue {
    color: $celeste-blue;
  }
}

.lr-title-4 {
  font-family: "Overpass-Light", sans-serif;
  font-size: 24px;
  line-height: 24px;

  &--blue {
    color: $celeste-blue;
  }
}

.lr-title-5 {
  font-family: "Overpass", sans-serif;
  font-size: 20px;
  line-height: 20px;
}

// Colors mixins
// ===================================================================

@mixin lr-title--blue() {
  color: $celeste-blue;
}

@mixin lr-title--dark-blue() {
  color: $cyan-blue;
}

@mixin lr-title--black() {
  color: $black;
}

@mixin lr-svg--blue() {
  path {
    fill: $celeste-blue;
  }
}

@mixin lr-svg--dark-blue() {
  path {
    color: $cyan-blue;
  }
}

@mixin lr-svg--black() {
  path {
    color: $black;
  }
}


// Basic title with colors
// ===================================================================

.lr-title-1--blue {
  @extend .lr-title-1;
  @include lr-title--blue();
}
.lr-title-1--dark-blue {
  @extend .lr-title-1;
  @include lr-title--dark-blue();
}
.lr-title-2--blue {
  @extend .lr-title-2;
  @include lr-title--blue();
}
.lr-title-2--dark-blue {
  @extend .lr-title-2;
  @include lr-title--dark-blue();
}
.lr-title-3--blue {
  @extend .lr-title-3;
  @include lr-title--blue();
}
.lr-title-3--dark-blue {
  @extend .lr-title-3;
  @include lr-title--dark-blue();
}
.lr-title-4--blue {
  @extend .lr-title-4;
  @include lr-title--blue();
}
.lr-title-4--dark-blue {
  @extend .lr-title-4;
  @include lr-title--dark-blue();
}
.lr-title-5--blue {
  @extend .lr-title-5;
  @include lr-title--blue();
}
.lr-title-5--dark-blue {
  @extend .lr-title-5;
  @include lr-title--dark-blue();

  &--blue {
    color: $celeste-blue;
  }
}


// Title with icons
// ===================================================================
@mixin title-icon() {
  display: flex;
  align-items: center;
  .title {
    font-family: "Overpass";
    font-size: 20px; // TODO Font-size à vérifier
    margin: 0;
    padding-top: 4px;
  }
  svg {
    margin-right: 15px;
    height: auto;
    path {

    }
  }
}

@mixin title-icon-1() {
  @include title-icon();
  .title {
    @extend .lr-title-1;
  }
  svg {
    width: 38px;
  }
}

@mixin title-icon-2() {
  @include title-icon();
  .title {
    @extend .lr-title-2;
  }
  svg {
    width: 28px;
  }
}

@mixin title-icon-3() {
  @include title-icon();
  .title {
    @extend .lr-title-3;
  }
  svg {
    width: 26px;
  }
}

@mixin title-icon-4() {
  @include title-icon();
  .title {
    @extend .lr-title-4;
  }
  svg {
    width: 24px;
  }
}

@mixin title-icon-5() {
  @include title-icon();
  .title {
    @extend .lr-title-5;
  }
  svg {
    width: 20px;
  }
}

// Title with icons - BOTH title and icon in color
// ===================================================================

// title 1
.lr-title-1--blue--icon-blue {
  @include title-icon-1;
  .title {
    @include lr-title--blue();
  }
  svg {
    @include lr-svg--blue();
  }
}
.lr-title-1--dark-blue--icon-dark-blue {
  @include title-icon-1;
  .title {
    @include lr-title--dark-blue();
  }
  svg {
    @include lr-svg--dark-blue();
  }
}
.lr-title-1--black--icon-black {
  @include title-icon-1;
  .title {
    @include lr-title--black();
  }
  svg {
    @include lr-svg--black();
  }
}

// title 2
.lr-title-2--blue--icon-blue {
  @include title-icon-2;
  @include title-icon;
  .title {
    @include lr-title--blue();
  }
  svg {
    @include lr-svg--blue();
  }
}
.lr-title-2--dark-blue--icon-dark-blue {
  @include title-icon-2;
  .title {
    @include lr-title--dark-blue();
  }
  svg {
    @include lr-svg--dark-blue();
  }
}
.lr-title-2--black--icon-black {
  @include title-icon-2;
  .title {
    @extend .lr-title-2;
    @include lr-title--black();
  }
  svg {
    @include lr-svg--black();
  }
}

// title 3
.lr-title-3--blue--icon-blue {
  @include title-icon-3;
  .title {
    @include lr-title--blue();
  }
  svg {
    @include lr-svg--blue();
  }
}
.lr-title-3--dark-blue--icon-dark-blue {
  @include title-icon-3;
  .title {
    @include lr-title--dark-blue();
  }
  svg {
    @include lr-svg--dark-blue();
  }
}
.lr-title-3--black--icon-black {
  @include title-icon-3;
  .title {
    @include lr-title--black();
  }
  svg {
    @include lr-svg--black();
  }
}

// title 4
.lr-title-4--blue--icon-blue {
  @include title-icon-4;
  .title {
    @include lr-title--blue();
  }
  svg {
    @include lr-svg--blue();
  }
}
.lr-title-4--dark-blue--icon-dark-blue {
  @include title-icon-4;
  .title {
    @include lr-title--dark-blue();
  }
  svg {
    @include lr-svg--dark-blue();
  }
}
.lr-title-4--black--icon-black {
  @include title-icon-4;
  .title {
    @include lr-title--black();
  }
  svg {
    @include lr-svg--black();
  }
}

// title 5
.lr-title-5--blue--icon-blue {
  @include title-icon-5;
  .title {
    @include lr-title--blue();
  }
  svg {
    @include lr-svg--blue();
  }
}
.lr-title-5--dark-blue--icon-dark-blue {
  @include title-icon-5;
  .title {
    @include lr-title--dark-blue();
  }
  svg {
    @include lr-svg--dark-blue();
  }
}
.lr-title-5--black--icon-black {
  @include title-icon-5;
  .title {
    @include lr-title--black();
  }
  svg {
    @include lr-svg--black();
  }
}


// Title with icons - ONLY icon in color
// ===================================================================

.lr-title-1--icon-blue {
  @include title-icon-1();
  .title {

  }
  svg {
    @include lr-svg--blue();
  }
}
.lr-title-1--icon-dark-blue {
  @include title-icon-1();
  .title {

  }
  svg {
    @include lr-svg--dark-blue();
  }
}

.lr-title-2--icon-blue {
  @include title-icon-2();
  .title {

  }
  svg {
    @include lr-svg--blue();
  }
}
.lr-title-2--icon-dark-blue {
  @include title-icon-2();
  .title {

  }
  svg {
    @include lr-svg--dark-blue();
  }
}

.lr-title-3--icon-blue {
  @include title-icon-3();
  .title {

  }
  svg {
    @include lr-svg--blue();
  }
}
.lr-title-3--icon-dark-blue {
  @include title-icon-3();
  .title {

  }
  svg {
    @include lr-svg--dark-blue();
  }
}

.lr-title-4--icon-blue {
  @include title-icon-4();
  .title {

  }
  svg {
    @include lr-svg--blue();
  }
}
.lr-title-4--icon-dark-blue {
  @include title-icon-4();
  .title {

  }
  svg {
    @include lr-svg--dark-blue();
  }
}

.lr-title-5--icon-blue {
  @include title-icon-5();
  .title {

  }
  svg {
    @include lr-svg--blue();
  }
}
.lr-title-5--icon-dark-blue {
  @include title-icon-5();
  .title {

  }
  svg {
    @include lr-svg--dark-blue();
  }
}
