// =============================================================================
// LR PAGINATION
// =============================================================================

@import '../bases/variables';
@import '../bases/fonts';
@import '../bases/mixins';
@import '../components/buttons';



// LR pagination
// ===================================================================
.lr-pagination {
  background-color: inherit;
  border-radius: 10px;
  margin: 40px auto;

  .pagination {

    .wf_pagination {
      width: 100%;

      .wf_center {

        ul {
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-left: 0;
          margin-right: 0;

          li {

            margin-left: 8px;
            margin-right: 8px;

            &.wf_previous {
              @include btn-pagination-previous;
              @media (max-width: $max-sm-bkpt) {
                display: none;
              }
            }

            &.wf_active {
              @include btn-pagination-active;
            }

            &.wf_next {
              @include btn-pagination-next;
              @media (max-width: $max-sm-bkpt) {
                display: none;
              }
            }

            &.wf_disabled {
              cursor: default;
              opacity: 0.4;
              &:hover {
                background-color: $white;
                color: $celeste-blue;
              }
            }
          }

          li:not([class]) {
            @include btn-pagination-inactive;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

