// =============================================================================
// LR TABS
// =============================================================================
@import '../bases/variables';


// Global style : no matter nb of tabs
// ===================================================================
.lr-tabs {
  position: relative;
  display: flex;

  .tab__dash-active {
    /* Current tab active */
    background: $celeste-blue;
    height: 3px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: calc(100% - 1px);
    transition: left 0.3s ease-out;
  }

  .tabs__btm-line {
    /* Tabs bottom line */
    position: absolute;
    background: $light-grey;
    width: 100%;
    height: 1px;
    left: 0;
    top: 100%;
  }

  input[type="radio"][name="tabs"] {
    position: absolute;
    z-index: -1;
    visibility: hidden;

    &:checked {
      + .tab-item {
        .tab__label {
          color: $celeste-blue;

          svg {
            path {
              fill: $celeste-blue;
            }
          }
        }

        .tab__content {
          display: block;
        }
      }
    }

    &:first-of-type {
      &:checked {
        ~ .tab__dash-active {
          left: 0;
        }
      }
    }
  }

  .tab-item {
    width: 100%;

    .tab__label {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 3px 15px;
      transition: color 0.2s ease;

      svg {
        height: 25px;
        margin-bottom: 10px;
      }

      span { // also .title-4
        @media (max-width: $max-xs-bkpt) {
          display: none;
        }
      }
    }

    .tab__content {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      display: none;
      padding-top: 20px;
    }
  }
}


// All variants with different number of tabs
// ===================================================================

$tab-count-variants: 2, 3, 4, 5, 6;

@each $num-of-tabs in $tab-count-variants {
  .lr-#{$num-of-tabs}-tabs {
    @extend .lr-tabs;

    .tab__dash-active {
      /* For current tab active, define width, depending on number of tabs  */
      width: calc(100% / #{$num-of-tabs});
    }

    input[type="radio"][name="tabs"] {
      /* For blue dash under current tab, define left position, depending on number of tabs */
      @for $i from 1 through $num-of-tabs {
        &:nth-of-type(#{$i}) {
          &:checked {
            ~ .tab__dash-active {
              left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
            }
          }
        }
      }
    }

  }
}
