// =============================================================================
// LR AVATAR
// =============================================================================

@import '../bases/variables';


// LR Avatar
// ===================================================================
.lr-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  svg {
    height: 50px;
    width: auto;
  }
  .avatar__name {
    font-size: 14px;
    margin-top: 5px;
  }
  .avatar__role {
    font-size: 14px;
  }
}