/* ----------------------------- */
/* --------- LES CARDS --------- */
/* ----------------------------- */

@import '../bases/_variables';
@import '../bases/_mixins';
@import '../bases/_fonts';
@import 'buttons';

.container-sample {
  .modal {
    .modal-dialog {
      max-width: 700px;
      min-height: 200px;

      .modal-content {
        border-radius: 20px;

        .modal-header {
          display: flex;
          justify-content: center;
          border-bottom: unset;
          padding: 3rem 3rem;
          color: $celeste-blue;

          .btn-circle--large-white {
            position: absolute;
            top: 2.5rem;
            right: 5rem;
          }
        }

        .modal-body {
          padding: 1rem 3rem;
        }

        .modal-footer {
          display: flex;
          justify-content: space-around;
          border-top: unset;
          padding: 3rem;
        }
      }
    }
  }
}