// =============================================================================
// FORM STEPS
// =============================================================================

@import '../bases/variables';
@import 'buttons';
@import 'lr-titles';



// Form steps
// ===================================================================

.form-steps {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch; // For height 100%
    align-items: center;
    @media (max-width: $max-sm-bkpt) {
        min-height: calc(100vh - 80px);
    }
    @media (min-width: $min-md-bkpt) {
        height: calc(100vh - 80px); // 100% - header height
        overflow-Y: scroll; // In case of small height screen that need scrolling inside
        //flex-grow: 1;
    }

    /* For loading */
    & > section.step-item {
        display: none;
    }

    .step-title {
        display: none; // Loading but also after jquery-steps has loaded

        svg {
            height: 0; // For loading
        }
    }
    /* END For loading */

    .content {
        //position: relative;
        display: flex;
        align-items: center;
        padding-bottom: 50px;
        @media (max-width: $max-xxs-bkpt) {
            max-width: 95%;
        }
        @media (min-width: $min-xs-bkpt) and (max-width: $max-xs-bkpt) {
            max-width: 85%;
        }
        @media (min-width: $min-sm-bkpt) {
            max-width: 75%;
        }

        section {
            display: flex;
            width: 100%;
            position: relative;
            z-index: 20;
            @media (max-width: $max-sm-bkpt) {
                flex-direction: column;
                align-items: center;
            }
            @media (min-width: $min-md-bkpt) {
                flex-wrap: wrap;
                max-width: 375px;
            }
            &.current {
            }

            .step-item__title {
                @extend .lr-title-1;
                text-transform: uppercase;
                color: $celeste-blue;
                width: 100%;
                text-align: center;
                @media (max-width: $max-sm-bkpt) {
                    margin: 20px 0;
                }
                @media (min-width: $min-md-bkpt) and (max-width: $max-xl-bkpt){
                    margin: 25px 0 8vh;
                }
                @media (min-width: $min-xxl-bkpt) {
                    margin: 30px 0 10vh;
                }
            }

            .step-item__field { // also .container-input-large
                flex-direction: column;
                margin-bottom: 15px;
                @media (min-width: $min-md-bkpt) {
                    max-width: 375px;
                }

                .input-text,
                .input-textarea {
                    @media (min-width: $min-md-bkpt) {
                        min-width: 375px;
                    }
                }

                &.field--half {
                    @media (min-width: $min-md-bkpt) {
                        max-width: calc(375px / 2 - 5px);
                    }

                    &:nth-child(even) {
                        @media (min-width: $min-md-bkpt) {
                            margin-right: 10px;
                        }
                    }

                    .input-text,
                    .input-textarea {
                        @media (min-width: $min-md-bkpt) {
                            min-width: calc(375px / 2 - 10px);
                        }
                    }
                }

                .input-label {
                    label {
                    }
                }


                .step-item__notice {
                    font-size: 14px;
                    font-weight: bold;

                    .required-icon {
                        color: $red;
                    }
                }
            }

            .step-item__text {
                @media (max-width: $max-sm-bkpt) {
                    max-width: 270px;
                }
                @media (min-width: $min-md-bkpt) {
                    max-width: 375px;
                }
            }
        }
    }


    .steps {
        @media (max-width: $max-sm-bkpt) {
            display: none;
        }
        @media (min-width: $min-md-bkpt) {
            position: absolute;
            left: 50px;
            top: 50%;
            transform: translateY(-50%);
            height: 80%;
        }

        ul[role="tablist"] {
            list-style-type: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0;

            li {
                display: flex;
                //flex-direction: column;
                //justify-content: flex-start;
                &:not(:last-child) {
                    flex-grow: 1;
                }

                a {
                    display: flex;
                    flex-direction: column;

                    &:not(:last-child) {
                        flex-grow: 1;
                    }

                    .current-info,
                    .number {
                        display: none;
                    }

                    > svg {
                        height: 30px;
                        width: auto;

                        path {
                            fill: $clear-blue;
                        }

                        &#flag {
                            transform: rotate(20deg);
                        }
                    }

                    .step-separator {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        flex-grow: 1;
                        justify-content: space-around;
                        padding: 40% 0;

                        svg {
                            height: 10px;
                            width: 10px;

                            path {
                                fill: $clear-blue;
                            }
                            &:nth-child(3) {
                                @media (max-height: 640px) {
                                    display: none;
                                }
                            }
                            &:nth-child(4) {
                                @media (max-height: 900px) {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &.current {
                    a {
                        > svg {
                            path {
                                fill: $light-green;
                            }
                        }

                        .step-separator {
                            > svg {
                                path {

                                }
                            }
                        }

                    }
                }

                &.done {
                    a {
                        > svg {
                            path {
                                fill: $light-green;
                            }
                        }

                        .step-separator {
                            > svg {
                                path {
                                    fill: $light-green;
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    .actions {
        z-index: 20;
        @media (max-width: $max-sm-bkpt) {
            margin-bottom: 10vh;
        }
        @media (min-width: $min-md-bkpt) {
            position: absolute;
            bottom: 20px;
            right: 15px;
        }

        ul[role="menu"] {
            li {
                list-style-type: none;

                a,
                button {
                    @include btn-small--blue();
                    &:after {
                        content: '';
                        height: 15px;
                        width: 15px;
                        background-repeat: no-repeat;
                        margin: 0 0 3px 12px;
                        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 227 227' style='enable-background:new 0 0 227 227;' xml:space='preserve'%3E%3Cpath fill='white' id='arrow-circle-right' d='M155.9,121.1c4.5-4.5,4.5-12.1,0-16.6l-34.8-33.3c-4.5-4.5-10.6-4.5-15.1,0 c-4.5,4.5-4.5,12.1,0,16.6l15.1,15.1H80.2c-6.1,0-12.1,4.5-12.1,12.1s4.5,12.1,12.1,12.1h40.9l-15.1,15.1c-4.5,1.5-4.5,9.1,0,13.6 c4.5,4.5,12.1,4.5,16.6,0l0,0L155.9,121.1z M227,113.5C227,51.5,175.5,0,113.5,0S0,51.5,0,113.5S51.5,227,113.5,227 S227,175.5,227,113.5z M22.7,113.5c0-49.9,40.9-90.8,90.8-90.8s90.8,40.9,90.8,90.8s-40.9,90.8-90.8,90.8S22.7,163.4,22.7,113.5z'/%3E%3C/svg%3E");
                    }
                    &:hover {
                        &:after {
                            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 227 227' style='enable-background:new 0 0 227 227;' xml:space='preserve'%3E%3Cpath fill='%2306aedc' id='arrow-circle-right' d='M155.9,121.1c4.5-4.5,4.5-12.1,0-16.6l-34.8-33.3c-4.5-4.5-10.6-4.5-15.1,0 c-4.5,4.5-4.5,12.1,0,16.6l15.1,15.1H80.2c-6.1,0-12.1,4.5-12.1,12.1s4.5,12.1,12.1,12.1h40.9l-15.1,15.1c-4.5,1.5-4.5,9.1,0,13.6 c4.5,4.5,12.1,4.5,16.6,0l0,0L155.9,121.1z M227,113.5C227,51.5,175.5,0,113.5,0S0,51.5,0,113.5S51.5,227,113.5,227 S227,175.5,227,113.5z M22.7,113.5c0-49.9,40.9-90.8,90.8-90.8s90.8,40.9,90.8,90.8s-40.9,90.8-90.8,90.8S22.7,163.4,22.7,113.5z'/%3E%3C/svg%3E%0A");
                        }
                    }
                }

                &:nth-child(2) {
                }
            }
        }
    }

    svg#waves-bottom {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
        height: auto;
        z-index: 15;
    }
}