{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="matchmakingSearch-toggleButton container" xmlns="http://www.w3.org/1999/html">
        <a href="#toggle-form" class="btn-small--white js-matchmakings-toggleForm" role="button" aria-expanded="false" aria-controls="toggle-form" data-toggle="collapse">
            <span class="word">
                Voir les filtres
            </span>
            {% include "svg/filter.svg.twig" %}
        </a>
    </div>
    <div class="collapse" id="toggle-form">
        {{ form_start(form, {'attr': {'claas': 'js-matchmaking-form'}}) }}
        <p class="lr-title-3 lr-title-3--blue text-center">Filter par</p>
        <div class="matchmakingSearch styleguide">
            <p class="lr-title-3 lr-title-3--blue matchmakingSearch-filterLabel d-md-none">
                Filter par
                <a href="#toggle-form" class="matchmakingSearch-filterLabel-closeIcon d-md-none" role="button" data-toggle="collapse" >
                    <span class="sr-only">Fermer les filtres</span>
                </a>
            </p>
            <div class="matchmakingSearch-container container" id="accordion">

                <div class="matchmakingSearch-field container-input-large">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/trophy.svg.twig" %}
                        </div>
                        <div class="input-label">
                            {{ form_label(form.sports) }}
                        </div>
                        <div class="input-label-expandButton js-matchmakings-expandFilter d-md-none">
                            <a class="input-label-expandButton-btnPlus" data-toggle="collapse" href="#collapseSports" aria-expanded="false" aria-controls="collapseSports">
                                <span class="sr-only">Ouvrir le filtre des sports</span>
                            </a>
                        </div>
                    </div>

                    <div class="input-check collapse d-md-block" id="collapseSports" data-parent="#accordion">
                        <div class="container-choice-checkbox">
                            <div class="two-choice">
                                {% for sport in form.sports %}
                                    <div class="choice">
                                        {{ form_widget(sport) }}
                                        {{ form_label(sport) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="matchmakingSearch-field container-input-large">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/location.svg.twig" %}
                        </div>
                        <div class="input-label">
                            {{ form_label(form.localisation) }}
                        </div>
                        <div class="input-label-expandButton js-matchmakings-expandFilter d-md-none">
                            <a class="input-label-expandButton-btnPlus" data-toggle="collapse" href="#collapseLocation" aria-expanded="false" aria-controls="collapseLocation">
                                <span class="sr-only">Ouvrir le filtre des sports</span>
                            </a>
                        </div>
                    </div>
                    <div class="input-localisation collapse d-md-block" id="collapseLocation" data-parent="#accordion">
                        {{ form_widget(form.localisation, {'attr': {'class': 'js-autocomplete-localisation js-geolocalisation-input'}}) }}
                        {{ form_widget(form.latitude, {'attr': {'class': 'js-autocomplete-lat'}}) }}
                        {{ form_widget(form.longitude, {'attr': {'class': 'js-autocomplete-lng'}}) }}
                        <div class="location mt-2">
                            <div class="location-icone">
                                {% include "svg/location-arrow.svg.twig" %}
                            </div>
                            <div class="location-word">
                                <a href="#" class="js-geolocalisation-trigger">Me localiser</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="matchmakingSearch-field container-input-small">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/location-pin-alt.svg.twig" %}
                        </div>
                        <div class="input-label">
                            {{ form_label(form.perimeter) }}
                        </div>
                        <div class="input-label-expandButton js-matchmakings-expandFilter d-md-none">
                            <a class="input-label-expandButton-btnPlus" data-toggle="collapse" href="#collapsePerimeter" aria-expanded="false" aria-controls="collapsePerimeter">
                                <span class="sr-only">Ouvrir le filtre des sports</span>
                            </a>
                        </div>
                    </div>
                    <div class="input-text collapse d-md-block" id="collapsePerimeter" data-parent="#accordion">
                        {{ form_widget(form.perimeter, {'attr': {'class': 'input-range'}}) }}
                    </div>
                </div>

                <div class="matchmakingSearch-field container-input-small">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/calendar-alt.svg.twig" %}
                        </div>
                        <div class="input-label">
                            {{ form_label(form.datetime) }}
                        </div>
                        <div class="input-label-expandButton js-matchmakings-expandFilter d-md-none">
                            <a class="input-label-expandButton-btnPlus" data-toggle="collapse" href="#collapseDatetime" aria-expanded="false" aria-controls="collapseDatetime">
                                <span class="sr-only">Ouvrir le filtre des sports</span>
                            </a>
                        </div>
                    </div>
                    <div class="input-text collapse d-md-block position-relative" id="collapseDatetime" data-parent="#accordion">
                        {{ form_widget(form.datetime) }}
                    </div>
                </div>

                <div class="matchmakingSearch-field container-input-large">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/signal.svg.twig" %}
                        </div>
                        <div class="input-label">
                            {{ form_label(form.levels) }}
                        </div>
                        <div class="input-label-expandButton js-matchmakings-expandFilter d-md-none">
                            <a class="input-label-expandButton-btnPlus" data-toggle="collapse" href="#collapseLevel" aria-expanded="false" aria-controls="collapseLevel">
                                <span class="sr-only">Ouvrir le filtre des sports</span>
                            </a>
                        </div>
                    </div>
                    <div class="input-check collapse d-md-block" id="collapseLevel" data-parent="#accordion">
                        <div class="container-choice-checkbox">
                            <div class="two-choice">
                                {% for level in form.levels %}
                                    <div class="choice">
                                        {{ form_widget(level) }}
                                        {{ form_label(level) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="matchmakingSearch-field container-input-small">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/pricetag-alt.svg.twig" %}
                        </div>
                        <div class="input-label">
                            {{ form_label(form.max_price) }}
                        </div>
                        <div class="input-label-expandButton js-matchmakings-expandFilter d-md-none">
                            <a class="input-label-expandButton-btnPlus" data-toggle="collapse" href="#collapsePrice" aria-expanded="false" aria-controls="collapsePrice">
                                <span class="sr-only">Ouvrir le filtre des sports</span>
                            </a>
                        </div>
                    </div>
                    <div class="input-number collapse d-md-block" id="collapsePrice" data-parent="#accordion">
                        {{ form_widget(form.max_price, {'attr': {'class': 'max-price'}}) }}
                    </div>
                </div>

                <div class="matchmakingSearch-field container-input-small">
                    <div class="icone-label">
                        <div class="input-icone">
                            {% include "svg/clock.svg.twig" %}
                        </div>
                        <div class="input-label">
                            {{ form_label(form.duration) }}
                        </div>
                        <div class="input-label-expandButton js-matchmakings-expandFilter d-md-none">
                            <a class="input-label-expandButton-btnPlus" data-toggle="collapse" href="#collapseDuration" aria-expanded="false" aria-controls="collapseDuration">
                                <span class="sr-only">Ouvrir le filtre des sports</span>
                            </a>
                        </div>
                    </div>
                    <div class="input-number collapse d-md-block" id="collapseDuration" data-parent="#accordion">
                        {{ form_widget(form.duration, {'attr': {'class': 'max-price'}}) }}
                    </div>
                </div>
            </div>
            <div class="w-100">
                <button type="submit" class="btn-small--blue mr-auto ml-auto">
            <span class="word">
                Rechercher
            </span>
                    {% include "svg/search.svg.twig" %}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    {% if matchmakings.getTotalItemCount > 0 %}
        <div class="matchmakingSearch-infos d-flex">
        <span class="matchmakingSearch-infos-count d-md-block d-none">
            {% if matchmakings.getTotalItemCount > 1 %}
                {{ matchmakings.getTotalItemCount }} résultats de recherche
            {% else %}
                1 résultat de recherche
            {% endif %}
        </span>
            <a href="#" class="btn-small--blue ml-md-auto mr-md-0 mr-auto ml-auto"> {#TODO: Ajouter le lien vers le formulaire de création de rencontre#}
                <span class="word">
                Créer une rencontre
            </span>
                {% include "svg/plus-circle.svg.twig" %}
            </a>
        </div>
        <div class="container-sample matchmaking-list">
            {% for mm in matchmakings %}
                <div class="content-sample">
                    <div class="container-picture">
                        {% if mm.sport.name == 'Padel' %}
                            <img src="{{asset('images/png/matchmaking-padel.jpg')}}" title="padel" alt="padel" class="picture">
                        {% elseif mm.sport.name == 'Tennis' %}
                            <img src="{{asset('images/png/matchmaking-tennis.jpg')}}" title="tennis" alt="tennis" class="picture">
                        {% elseif mm.sport.name == 'Badminton' %}
                            <img src="{{asset('images/png/matchmaking-badminton.jpg')}}" title="badminton" alt="badminton" class="picture">
                        {% elseif mm.sport.name == 'Squash' %}
                            <img src="{{asset('images/png/matchmaking-squash.jpg')}}" title="squash" alt="squash" class="picture">
                        {% endif %}
                        {% if mm.price %}
                            <div class="pastille-a-partir-de">
                                {% include "svg/pricetag-alt.svg.twig" %}
                                <div class="tarif-minimal">
                                    A partir de {{ mm.price }} €
                                </div>
                            </div>
                        {% endif %}
                        {% if mm.maxPlayer %}
                            <div class="pastille-nbr-place-dispo">
                                {% include "svg/user-circle.svg.twig" %}
                                <div class="nbr-place-dispo">
                                    Places dispos. {{ mm.maxPlayer }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="container-text">
                        <div class="title">
                            {{ mm.court.user.commercialName }}
                        </div>
                        {% if mm.start %}
                            <div class="date">
                                {% include "svg/calendar-alt.svg.twig" %}
                                <div class="date-text">
                                    {{ mm.start|date("d/m/y - h:i") }}
                                </div>
                            </div>
                        {% endif %}
                        {% if mm.court.address.street %}
                            <div class="address">
                                {% include "svg/location.svg.twig" %}
                                <div class="address-text">
                                    {{ mm.court.address.street }} - {{ mm.court.address.city }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="container-sport-level">
                            {% if mm.sport.name %}
                                <div class="sport">
                                    {% include "svg/game.svg.twig" %}
                                    <div class="sport-text">
                                        {{ mm.sport.name }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if mm.level.label %}
                                <div class="level">
                                    {% include "svg/signal.svg.twig" %}
                                    <div class="level-text">
                                        {{ mm.level.label }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="container-button">
                            <a href="{{ path('who_to_play_with_show', { 'id': mm.id }) }}" class="discover-button">
                                <div class="word">
                                    Découvrir
                                </div>
                                {% include "svg/search.svg.twig" %}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="lr-pagination">
                <div class="pagination">
                    {{ knp_pagination_render(matchmakings) }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container mt-5">
            <p class="lr-title-1">Aucun résultats de recherche</p>
            <p>Aucune rencontre n'a été trouvée, veuillez modifier vos critères de recherche.</p>
        </div>
    {% endif %}
{% endblock %}