// =============================================================================
// PARTNER NEW SHOP SERVICE
// =============================================================================

@import '../../bases/variables';
@import '../../bases/fonts';



// Partner new shop service
// ===================================================================

.partner-new-shop-service {
  .new-shop-title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  label.required:after {
    content: "*";
    color: $red;
  }

  .upload-photo {
    width: 101%;
  }

  .small-address-input {
    .container-input-small {
      .input-text {
        min-width: inherit;
      }
    }
  }

  .big-address-input {
    .container-input-small {
      max-width: inherit;
      .input-text {
        min-width: inherit;
        width: 100%;
      }
    }
  }

  .form-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .save-btn, .cancel-btn {
    width: 160px;
    height: 31px;
    display: inline-block;
    text-align: center;
  }
}