// =============================================================================
// PARTNER NEW STRINGER SERVICE
// =============================================================================

@import '../../bases/variables';
@import '../../bases/fonts';



// Partner new stringer service
// ===================================================================

.partner-new-stringer-service {
  .mt-10-percent{
    margin-top: 10%;
  }
  .mt-13-percent{
    margin-top: 13%;
  }
  .minw-unset{
    min-width: unset!important;
  }
  .maxw-unset{
    max-width: unset!important;
  }
  .w-30-percent{
    width: 30% !important;
  }
  @media screen and (min-width: $max-xxs-bkpt) and (max-width: $max-sm-bkpt) {
    .mt-xs-6{
      margin-top: 2rem!important;
    }
  }
  .weight-label{
    font-size: 11px;
  }
  .input-time{
    font-size: 11px!important;
  }
  .mr-sport-choice label{
    margin-right: 1.5rem;
  }
  #racquet_stringer_paymentMethod label{
    margin-right: 20px;
  }
  label.required:after, .required-field {
    content: "*";
    color: $red;
  }
}