// =============================================================================
// PARTNER LIST SERVICES
// =============================================================================

@import '../../bases/variables';
@import '../../bases/fonts';
@import '../../bases/mixins';
@import '../../components/buttons';
@import '../../components/_cards.scss';



// Partner list services
// ===================================================================

.partner-list-services {

  .page-header { // also .lr-title-1--dark-blue--icon-dark-blue
    background: $white;
    margin: 45px 0 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    svg {
      width: 30px;
    }
    .title {
    }
  }
}

.container-sample {

  .pagination-sample {
    width: 450px;
    background-color: inherit;
    margin: 40px 40px;
    border-radius: 10px;

    @media (max-width: $max-sm-bkpt) {
      width: 250px;
    }


    .pagination {

      .wf_pagination {
        width: 100%;

        .wf_center {

          ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media (max-width: $max-sm-bkpt) {
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }

            li {

              &.wf_previous {
                @include btn-pagination-previous;
              }

              &.wf_active {
                @include btn-pagination-active;
              }

              &.wf_next {
                @include btn-pagination-next;
              }
            }

            li:not([class]) {
              @include btn-pagination-inactive;

              a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
}

.container-create-new-court-button {
  display: flex;
  justify-content: flex-end;
  padding: 0 70px 50px 0;
}