{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/vagrant/la-raquette/app/src/Controller/BlogController.php'|file_link(0) }}">src/Controller/BlogController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/vagrant/la-raquette/app/templates/blog/index.html.twig'|file_link(0) }}">templates/blog/index.html.twig</a></code></li>
    </ul>

    {% for article in articles %}
        <div class="row">
            <h2>{{ article.title }}</h2>
            <p>{{ article.content | raw}}</p>
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>

</div>
{% endblock %}
