// =============================================================================
// STYLEGUIDE
// =============================================================================

@import "../bases/variables";

.styleguide {

    pre {
        width: 350px;
    }

    .section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .section__item {
            width: 350px;
            margin: 0 20px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                margin-bottom: 0;
            }
            @mixin color-sample(){
                height: 40px;
                width: 80px;
                border: 1px solid $black;
            }
            .color-sample--celeste-blue {
                @include color-sample();
                background-color: $celeste-blue;
            }
            .color-sample--cyan-blue {
                @include color-sample();
                background-color: $cyan-blue;
            }
            .color-sample--bleuet-blue {
                @include color-sample();
                background-color: $bleuet-blue;
            }
            .color-sample--safran-yellow {
                @include color-sample();
                background-color: $safran-yellow;
            }
            .color-sample--black {
                @include color-sample();
                background-color: $black;
            }
            .color-sample--white {
                @include color-sample();
                background-color: $white;
                border: 1px solid $black;
            }
            .color-sample--red {
                @include color-sample();
                background-color: $red;
            }
            .color-sample--green {
                @include color-sample();
                background-color: $green;
            }
            .color-sample--x-light-grey {
                @include color-sample();
                background-color: $x-light-grey;
            }
            .color-sample--light-grey {
                @include color-sample();
                background-color: $light-grey;
            }
            .color-sample--grey {
                @include color-sample();
                background-color: $grey;
            }
            .color-sample--dark-grey {
                @include color-sample();
                background-color: $dark-grey;
            }
            .color-sample--x-dark-grey {
                @include color-sample();
                background-color: $x-dark-grey;
            }
        }
    }
    .section-inputs {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 400px;
    }
}

@media screen and (max-width: $max-md-bkpt) {
    .styleguide {
        .section-inputs {
            flex-direction: column;
            align-items: center;

            .container-input-small, .container-input-large, .container-input-extra-large {
                margin: 50px 0 0 0;
            }
        }
    }
}