// =============================================================================
// USER PUBLIC PROFILE
// =============================================================================

@import '../bases/variables';
@import '../bases/fonts';
@import '../bases/mixins';



// Change Password Profile
// ===================================================================

.container-content-change-password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;

  .bloc-change-password {
    width: 450px;

    form {
      display: flex;
      flex-direction: column;

      .bloc-current-password, .bloc-new-password, .bloc-confirmation-new-password {
        margin: 0 0 40px 0;

        label {
          font-family: Overpass-SemiBold;
          font-size: 13px;
        }

        .bloc-input-text {
          @include input-text;
        }
      }
    }
  }
}

.bloc-error-message {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 16px;
  width: 100%;

  .alert {
    margin: 0.5% 5%;
    position: unset;
  }
}
