/* ----------------------------- */
/* ----- MATCHMAKING LIST ------ */
/* ----------------------------- */

@import '../bases/variables';


/* CARD CONTAINER */
.matchmakingSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -50px;

  &-container {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &-field {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    margin-bottom: 30px;

    &:nth-of-type(4n-9), &:nth-of-type(4n-10) {
      margin-left: 5%;
      margin-right: 5%;
    }


    .input-check {
      .container-choice-checkbox {
        .two-choice {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;

          .choice {
            width: 50%;
          }
        }
      }
    }

    .input-label {
      flex-direction: row;
      position: relative;

      &-expandButton {
        position: absolute;
        width: 20px;
        right: 0px;

        &-btnPlus, &-btnMinus {
          background-color: $white;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
          border: 2px solid $black;

          &:before, &:after {
            position: absolute;
            content: ' ';
            left: 9px;
            top: 5px;
            height: 10px;
            width: 2px;
            background-color: $black;
          }
          &:before {
            transform: rotate(90deg);
          }
        }

        &-btnMinus {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .input-localisation {
    width: 100%;
    min-width: 100%;
    margin-bottom: 10px;
  }

  &-filterLabel {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .bootstrap-datetimepicker-widget {
    display: block;
    position: absolute;
  }
}

.matchmakingSearch-toggleButton {
  display: flex;
  position: relative;
  margin-top: 50px;

  a {
    position: absolute;
    right: 0;
  }
}

.matchmakingSearch-infos {
  margin-top: 70px;
  padding-left: 8%;
  padding-right: 8%;
  &-count {
    opacity: 0.6;
  }
}

@media (max-width: $max-lg-bkpt) {

  .matchmakingSearch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -50px;

    &-container {
      flex-direction: row;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &-field {
      display: flex;
      flex-direction: column;
      width: 45%;
      max-width: 45%;
      min-width: 45%;
      margin-bottom: 30px;

      &:nth-of-type(4n-9), &:nth-of-type(4n-10) {
        margin-left: 0;
        margin-right: 0;
      }
      &:nth-of-type(even){
        margin-left: 5%;
      }
      &:nth-of-type(odd){
        margin-right: 5%;
      }

      .input-check {
        .container-choice-checkbox {
          .two-choice {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .choice {
              width: 50%;
            }
          }
        }
      }
    }

    .input-localisation {
      width: 100%;
      min-width: 100%;
      margin-bottom: 10px;
    }
  }

  .matchmakingSearch-toggleButton {
    display: flex;
    position: relative;
    margin-top: 50px;

    a {
      position: absolute;
      right: 0;
    }
  }

  .matchmakingSearch-infos {
    margin-top: 70px;

    &-count {
      opacity: 0.6;
    }
  }
}


@media (max-width: $max-sm-bkpt) {

  .matchmakingSearch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -50px;
    position: absolute;
    width: 95vw;
    z-index: 110;
    background: $white;
    top: 0;
    bottom: 0;
    padding-top: 80px;
    align-content: flex-start;
    box-shadow: 0px 0px 8px $light-grey;


    &-container {
      flex-direction: row;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-left: 30px;
      padding-right: 30px;
    }

    &-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      padding-bottom: 10px;
      width: 100%;
      max-width: none;
      position: relative;

      &:nth-of-type(3n-1){
        margin-left: 0;
        margin-right: 0;
      }
      &:nth-of-type(even){
        margin-left: 0;
      }
      &:nth-of-type(odd){
        margin-right: 0;
      }

      .input-label {
        label {
          font-size: 15px;
        }
      }

      &:after {
        content: ' ';
        height: 1px;
        background: $light-grey;
        position: absolute;
        bottom: 0;
        width: calc(100% + 30px);
      }
    }

    .input-check {
      .container-choice-checkbox {
        .two-choice {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;

          .choice {
            width: 50%;
          }
        }
      }
    }

    &-filterLabel {
      font-size: 22px;
      text-align: center;
      width: 100%;

      &-closeIcon {
        position: absolute;
        right: 30px;
        top: 70px;
        width: 45px;
        height: 45px;
        border: 1px solid $celeste-blue;
        border-radius: 50%;
        box-shadow: 1px 4px 8px $light-grey;
        transition: all .5s;

        &:hover, &:focus {
            transform: rotate(-90deg);
        }

        &:before, &:after {
          position: absolute;
          left: 21px;
          top: 11px;
          content: ' ';
          height: 20px;
          width: 1px;
          background-color: $celeste-blue;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .input-localisation {
    width: 100%;
    min-width: 100%;
    margin-bottom: 10px;
  }

  .matchmakingSearch-toggleButton {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 50px;

    a {
      position: relative;
      right: 0;
    }
  }

  .matchmakingSearch-infos {
    margin-top: 70px;

    &-count {
      opacity: 0.6;
    }
  }
}