// =============================================================================
// RESET PASSWORD
// =============================================================================

@import '../bases/variables';
@import '../bases/fonts';
@import '../bases/mixins';



// Reset password
// ===================================================================

// PAGE RESET PASSWORD
.container-reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;

  .bloc-reset-password-step-2 {
    width: 450px;

    form {
      display: flex;
      flex-direction: column;

      .bloc-new-password, .bloc-confirmation-new-password {
        margin: 0 0 40px 0;

        label {
          font-family: Overpass-SemiBold;
          font-size: 13px;
        }

        .bloc-input-text {
          @include input-text;
        }
      }
    }
  }

  .bloc-reset-password {
    display: flex;
    flex-direction: column;

    .container-input-extra-large {
      margin: 20px 0 0 0;
    }
  }
}

.bloc-error-message {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 16px;
  width: 100%;

  .alert {
    margin: 0.5% 5%;
    position: unset;
  }
}

