{% extends 'user/user-base.html.twig' %}

{% block partner_body %}
    <div class="user-edit-matchmaking">
        <div class="row">
            Edit ma rencontre
        </div>
    </div>
{% endblock %}