{% extends 'user/user-base.html.twig' %}

{% block partner_body %}
    <div class="user-edit-subscriptions">
        <div class="row">
            Edit subscriptions
        </div>
    </div>
{% endblock %}