{% extends 'base.html.twig' %}

{% block body %}
    <div class="account-content-wrapper">
        <div class="container-fluid">
            <div class="row account-content-inner">
                {% include "user/user-menu.html.twig" %}
                <div class="account-content-overlay"></div>
                <div class="col-12 col-md-9 col-xl-10">
                    {% block partner_body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}