{% block title %}{% endblock %}

{% block usermenu %}
    <div class="account-sidebar-menu col-11 col-md-3 col-xl-2" id="account-sidebar-menu">
        <div class="menu__person">
            <div class="account-sidebar-menu-close" id="account-sidebar-menu-close">
                {% include "svg/angle-right.svg.twig" %}
            </div>
            <div class="img-wrapper">
                <img class="" src="https://i.picsum.photos/id/605/200/200.jpg">{# TODO Include l'image du user #}
                <a href="#">
                    {% include "svg/edit-alt.svg.twig" %}
                </a>
            </div>
            {#<p>{{ user.firstName }} {{ user.lastName }}</p>#} {# TODO Décommenter quand connexion fonctionne #}
        </div>

        <nav class="menu__nav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path ('fos_user_profile_edit') }}" class="nav-link{% if active is defined and
                        active == 'edit-profile' %} active{% endif %}">
                    {# TODO Add right route from FOSuserbundle in href + active value #}
{#                    <a href="" class="nav-link">#}
                        {% include "svg/user.svg.twig" %}
                        <span>Gérer mon compte</span>
                        {% include "svg/angle-right.svg.twig" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path ('user_matchs') }}" class="nav-link{% if active is defined and active ==
                        'matchs' %} active{% endif %}">
                        {% include "svg/users-alt.svg.twig" %}
                        <span>Mes rencontres</span>
                        {% include "svg/angle-right.svg.twig" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path ('user_edit_subscriptions') }}" class="nav-link{% if active is defined and
                        active == 'subscriptions' %} active{% endif %}">
                        {% include 'svg/comments.svg.twig' %}
                        <span>Mes communications</span>
                        {% include "svg/angle-right.svg.twig" %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}