// =============================================================================
// USER EDIT PROFILE
// =============================================================================

@import '../../bases/variables';
@import '../../bases/fonts';
@import '../../bases/mixins';



// User edit profile
// ===================================================================

.user-edit-profile {

}

.logged-in-as-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-family: Overpass-SemiBold;
  font-size: 20px;

  .logged-in-as {
    span {
      color: $celeste-blue;
    }
  }

  .user-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

