// =============================================================================
// USER SIDEBAR REGISTER
// =============================================================================

@import '../../bases/variables';
@import '../../bases/fonts';



// User sidebar register
// ===================================================================


.user-sidebar {
  width: 360px;
  border: none;
  border-radius: 16px;
  padding: 20px 50px;
  left: -315px !important;
  top: 86px !important;
  transform: none !important;
  position: absolute;
  background-color: $white;

  .triangle {
    position: absolute;
    top: -15px;
    right: 25px;
    background-color: $white;
    text-align: left;
    transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
    width:  1em;
    height: 1em;
    border-top-right-radius: 30%;

    &:after, &:before {
      content: '';
      position: absolute;
      background-color: inherit;
      width:  1em;
      height: 1em;
      border-top-right-radius: 30%;
    }

    &:before {
      transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
    }

    &:after {
      transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
    }
  }

  .btn-small--blue {
    width: 180px;
    margin-left: auto;
    margin-right: auto;

    .word {
      width: 100%;
      text-align: center;
    }

    svg {
      path {
        fill: white;
      }
    }

    &:hover {
      svg {
        path {
          fill: $celeste-blue;
        }
      }
    }
  }

  &-login, &-register {
    &-title {
      font-family: "Overpass-Light", Arial, sans-serif;
      font-size: 24px;
      font-weight: 300;
      text-align: center;
      color: $celeste-blue;
    }
  }

  &-login {

    &-hr {
      width: 50%;
      border-color: $celeste-blue;
      margin: 25px auto 20px auto;
    }

    &-text {
      font-size: 14px;
      text-align: center;
    }
  }

  &-register {
    position: relative;
    &-return {
      height: 1.6rem;
      width: 1.6rem;
      position: absolute;
      top: 2px;
      fill: $celeste-blue;
      transform: rotate(180deg);
    }
  }

  .container-input-small {
    max-width: 100%;
    width: 100%;
    .input-text {
      width: 100%;
      &--password {
        margin-bottom: 10px;
      }
    }
  }

  .location {
    text-align: right;
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
  }
}

.dropdown-toggle::after {
  display: none;
}

@media (max-width: 768px) {
  .user-sidebar {
    width: 100vw;
    left: 0 !important;
    position: fixed !important;
    top: 60px !important;

    .triangle {
      display: none;
    }
  }
}


